<template>
     <div class="about-panel-container component-container p-lg-5">
          <div class="page-header mb-10">
               <h2 class="text-h5 font-weight-bold">About Panels</h2>
               <v-dialog v-model="modalForm" transition="dialog-top-transition" persistent max-width="600px">
                    <template v-slot:activator="{ on, attrs }">           
                         <v-btn v-bind="attrs" v-on="on" outlined color="#6a994e"><v-icon class="pr-1">mdi-plus</v-icon> Add panel</v-btn>
                    </template>
                    <v-card class="pb-5">
                         <v-card-title class="headline grey lighten-2">
                              About Panel Form
                         </v-card-title>
                         <v-card-text>
                              <v-container>
                                   <v-form ref="form" v-model="isValid" lazy-validation>
                                        <v-text-field v-model="data.title" label="* Enter Panel Title" :rules="titleRules" required></v-text-field>                                        
                                   </v-form>
                              </v-container>
                         </v-card-text>
                         <v-card-actions>
                              <v-spacer></v-spacer>
                              <v-btn class="mr-4" @click="closeForm">
                              Close
                              </v-btn>
                              <v-btn color="primary" class="mr-4" @click="validateForm" :disabled="!isValid">
                              Save
                              </v-btn>
                         </v-card-actions>
                    </v-card>
               </v-dialog>
          </div>
          <!-- Panels -->
          <v-card class="mx-auto mb-5" v-for="(panel, i) in panels" :key="i">
               <v-app-bar color="#F5F5F5">
                    <v-toolbar-title v-text="panel.title"></v-toolbar-title>
                    <v-spacer></v-spacer>
                    <v-btn icon color="#6a994e" @click="showAddSectionForm( panel )">
                         <v-icon>mdi-plus</v-icon>
                    </v-btn>
                    <v-btn icon color="cyan" @click="showEditForm( panel, isPanel = true )">
                         <v-icon>mdi-pencil</v-icon>
                    </v-btn>
                    <v-btn icon color="pink" @click="showDeleteModal( panel, isPanel = true )">
                         <v-icon>mdi-delete</v-icon>
                    </v-btn>
               </v-app-bar>

               <v-container>
                    <v-row dense>
                         <v-col cols="12" v-for="(section, i) in panel.about_panel_sections" :key="i" class="my-1">
                              <v-card color="#f6f2e9">
                                   <div class="d-flex flex-no-wrap justify-space-between">
                                        <div>
                                             <v-card-title class="text-h5" v-text="section.title"></v-card-title>
                                             <v-card-subtitle v-html="section.description"></v-card-subtitle>
                                             <v-card-actions>
                                                  <v-btn icon color="cyan" @click="showEditForm( section, isPanel = false )">
                                                       <v-icon>mdi-pencil</v-icon>
                                                  </v-btn>

                                                  <v-btn icon color="pink" @click="showDeleteModal( section, isPanel = false )">
                                                       <v-icon>mdi-delete</v-icon>
                                                  </v-btn>
                                             </v-card-actions>
                                        </div>
                                        <v-avatar class="ma-3" size="125" tile >
                                             <v-img :src="section.image_path" :alt="section.title"></v-img>
                                        </v-avatar>

                                   </div>
                              </v-card>
                         </v-col>
                    </v-row>
               </v-container>
          </v-card>

          <!-- Panel Section Modal -->
          <v-dialog v-model="sectionModalForm" transition="dialog-top-transition" persistent max-width="600px">
               <v-card class="pb-5">
                    <v-card-title class="headline grey lighten-2">
                         About Panel Section Form
                    </v-card-title>
                    <v-card-text>
                         <v-container>
                              <v-form ref="sectionForm" v-model="isValid" lazy-validation>
                                   <v-row>
                                        <v-col cols="12">
                                             <v-text-field v-model="section.title" label="* Enter Title" :rules="titleRules" required></v-text-field>
                                        </v-col>
                                        <v-col cols="12">
                                             <vue-editor v-model="section.description"></vue-editor>
                                        </v-col>
                                        <v-col cols="2" class="p-1" v-if="edit && imageHolder">
                                             <img :src="imageHolder" :alt="section.title" class="img-fluid"/>
                                        </v-col>
                                        <v-col cols="10">
                                             <v-btn @click="showUpload = true" v-if="imageHolder && !showUpload">
                                                  Change
                                             </v-btn>
                                             <div v-else>
                                                  <v-file-input
                                                       ref="upload"
                                                       :headers="{ 'x-csrf-token': token, 'X-Requested-With' : 'XMLHttpRequest'}"
                                                       :rules="imageRules"
                                                       accept="image/png, image/jpeg, image/jpg"
                                                       label="Upload Featured Image"
                                                       prepend-icon="mdi-camera"
                                                       small-chips
                                                       clear-icon="mdi-delete"                                                       
                                                       @change="selectFile">
                                             </v-file-input>
                                             </div>
                                        </v-col>
                                   </v-row>
                              </v-form>
                         </v-container>
                    </v-card-text>
                    <v-card-actions>
                         <v-spacer></v-spacer>
                         <v-btn class="mr-4" @click="closeForm">
                         Close
                         </v-btn>
                         <v-btn color="primary" class="mr-4" @click="validateSectionForm" :disabled="!isValid">
                         Save
                         </v-btn>
                    </v-card-actions>
               </v-card>
          </v-dialog>
          <!-- Snackbar -->
          <v-snackbar v-model="snackbar.display" :multi-line="snackbar.multiLine" :timeout="2000" top :color="snackbar.color">
               {{ snackbar.text }}
               <template v-slot:action="{ attrs }">
                    <v-btn text color="white" v-bind="attrs" @click="snackbar.display = false">Close</v-btn>
               </template>
          </v-snackbar>
          <!-- Delete Modal -->
          <v-dialog v-model="deleteModal" persistent max-width="290">
               <v-card>
                    <v-card-title class="headline"> Delete confirmation </v-card-title>
                    <v-card-text>Are you sure you want to delete this item?</v-card-text>
                    <v-card-actions>
                         <v-spacer></v-spacer>
                         <v-btn color="green darken-1" text @click="closeModal">
                              Cancel
                         </v-btn>
                         <v-btn color="green darken-1" text :loading="isDeleting" :disabled="isDeleting" @click="deleteItem" >
                              {{ isDeleting ? "Deleting..." : "Delete" }}
                         </v-btn>
                    </v-card-actions>
               </v-card>
          </v-dialog>
     </div>
</template>
<script>
export default {
     data() {
          return {
               panels: [],
               data: {
                    title: '',
               },
               defaultData: {
                    title: '',
               },
               section: {
                    title: '',
                    description: '',
                    image_path: null,
               },
               defaultSection: {
                    title: '',
                    description: '',
                    image_path: null,
               },
               titleRules: [
                    value => !!value || 'Name is required.',
                    value => (value && value.length > 5 ) || 'Name must be greater than 5 characters.',
               ],
               imageRules: [
                    value => !value || value.size < 2000000 || 'Image size should be less than 2 MB.',
                    value => (!value || (value.type == 'image/jpg' || value.type == 'image/png' || value.type == 'image/jpeg')) || 'The image format is invalid'
               ],
               edit: false,
               editSection: false,
               modalForm: false,
               sectionModalForm: false,
               isValid: true,
               snackbar: {
                    display: false,
                    color: '',
                    text: '',
                    multiLine: true,
               },
               imageHolder: null,
               showUpload: true,
               deleteModal: false,
               itemToDelete: '',
               isDeleting: false,
               imageToDelete: null,
               isPanel: true,
          }
     },
     created() {
          this.token = window.Laravel.csrfToken;
          this.getPanels();
     },
     methods: {
          async getPanels() {
               const res = await this.callApi("get", "api/about/panels");
               if (res.status === 200) {
                    this.panels = res.data;
               } else {
                    this.snackbar.text = "Something Went Wrong";
                    this.snackbar.color = "error";
                    this.snackbar.display = true;
               }
          },
          async selectFile(e){
               if(this.$refs.upload.validate() && e){
                    const data = new FormData();
                    data.append('file', e);
                    const res = await this.callApi("post", `api/upload`, data);
                    if(res.status == 200) {
                         this.section.image_path = res.data;
                    }
               } else {
                    if( this.edit ){
                         this.section.image_path = this.imageHolder;
                    } else {
                         this.section.image_path = null;
                    }
               }
          },
          validateForm() {
               const valid = this.$refs.form.validate()
               if( valid ) {
                    if( !this.edit ) {
                         this.addPanel()
                    } else {
                         this.update()
                    }
               }   
          },
          async addPanel() {
               this.token = window.Laravel.csrfToken;
               const res = await this.callApi("post", "api/about/panel", this.data);
               if (res.status === 200) {
                    this.data = Object.assign( {}, this.defaultData );
                    this.snackbar.text = "About panel has been added.";
                    this.snackbar.color = '#6a994e';
                    this.snackbar.display = true;
                    this.closeForm();
                    this.getPanels();
               } else {
                    this.snackbar.color = "error";
                    if (res.status == 422) {
                         for (let i in res.data.errors) {
                              this.snackbar.text = res.data.errors[i][0];
                              this.snackbar.display = true;
                         }
                    } else {
                         this.snackbar.text = "Something Went Wrong";
                         this.snackbar.display = true;
                    }
               }
          },
          showEditForm( item, isPanel ) {
               if( isPanel ) {
                    this.data = Object.assign( {}, item );
                    this.modalForm = true;
               } else {
                    this.section = Object.assign( {}, item )
                    this.sectionModalForm = true;
                    this.imageHolder = item.image_path;
               }
               this.isPanel = isPanel;
               this.edit = true;
               this.showUpload = false;
          },
          async update() {
               this.token = window.Laravel.csrfToken;
               let url;
               let data;
               if ( this.isPanel ) {
                    url = `api/about/panel/${this.data.id}`
                    data = this.data
               } else {
                    url = `api/about/panel/section/${this.section.id}`
                    data = this.section
               }
               const res = await this.callApi("patch", url, data);
               if (res.status === 200) {
                    let snackbarText;
                    if ( this.isPanel ) {
                         this.data = Object.assign( {}, this.defaultData );
                         snackbarText = "About panel has been updated."
                    } else {
                         this.section = Object.assign( {}, this.defaultSection );
                         snackbarText = "About panel section has been updated."
                    }
                    this.snackbar.text = snackbarText;
                    this.snackbar.color = "#6a994e";
                    this.snackbar.display = true;
                    this.isPanel = true;
                    this.closeForm();
                    this.getPanels();
               } else {
                    this.snackbar.color = "error";
                    if (res.status == 422) {
                         for (let i in res.data.errors) {
                              this.snackbar.text = res.data.errors[i][0];
                              this.snackbar.display = true;
                         }
                    } else {
                         this.snackbar.text = "Something went wrong.";
                         this.snackbar.display = true;
                    }
               }
          },
          showDeleteModal( item, isPanel ) {
               this.deleteModal = true;
               this.itemToDelete = item.id;
               this.isPanel = isPanel;         
          },
          async deleteItem(){
               this.token = window.Laravel.csrfToken;
               this.isDeleting = true;
               let url;
               if ( this.isPanel ) {
                    url = `api/about/panel/${this.itemToDelete}`
               } else {
                    url = `api/about/panel/section/${this.itemToDelete}`
               }
               const res = await this.callApi("delete", url)
               if( res.status === 200 ) {
                    this.snackbar.text = this.isPanel ? "About panel has been deleted." : "About panel section has been deleted.";
                    this.snackbar.color = "#6a994e";
                    this.itemToDelete = "";
                    this.deleteModal = false;   
                    this.getPanels();
               } else {
                    this.snackbar.text = "Something went wrong.";
                    this.snackbar.color = "error";
               }
               this.isPanel = true;
               this.snackbar.display = true
               this.isDeleting = false
          },
          async removeImageFromServer( image ) {
               const res = await this.callApi("post", "api/remove_upload", { imageName: image });
               if (res.status != 200) {
                    this.imageName = image;
                    this.snackbar.text = "Something went wrong.";
                    this.snackbar.color = "error";
                    this.snackbar.display = true
               }
          },
          closeForm() {
               this.data = Object.assign( {}, this.defaultData );
               this.section = Object.assign( {}, this.defaultSection );
               this.isPanel ? this.$refs.form.reset() : this.$refs.sectionForm.reset();               
               this.modalForm = false;
               this.sectionModalForm = false;
               this.isPanel = true;
               this.edit = false;
               this.imageHolder = null;
               this.showUpload = true;
          },
          closeModal() {
               this.deleteModal = false;
          },
          showAddSectionForm( panel ) {
               this.data = Object.assign( {}, panel );
               this.sectionModalForm = true;
               this.isPanel = false;
          },
          validateSectionForm() {
               const valid = this.$refs.sectionForm.validate()
               if( valid ) {
                    if( !this.edit ) {
                         this.addPanelSection()
                    } else {
                         this.update()
                    }
               }   
          },
          async addPanelSection() {
               this.token = window.Laravel.csrfToken;
               const res = await this.callApi("post", `api/about/panel/section/${this.data.id}`, this.section);
               if (res.status === 200) {
                    this.data = Object.assign( {}, this.defaultData );
                    this.section = Object.assign( {}, this.defaultSection );
                    this.snackbar.text = "About panel section has been added.";
                    this.snackbar.color = '#6a994e';
                    this.snackbar.display = true;
                    this.closeForm();
                    this.getPanels();
               } else {
                    this.snackbar.color = "error";
                    if (res.status == 422) {
                         for (let i in res.data.errors) {
                              this.snackbar.text = res.data.errors[i][0];
                              this.snackbar.display = true;
                         }
                    } else {
                         this.snackbar.text = "Something Went Wrong";
                         this.snackbar.display = true;
                    }
               }
          },
     },
}
</script>