<template>
     <div class="about-section-container component-container p-lg-5">
          <div class="page-header mb-10">
               <h2 class="text-h5 font-weight-bold">About Sections</h2>
               <v-dialog v-model="modalForm" transition="dialog-top-transition" persistent max-width="600px">
                    <template v-slot:activator="{ on, attrs }">           
                         <v-btn v-bind="attrs" v-on="on" outlined color="#6a994e"><v-icon class="pr-1">mdi-plus</v-icon> Add section</v-btn>
                    </template>
                    <v-card class="pb-5">
                         <v-toolbar color="primary" dark>About Section Form</v-toolbar>
                         <v-card-text>
                              <v-container>
                                   <v-form ref="form" v-model="isValid" lazy-validation>
                                        <v-row>
                                             <v-col cols="12">
                                                  <v-text-field v-model="data.title" label="* Enter Title" :rules="titleRules" required></v-text-field>
                                             </v-col>
                                             <v-col cols="12">
                                                  <vue-editor v-model="data.description"></vue-editor>
                                             </v-col>
                                             <v-col cols="2" class="p-1" v-if="edit && imageHolder">
                                                  <img :src="imageHolder" :alt="data.title" class="img-fluid"/>
                                             </v-col>
                                             <v-col cols="10">
                                                  <v-btn @click="showUpload = true" v-if="imageHolder && !showUpload">
                                                       Change
                                                  </v-btn>
                                                  <div v-else>
                                                       <v-file-input
                                                            ref="upload"
                                                            :headers="{ 'x-csrf-token': token, 'X-Requested-With' : 'XMLHttpRequest'}"
                                                            :rules="imageRules"
                                                            accept="image/png, image/jpeg, image/jpg"
                                                            label="Upload Featured Image"
                                                            prepend-icon="mdi-camera"
                                                            small-chips
                                                            clear-icon="mdi-delete"                                                       
                                                            @change="selectFile">
                                                  </v-file-input>
                                                  </div>
                                             </v-col>
                                        </v-row>
                                   </v-form>
                              </v-container>
                              <small>* Required field</small>
                         </v-card-text>
                         <v-card-actions>
                              <v-spacer></v-spacer>
                              <v-btn class="mr-4" @click="closeForm">
                              Close
                              </v-btn>
                              <v-btn color="primary" class="mr-4" @click="validateForm" :disabled="!isValid">
                              Save
                              </v-btn>
                         </v-card-actions>
                    </v-card>
               </v-dialog>
          </div>

          <!-- Sections -->
          <v-card class="mb-5" color="#F5F5F5" v-for="(section, i) in sections" :key="i">
               <v-row dense>
                    <v-col cols="12" sm="5">
                         <template>
                              <v-img
                                   v-if="section.image_path"
                                   :src="section.image_path"
                                   :alt="section.name"
                                   max-height="200px"
                                   contain
                                   class="grey darken-4"
                                   >
                              </v-img>
                              <v-img
                                   v-else
                                   src="/uploads/no_image.jpg"
                                   max-height="200px"
                                   contain
                                   class="grey darken-4"
                                   >
                              </v-img>
                         </template>                         
                    </v-col>
                    <v-col cols="12" sm="7">
                         <v-card-title class="pt-0" v-text="section.title"></v-card-title>
                         <div class="description px-4 mb-5" v-html="section.description"></div>
                    </v-col>
                    <v-col cols="12">
                         <v-card-actions>
                              <v-spacer></v-spacer>
                              <v-btn icon color="cyan" @click="showEditForm( section )">
                                   <v-icon>mdi-pencil</v-icon>
                              </v-btn>

                              <v-btn icon color="pink" @click="showDeleteModal( section )">
                                   <v-icon>mdi-delete</v-icon>
                              </v-btn>
                         </v-card-actions>
                    </v-col>
               </v-row>
          </v-card>

          <!-- Snackbar -->
          <v-snackbar v-model="snackbar.display" :multi-line="snackbar.multiLine" :timeout="2000" top :color="snackbar.color">
               {{ snackbar.text }}
               <template v-slot:action="{ attrs }">
                    <v-btn text color="white" v-bind="attrs" @click="snackbar.display = false">Close</v-btn>
               </template>
          </v-snackbar>
          <!-- Delete Modal -->
          <v-dialog v-model="deleteModal" persistent max-width="290">
               <v-card>
                    <v-card-title class="headline"> Delete confirmation </v-card-title>
                    <v-card-text>Are you sure you want to delete this item?</v-card-text>
                    <v-card-actions>
                         <v-spacer></v-spacer>
                         <v-btn color="green darken-1" text @click="closeModal">
                              Cancel
                         </v-btn>
                         <v-btn color="green darken-1" text :loading="isDeleting" :disabled="isDeleting" @click="deleteItem" >
                              {{ isDeleting ? "Deleting..." : "Delete" }}
                         </v-btn>
                    </v-card-actions>
               </v-card>
          </v-dialog>
     </div>
</template>
<script>
export default {
     data() {
          return {
               sections: [],
               data: {
                    title: '',
                    description: '',
                    image_path: null,
               },
               defaultData: {
                    title: '',
                    description: '',
                    image_path: null,
               },
               titleRules: [
                    value => !!value || 'Name is required.',
                    value => (value && value.length > 5 ) || 'Name must be greater than 5 characters.',
               ],
               imageRules: [
                    value => !value || value.size < 2000000 || 'Image size should be less than 2 MB.',
                    value => (!value || (value.type == 'image/jpg' || value.type == 'image/png' || value.type == 'image/jpeg')) || 'The image format is invalid'
               ],
               edit: false,
               modalForm: false,
               isValid: true,
               snackbar: {
                    display: false,
                    color: '',
                    text: '',
                    multiLine: true,
               },
               imageHolder: null,
               showUpload: true,
               deleteModal: false,
               itemToDelete: '',
               isDeleting: false,
               imageToDelete: null,
          }
     },
     created() {
          this.token = window.Laravel.csrfToken;
          this.getSections();
     },
     methods: {
          async getSections(){
               const res = await this.callApi("get", "api/about/sections");
               if (res.status === 200) {
                    this.sections = res.data;
               } else {
                    this.snackbar.text = "Something Went Wrong";
                    this.snackbar.color = "error";
                    this.snackbar.display = true;
               }
          },
          async selectFile(e){
               if(this.$refs.upload.validate() && e){
                    const data = new FormData();
                    data.append('file', e);
                    const res = await this.callApi("post", `api/upload`, data);
                    if(res.status == 200) {
                         this.data.image_path = res.data;
                    }
               } else {
                    if( this.edit ){
                         this.data.image_path = this.imageHolder;
                    } else {
                         this.data.image_path = null;
                    }
               }
          },
          validateForm() {
               const valid = this.$refs.form.validate()
               if( valid ) {
                    if( !this.edit ) {
                         this.addSection()
                    } else {
                         this.updateSection()
                    }
               }   
          },
          async addSection() {
               this.token = window.Laravel.csrfToken;
               const res = await this.callApi("post", "api/about/section", this.data);
               if (res.status === 200) {
                    this.data = Object.assign( {}, this.defaultData );
                    this.snackbar.text = "About section has been added.";
                    this.snackbar.color = '#6a994e';
                    this.snackbar.display = true;
                    this.closeForm();
                    this.getSections();
               } else {
                    this.snackbar.color = "error";
                    if (res.status == 422) {
                         for (let i in res.data.errors) {
                              this.snackbar.text = res.data.errors[i][0];
                              this.snackbar.display = true;
                         }
                    } else {
                         this.snackbar.text = "Something Went Wrong";
                         this.snackbar.display = true;
                    }
               }
          },
          showEditForm( section ) {
               this.data = Object.assign( {}, section );
               this.edit = true;
               this.showUpload = false;
               this.modalForm = true;
               this.imageHolder = section.image_path;
          },
          async updateSection() {
               this.token = window.Laravel.csrfToken;
               const res = await this.callApi("patch", `api/about/section/${this.data.id}`, this.data);
               if (res.status === 200) {
                    this.data = Object.assign( {}, this.defaultData );
                    this.snackbar.text = "About section has been updated.";
                    this.snackbar.color = "#6a994e";
                    this.snackbar.display = true;
                    this.closeForm();
                    this.getSections();
               } else {
                    this.snackbar.color = "error";
                    if (res.status == 422) {
                         for (let i in res.data.errors) {
                              this.snackbar.text = res.data.errors[i][0];
                              this.snackbar.display = true;
                         }
                    } else {
                         this.snackbar.text = "Something went wrong.";
                         this.snackbar.display = true;
                    }
               }
          },
          showDeleteModal( section ) {
               this.deleteModal = true;
               this.itemToDelete = section.id;
               this.imageToDelete = section.image_path;              
          },
          async deleteItem(){
               this.token = window.Laravel.csrfToken;
               this.isDeleting = true
               const res = await this.callApi("delete", `api/about/section/${this.itemToDelete}`)
               if( res.status === 200 ) {
                    this.snackbar.text = "About section has been deleted."
                    this.snackbar.color = "#6a994e";
                    this.itemToDelete = "";
                    this.deleteModal = false;
                    if( this.imageToDelete ) {
                         this.removeImageFromServer( this.imageToDelete );
                    }
                    this.imageToDelete = null;       
                    this.getSections();
               } else {
                    this.snackbar.text = "Something went wrong.";
                    this.snackbar.color = "error";
               }
               this.snackbar.display = true
               this.isDeleting = false
          },
          async removeImageFromServer( image ) {
               const res = await this.callApi("post", "api/remove_upload", { imageName: image });
               if (res.status != 200) {
                    this.imageName = image;
                    this.snackbar.text = "Something went wrong.";
                    this.snackbar.color = "error";
                    this.snackbar.display = true
               }
          },
          closeForm() {
               this.data = Object.assign( {}, this.defaultData );
               this.$refs.form.reset();
               this.modalForm = false;
               this.edit = false;
               this.imageHolder = null;
               this.showUpload = true;
          },
          closeModal() {
               this.deleteModal = false;
          },
     }
}
</script>