<template>
     <div class="activity-container component-container p-lg-5">
          <div class="page-header mb-10">
               <h2 class="text-h5 font-weight-bold">Activities</h2>
               <v-dialog v-model="modalForm" transition="dialog-top-transition" persistent max-width="600px">
                    <template v-slot:activator="{ on, attrs }">           
                         <v-btn v-bind="attrs" v-on="on" outlined color="#6a994e"><v-icon class="pr-1">mdi-plus</v-icon> Add activity</v-btn>
                    </template>
                    <v-card class="pb-5">
                         <v-toolbar color="primary" dark>Activity Form</v-toolbar>
                         <v-card-text>
                         <v-container>
                              <v-form ref="form" v-model="isValid" lazy-validation>
                                   <v-row>
                                        <v-col cols="12">
                                             <v-text-field v-model="data.title" label="* Enter Title" :rules="titleRules" required></v-text-field>
                                        </v-col>
                                        <v-col cols="12">
                                             <v-textarea v-model="data.description" auto-grow label="* Enter Description" :rules="descRules" rows="1" required></v-textarea>
                                        </v-col>
                                        <v-col cols="2" class="p-1" v-if="edit && imageHolder">
                                             <img :src="imageHolder" :alt="data.title" class="img-fluid"/>
                                        </v-col>
                                        <v-col cols="10">
                                             <v-btn @click="showUpload = true" v-if="imageHolder && !showUpload">
                                                  Change
                                             </v-btn>
                                             <div v-else>
                                                  <v-file-input
                                                       ref="upload"
                                                       :headers="{ 'x-csrf-token': token, 'X-Requested-With' : 'XMLHttpRequest'}"
                                                       :rules="featuredRules"
                                                       accept="image/png, image/jpeg, image/jpg"
                                                       label="Upload Featured Image"
                                                       prepend-icon="mdi-camera"
                                                       small-chips
                                                       clear-icon="mdi-delete"                                                       
                                                       @change="selectFile">
                                             </v-file-input>
                                             </div>
                                        </v-col>
                                        <v-col cols="12">
                                             <v-file-input accept="image/png, image/jpeg, image/jpg"
                                                  :headers="{ 'x-csrf-token': token, 'X-Requested-With' : 'XMLHttpRequest'}"
                                                  ref="multiUpload"                                   
                                                  prepend-icon="mdi-camera"
                                                  multiple
                                                  small-chips
                                                  v-model="files"
                                                  :rules="imageRules"
                                                  label="Upload Images"
                                                  clear-icon="mdi-delete"
                                                  @click:clear="clearFileInput"
                                                  @change="addFiles">
                                             </v-file-input>
                                             <v-row class="mt-2">
                                                  <v-col sm="2" v-for="(file,f) in files" :key="f" class="p-1">
                                                       <img :ref="'file'" src="//placehold.it/400/99cc77" class="img-fluid" :title="'file' + f" />
                                                  </v-col>
                                             </v-row>
                                        </v-col>
                                        <v-col cols="12" v-if="edit && data.activity_images.length">
                                             <v-row>
                                                  <v-col cols="3" sm="2" class="p-1 activity-images" v-for="(image,i) in data.activity_images" :key="i">
                                                       <v-hover v-slot="{ hover }">
                                                            <v-card
                                                            :elevation="hover ? 4 : 0"
                                                            :class="{ 'on-hover': hover }"
                                                            >
                                                            <v-img
                                                                 :src="image.image_path"
                                                                 max-height="200px"
                                                                 alt="image"
                                                                 cover
                                                                 class="grey darken-4"
                                                            >
                                                                 <v-card-title class="title white--text">
                                                                 <v-row
                                                                      class="fill-height flex-column"
                                                                      justify="space-between"
                                                                 >

                                                                      <div class="align-self-center">
                                                                      <v-btn
                                                                      :class="{ 'show-btns': hover }"
                                                                      color="rgb(233 ,30 ,99 ,0)"
                                                                      fab
                                                                      dark
                                                                      icon
                                                                      @click="deleteActivityImage( image )"
                                                                      >
                                                                      <v-icon
                                                                           :class="{ 'show-btns': hover }"
                                                                           color="rgb(233, 30, 99, 0)"
                                                                           dark
                                                                      >
                                                                      mdi-delete
                                                                      </v-icon>
                                                                      </v-btn>
                                                                      </div>
                                                                 </v-row>
                                                                 </v-card-title>
                                                            </v-img>
                                                            </v-card>
                                                       </v-hover>
                                                  </v-col>
                                             </v-row>
                                        </v-col>
                                        <v-col cols="12">
                                             <v-switch
                                                  v-model="data.is_featured"
                                                  label="Featured"
                                             ></v-switch>
                                        </v-col>
                                   </v-row>
                              </v-form>
                         </v-container>
                         <small>* Required field</small>
                         </v-card-text>
                         <v-card-actions>
                              <v-spacer></v-spacer>
                              <v-btn class="mr-4" @click="closeForm">
                              Close
                              </v-btn>
                              <v-btn color="primary" class="mr-4" @click="validateForm" :disabled="!isValid">
                              Save
                              </v-btn>
                         </v-card-actions>
                    </v-card>
               </v-dialog>
          </div>

          <!-- Activities -->
          <v-card class="mb-5" v-for="(activity, i) in activities" :key="i">
               <v-row dense>
                    <v-col cols="12" sm="5">
                         <template v-if="activity.activity_images.length">
                         <v-carousel cycle hide-delimiters height="200" show-arrows-on-hover>
                              <v-carousel-item v-if="activity.featured_image">
                                   <v-img
                                        :src="activity.featured_image"
                                        max-height="200px"
                                        contain
                                        class="grey darken-4"
                                        >
                                   </v-img>
                              </v-carousel-item>
                              <v-carousel-item v-for="image in activity.activity_images" :key="image.id">
                                   <v-img
                                        :src="image.image_path"
                                        max-height="200px"
                                        contain
                                        class="grey darken-4"
                                        >
                                   </v-img>
                              </v-carousel-item>
                         </v-carousel>
                         </template>
                         <div v-else>
                              <v-img
                                   v-if="activity.featured_image"
                                   :src="activity.featured_image"
                                   max-height="200px"
                                   contain
                                   class="grey darken-4"
                                   >
                              </v-img>
                              <v-img
                                   v-else
                                   src="/uploads/no_image.jpg"
                                   max-height="200px"
                                   contain
                                   class="grey darken-4"
                                   >
                              </v-img>

                         </div>
                         
                    </v-col>
                    <v-col cols="12" sm="7">
                         <v-card-title class="pt-0" v-text="activity.title"></v-card-title>
                         <div class="description px-4 mb-5" v-text="activity.description"></div>
                    </v-col>
                    <v-col cols="12">
                         <v-card-actions>
                              <div class="time px-4" v-text="activity.created"></div>
                         <v-spacer></v-spacer>
                         <v-btn icon color="cyan" @click="showEditForm( activity )">
                              <v-icon>mdi-pencil</v-icon>
                         </v-btn>

                         <v-btn icon color="pink" @click="showDeleteModal( activity )">
                              <v-icon>mdi-delete</v-icon>
                         </v-btn>
                         </v-card-actions>
                    </v-col>
               </v-row>
            

          </v-card>
          <paginate store="activity" collection="activities" class="mt-5 pt-5"/>
          

          <!-- Snackbar -->
          <v-snackbar v-model="snackbar.display" :multi-line="snackbar.multiLine" :timeout="2000" top :color="snackbar.color">
               {{ snackbar.text }}
               <template v-slot:action="{ attrs }">
                    <v-btn text color="white" v-bind="attrs" @click="snackbar.display = false">Close</v-btn>
               </template>
          </v-snackbar>
          <!-- Delete Modal -->
          <v-dialog v-model="deleteModal" persistent max-width="290">
               <v-card>
                    <v-card-title class="headline"> Delete confirmation </v-card-title>
                    <v-card-text>Are you sure you want to delete this item?</v-card-text>
                    <v-card-actions>
                         <v-spacer></v-spacer>
                         <v-btn color="green darken-1" text @click="closeModal">
                              Cancel
                         </v-btn>
                         <v-btn color="green darken-1" text :loading="isDeleting" :disabled="isDeleting" @click="deleteItem" >
                              {{ isDeleting ? "Deleting..." : "Delete" }}
                         </v-btn>
                    </v-card-actions>
               </v-card>
          </v-dialog>
     </div>
</template>
<script>
import paginate from "../components/Paginate";
export default {
     components: {
          paginate
     },
     data() {
          return {
               files: [],
               readers: [],
               data: {
                    title: '',
                    description: '',
                    featured_image: null,     
                    is_featured: false,
                    images: [], 
               },
               defaultData: {
                    title: '',
                    description: '',
                    featured_image: null,     
                    is_featured: false,
                    images: [],
               },
               titleRules: [
                    value => !!value || 'Name is required.',
                    value => (value && value.length > 5 ) || 'Name must be greater than 5 characters.',
               ],
               descRules: [
                    value => !!value || 'Description is required.',
                    value => !value || value.length <= 3000 || 'Description must be less than 3000 characters.',
               ],
               featuredRules: [
                    value => !value || value.size < 2000000 || 'Image size should be less than 2 MB.',
                    value => (!value || (value.type == 'image/jpg' || value.type == 'image/png' || value.type == 'image/jpeg')) || 'The image format is invalid'
               ],
               imageRules: [
                    files => !files || !files.some(file => file.size > 2_097_152) || 'Image size should be less than 2 MB.'
               ],
               edit: false,
               modalForm: false,
               isValid: true,
               snackbar: {
                    display: false,
                    color: '',
                    text: '',
                    multiLine: true,
               },
               imageHolder: null,
               showUpload: true,
               dataIndex: -1,
               deleteModal: false,
               itemToDelete: '',
               isDeleting: false,
               imageName: null,
               imagesToDelete: [],
          }
     },
     created() {
          this.token = window.Laravel.csrfToken;
          this.$store.dispatch('activity/getList', 1);
     },
     computed: {
          activities: {
               get() {
                    return this.$store.state.activity.activities.data;
               }
          }
     },
     methods: {
          async selectFile(e){
               if(this.$refs.upload.validate() && e){
                    const data = new FormData();
                    data.append('file', e);
                    const res = await this.callApi("post", `api/upload`, data);
                    if(res.status == 200) {
                         this.data.featured_image = res.data;
                    }
               } else {
                    if( this.edit ){
                         this.data.featured_image = this.imageHolder;
                    } else {
                         this.data.featured_image = null;
                    }
               }
          },
          addFiles(){
               const valid = this.$refs.multiUpload.validate()
               if( valid ) {
                    this.files.forEach((file, f) => {
                         this.readers[f] = new FileReader();
                         this.readers[f].onloadend = (e) => {
                              let fileData = this.readers[f].result
                              let imgRef = this.$refs.file[f]
                              imgRef.src = fileData
                              // send to server here...
                              this.uploadFile( file );
                         }
                         this.readers[f].readAsDataURL(this.files[f]);
                    });
               }
          },
          async uploadFile( file ) {
               const data = new FormData()
               data.append('file', file)
               const res = await this.callApi("post", "api/upload_many", data)
               if( res.status == 200 ) {
                    this.data.images.unshift(res.data)
               } else {
                    this.snackbar.color = "error"
                    this.isValid = false
                    if (res.status == 422) {
                         for (let i in res.data.errors) {
                              this.snackbar.text = res.data.errors[i][0]
                              this.snackbar.display = true
                         }
                    } else {
                         this.snackbar.text = "Something Went Wrong"
                         this.snackbar.display = true
                    }
               }
          },
          validateForm() {
               const valid = this.$refs.form.validate()
               if( valid ) {
                    if( !this.edit ) {
                         this.addActivity()
                    } else {
                         this.updateActivity()
                    }
               }   
          },
          async addActivity() {
               this.token = window.Laravel.csrfToken;
               const res = await this.callApi("post", "api/activity/create", this.data);
               if (res.status === 200) {
                    this.data = Object.assign( {}, this.defaultData );
                    this.snackbar.text = "Activity has been added.";
                    this.snackbar.color = '#6a994e';
                    this.snackbar.display = true;
                    this.closeForm();
                    this.$store.dispatch('activity/getList', 1);
               } else {
                    this.snackbar.color = "error";
                    if (res.status == 422) {
                         for (let i in res.data.errors) {
                              this.snackbar.text = res.data.errors[i][0];
                              this.snackbar.display = true;
                         }
                    } else {
                         this.snackbar.text = "Something Went Wrong";
                         this.snackbar.display = true;
                    }
               }
          },
          showEditForm( activity ) {
               this.data = Object.assign( {}, activity );
               this.data.images = [];
               this.edit = true;
               this.showUpload = false;
               this.modalForm = true;
               this.imageHolder = activity.featured_image;
               this.dataIndex = this.activities.indexOf( activity );
          },
          async updateActivity() {
               this.token = window.Laravel.csrfToken;
               const res = await this.callApi("patch", `api/activity/${this.data.id}`, this.data);
               if (res.status === 200) {
                    this.data = Object.assign( {}, this.defaultData );
                    this.snackbar.text = "Activity has been updated.";
                    this.snackbar.color = "#6a994e";
                    this.snackbar.display = true;
                    this.dataIndex = -1;
                    this.closeForm();
                    this.$store.dispatch('activity/getList', 1);
               } else {
                    this.snackbar.color = "error";
                    if (res.status == 422) {
                         for (let i in res.data.errors) {
                              this.snackbar.text = res.data.errors[i][0];
                              this.snackbar.display = true;
                         }
                    } else {
                         this.snackbar.text = "Something went wrong.";
                         this.snackbar.display = true;
                    }
               }
          },
          showDeleteModal( activity ) {
               this.deleteModal = true;
               this.itemToDelete = activity.id;
               this.imageName = activity.featured_image;
               this.imagesToDelete = activity.activity_images;               
          },
          async deleteItem(){
               this.token = window.Laravel.csrfToken;
               this.isDeleting = true
               const res = await this.callApi("delete", `api/activity/${this.itemToDelete}`)
               if( res.status === 200 ) {
                    this.snackbar.text = "Activity has been deleted."
                    this.snackbar.color = "#6a994e";
                    this.dataIndex = -1;
                    this.itemToDelete = "";
                    this.deleteModal = false;
                    if( this.imageName ) {
                         this.removeImageFromServer( this.imageName );
                    }
                    if( this.imagesToDelete.length ) {
                         this.imagesToDelete.forEach( image => this.removeImageFromServer( image.image_path ) );
                    }
                    this.imageName = null;         
                    this.imagesToDelete = [];         
                    this.$store.dispatch('activity/getList', 1);
               } else {
                    this.snackbar.text = "Something went wrong.";
                    this.snackbar.color = "error";
               }
               this.snackbar.display = true
               this.isDeleting = false
          },
          async removeImageFromServer( image ) {
               const res = await this.callApi("post", "api/remove_upload", { imageName: image });
               if (res.status != 200) {
                    this.imageName = image;
                    this.snackbar.text = "Something went wrong.";
                    this.snackbar.color = "error";
                    this.snackbar.display = true
               }
          },
          clearFileInput() {
               this.data.images.forEach( image => this.removeImageFromServer( image.image_path ) );
               this.data.images = [];
          },
          closeForm() {
               this.data = Object.assign( {}, this.defaultData );
               this.$refs.form.reset();
               this.modalForm = false;
               this.edit = false;
               this.imageHolder = null;
               this.showUpload = true;
          },
          closeModal() {
               this.deleteModal = false;
          },
          async deleteActivityImage( image ) {
               this.token = window.Laravel.csrfToken;
               this.dataIndex = this.data.activity_images.indexOf( image);
               this.imageName = image.image_path;
               const res = await this.callApi("delete", `api/activity/image/${image.id}`)
               if( res.status === 200 ) {
                    this.data.activity_images.splice(this.dataIndex, 1);
                    this.snackbar.text = "Activity image has been deleted."
                    this.snackbar.color = "#6a994e";
                    this.dataIndex = -1;
                    if( this.imageName ) {
                         this.removeImageFromServer( this.imageName );
                    }            
               } else {
                    this.snackbar.text = "Something went wrong.";
                    this.snackbar.color = "error";
               }
               this.snackbar.display = true
          }
     }
}
</script>

<style scoped>
.activity-images .v-card {
  transition: opacity .4s ease-in-out;
}

.activity-images .v-card.on-hover {
  opacity: 0.9;
 }

.activity-images .show-btns {
  color: rgb(233,30,99,1) !important;
}
</style>