<template>
     <div class="home-banner-container component-container p-5">
          <div class="page-header">
               <h2 class="text-h5 font-weight-bold">Home Banners</h2>
                    <v-dialog v-model="modalForm" transition="dialog-top-transition" persistent max-width="600px">
                         <template v-slot:activator="{ on, attrs }">           
                              <v-btn v-bind="attrs" v-on="on" outlined color="#6a994e"><v-icon class="pr-1">mdi-plus</v-icon> Add banner</v-btn>
                         </template>
                         <v-card class="pb-5">
                              <v-toolbar color="primary" dark>Home Banner Form</v-toolbar>
                              <v-card-text>
                              <v-container>
                                   <v-form ref="form" v-model="isValid" lazy-validation>
                                        <v-row>
                                             <!-- Title -->
                                             <v-col cols="12">
                                                  <v-text-field v-model="data.title" label="* Enter Title" :rules="titleRules" required></v-text-field>
                                             </v-col>
                                             <!-- Description -->
                                             <v-col cols="12">
                                                  <v-textarea v-model="data.description" label="Enter Description (optional)" :rules="descRules" rows="1"></v-textarea>
                                             </v-col>
                                             <!-- Theme -->
                                             <v-col cols="12" sm="4">
                                                  <v-select v-model="data.theme" :items="themes" :rules="[v => !!v || 'Theme is required']" label="Select Theme" required></v-select>
                                             </v-col>
                                             <!-- Text Position -->
                                             <v-col cols="12" sm="4">
                                                  <v-select v-model="data.text_position" :items="positions" :rules="[v => !!v || 'Position is required']" label="Select Text Position" required></v-select>
                                             </v-col>
                                             <!-- To Display -->
                                             <v-col cols="12" sm="4">
                                                  <v-select v-model="data.to_display" :items="displays" :rules="[v => !!v || 'Display is required']" label="Display" required></v-select>
                                             </v-col>
                                             <!-- Banner Image -->
                                             <v-col cols="2" v-if="edit && imageHolder">
                                                  <img :src="imageHolder" :alt="data.title" class="img-fluid"/>
                                             </v-col>
                                             <v-col cols="10">
                                                  <v-btn @click="showUpload = true" v-if="imageHolder && !showUpload">
                                                       Change
                                                  </v-btn>
                                                  <div v-else>
                                                       <v-file-input
                                                            ref="upload"
                                                            :headers="{ 'x-csrf-token': token, 'X-Requested-With' : 'XMLHttpRequest'}"
                                                            :rules="imageRules"
                                                            accept="image/png, image/jpeg, image/jpg"
                                                            label="* Upload Banner Image"
                                                            prepend-icon="mdi-camera"
                                                            small-chips
                                                            clear-icon="mdi-delete"
                                                            @change="selectFile">
                                                       </v-file-input>
                                                  </div>
                                             </v-col>
                                             <!-- Sort Order -->
                                             <v-col cols="12">
                                                  <v-text-field type="number" v-model="data.sort_order" label="Enter Sort Order"></v-text-field>
                                             </v-col>
                                        </v-row>
                                   </v-form>
                              </v-container>
                              <strong>* Required field</strong>
                              </v-card-text>
                              <v-card-actions>
                                   <v-spacer></v-spacer>
                                   <v-btn class="mr-4" @click="closeForm">
                                   Close
                                   </v-btn>
                                   <v-btn color="primary" class="mr-4" @click="validateForm" :disabled="!isValid">
                                   Save
                                   </v-btn>
                              </v-card-actions>
                         </v-card>
               </v-dialog>
          </div>
          <!-- Banners List -->
          <v-simple-table class="pb-5">
               <template v-slot:default>
                    <thead>
                         <tr>
                              <th class="text-left">Image</th>
                              <th class="text-left">Title</th>
                              <th class="text-left">Description</th>
                              <th class="text-left">Theme</th>
                              <th class="text-left">Position</th>
                              <th class="text-left">Display</th>
                              <th class="text-left">Sort Order</th>
                              <th class="text-left">Actions</th>
                         </tr>
                    </thead>                         
                    <tbody>
                         <tr v-for="(banner, i) in banners" :key="i">
                              <td>
                                   <v-img max-height="80" max-width="120" :src="banner.image_path" :alt="banner.name" v-if="banner.image_path"></v-img>
                                   <v-img max-height="80" max-width="120" src="/uploads/no_image.jpg" alt="no image" v-else></v-img>
                              </td>
                              <td>{{ banner.title }}</td>
                              <td>{{ banner.description }}</td>
                              <td>{{ banner.theme }}</td>
                              <td>{{ banner.text_position }}</td>
                              <td>{{ banner.to_display == "1" ? "True" : "False" }}</td>
                              <td>{{ banner.sort_order }}</td>
                              <td>
                                   <v-btn icon color="cyan" @click="showEditForm(banner, i)">
                                        <v-icon>mdi-pencil</v-icon>
                                   </v-btn>
                                   <v-btn icon color="pink" @click="showDeleteModal(banner, i)">
                                        <v-icon>mdi-delete</v-icon>
                                   </v-btn>
                              </td>
                         </tr>
                    </tbody>
               </template>
          </v-simple-table>
          <h4 class="text-center" v-show="!banners.length"> Nothing to display </h4>

          <!-- Snackbar -->
          <v-snackbar v-model="snackbar.display" :multi-line="snackbar.multiLine" :timeout="2000" top :color="snackbar.color">
               {{ snackbar.text }}
               <template v-slot:action="{ attrs }">
                    <v-btn text color="white" v-bind="attrs" @click="snackbar.display = false">Close</v-btn>
               </template>
          </v-snackbar>
          <v-dialog v-model="deleteModal" persistent max-width="290">
               <v-card>
                    <v-card-title class="headline"> Delete confirmation </v-card-title>
                    <v-card-text>Are you sure you want to delete this item?</v-card-text>
                    <v-card-actions>
                         <v-spacer></v-spacer>
                         <v-btn color="green darken-1" text @click="closeModal">
                              Cancel
                         </v-btn>
                         <v-btn color="green darken-1" text :loading="isDeleting" :disabled="isDeleting" @click="deleteItem" >
                              {{ isDeleting ? "Deleting..." : "Delete" }}
                         </v-btn>
                    </v-card-actions>
               </v-card>
          </v-dialog>
     </div>
</template>
<script>
export default {
     data() {
          return {
               banners: [],
               data: {
                    title: '',
                    description: '',
                    theme: 'Light',
                    text_position: 'Bottom',
                    to_display: '1',
                    image_path: null,
                    sort_order: 0,
               },
               titleRules: [
                    value => !!value || 'Title is required.',
                    value => (value && value.length > 5 ) || 'Title must be greater than 5 characters.',
               ],
               descRules: [
                    value => !value || value.length <= 3000 || 'Description must be less than 3000 characters.',
               ],
               imageRules: [
                    value => !!value || 'Banner image is required',
                    value => (value && value.size < 2000000) || 'Banner image size must be less than 2 MB.',
                    value => (!value || (value.type == 'image/jpg' || value.type == 'image/png' || value.type == 'image/jpeg')) || 'The image format is invalid'
               ],
               edit: false,
               modalForm: false,
               isValid: true,
               snackbar: {
                    display: false,
                    color: '',
                    text: '',
                    multiLine: true,
               },
               imageHolder: null,
               showUpload: true,
               dataIndex: -1,
               deleteModal: false,
               itemToDelete: '',
               isDeleting: false,
               themes: [
                    'Light',
                    'Dark',
               ],
               positions: [
                    'Top',
                    'Left',
                    'Right',
                    'Bottom',
               ],
               displays: [
                    {
                         text: 'True',
                         value: '1'
                    },
                    {
                         text: 'False',
                         value: '0'
                    },
               ],
          }
     },
     created() {
          this.showUpload = true;
          this.token = window.Laravel.csrfToken;
          this.getBanners();
     },
     methods: {
          async getBanners() {
               const res = await this.callApi("get", "api/banners");
               if (res.status === 200) {
                    this.banners = res.data;
               } else {
                    this.snackbar.text = "Something Went Wrong";
                    this.snackbar.color = "error";
               }
          },
          validateForm () {
               this.$refs.form.validate()
               if(this.$refs.form.validate()) {
                    if(!this.edit) {
                         this.addBanner()
                    } else {
                         this.updateBanner()
                    }
               }          
          },
          closeForm() {
               this.$refs.form.reset();
               this.modalForm = false;
               this.edit = false;
               this.imageHolder = null;
               this.showUpload = true;
          },
          async addBanner() {
               this.token = window.Laravel.csrfToken;
               const res = await this.callApi("post", "api/banner/create", this.data);
               if (res.status === 200) {
                    this.banners.push(res.data);
                    this.data.title = '';
                    this.data.description = '';
                    this.data.theme = 'Light',
                    this.data.text_position = 'Bottom',
                    this.data.to_display = 1,
                    this.data.image_path = null,
                    this.data.sort_order = 0,
                    this.snackbar.text = "Banner has been added.";
                    this.snackbar.color = 'success';
                    this.snackbar.display = true;
                    this.closeForm();
               } else {
                    this.snackbar.color = "error";
                    if (res.status == 422) {
                         for (let i in res.data.errors) {
                              this.snackbar.text = res.data.errors[i][0];
                              this.snackbar.display = true;
                         }
                    } else {
                         this.snackbar.text = "Something Went Wrong";
                         this.snackbar.display = true;
                    }
               }
          },
          showEditForm(banner, index) {
               let obj = {
                    id: banner.id,
                    title: banner.title,
                    description: banner.description,
                    theme: banner.theme,
                    text_position: banner.text_position,
                    to_display: banner.to_display,
                    image_path: banner.image_path,
                    sort_order: banner.sort_order,
               }
               this.edit = true;
               this.showUpload = false;
               this.modalForm = true;
               this.data = obj;
               this.imageHolder = banner.image_path;
               this.dataIndex = index;
          },
          async updateBanner() {
               this.token = window.Laravel.csrfToken;
               const res = await this.callApi("patch", `api/banner/${this.data.id}`, this.data);
               if (res.status === 200) {
                    this.snackbar.text = "Banner has been updated.";
                    this.snackbar.color = "success";
                    this.banners[this.dataIndex].title = this.data.title;
                    this.banners[this.dataIndex].description = this.data.description;
                    this.banners[this.dataIndex].theme = this.data.theme;
                    this.banners[this.dataIndex].text_position = this.data.text_position;
                    this.banners[this.dataIndex].to_display = this.data.to_display;
                    this.banners[this.dataIndex].image_path = res.data.image_path;
                    this.banners[this.dataIndex].sort_order = this.data.sort_order;
                    this.dataIndex = -1;
                    this.data.name = '';
                    this.data.position = '';
                    this.data.description = '';
                    this.data.avatar = null;
                    this.closeForm();
               } else {
                    this.snackbar.color = "error";
                    if (res.status == 422) {
                         for (let i in res.data.errors) {
                              this.snackbar.text = res.data.errors[i][0];
                              this.snackbar.display = true;
                         }
                    } else {
                         this.snackbar.text = "Something Went Wrong";
                         this.snackbar.display = true;
                    }
               }
          },
          async selectFile(e){
               if(this.$refs.upload.validate() && e){
                    const data = new FormData();
                    data.append('file', e);
                    const res = await this.callApi("post", `api/upload`, data);
                    if(res.status == 200) {
                         this.data.image_path = res.data;
                    }
               } else {
                    if( this.edit ){
                         this.data.image_path = this.imageHolder;
                    } else {
                         this.data.image_path = null;
                    }
               }
          },
          showDeleteModal( banner, i ) {
               this.deleteModal = true;
               this.dataIndex = i;
               this.itemToDelete = banner.id;
          },
          closeModal() {
               this.deleteModal = false;
          },
          async deleteItem(){
               this.token = window.Laravel.csrfToken;
               this.isDeleting = true
               const res = await this.callApi("delete", `api/banner/${this.itemToDelete}`)
               if( res.status === 200 ) {
                    this.banners.splice(this.dataIndex, 1);
                    this.snackbar.text = "Banner has been deleted"
                    this.snackbar.color = "success";
                    this.dataIndex = -1;
                    this.itemToDelete = "";
                    this.deleteModal = false;
               } else {
                    this.snackbar.text = "Something Went Wrong";
                    this.snackbar.color = "error";
               }
               this.snackbar.display = true
               this.isDeleting = false
          },
     }
     
}
</script>