<template>
     <div class="board-member-container component-container p-5">
          <div class="page-header">
               <h2 class="text-h5 font-weight-bold">Board Members</h2>
               <v-dialog v-model="modalForm" transition="dialog-top-transition" persistent max-width="600px">
                    <template v-slot:activator="{ on, attrs }">           
                         <v-btn v-bind="attrs" v-on="on" outlined color="#6a994e"><v-icon class="pr-1">mdi-plus</v-icon> Add member</v-btn>
                    </template>
                    <v-card class="pb-5">
                         <v-toolbar color="primary" dark>Board Member Form</v-toolbar>
                         <v-card-text>
                         <v-container>
                              <v-form ref="form" v-model="isValid" lazy-validation>
                                   <v-row>
                                        <v-col cols="12" sm="6">
                                             <v-text-field v-model="data.name" label="* Enter Name" :rules="nameRules" required></v-text-field>
                                        </v-col>
                                        <v-col cols="12" sm="6">
                                             <v-text-field v-model="data.position" label="* Enter Position" :rules="positionRules" required></v-text-field>
                                        </v-col>
                                        <v-col cols="12">
                                             <v-textarea v-model="data.description" auto-grow label="Enter Description (optional)" rows="1"></v-textarea>
                                        </v-col>
                                        <v-col cols="2" v-if="edit && imageHolder">
                                             <img :src="imageHolder" :alt="data.name" class="img-fluid"/>
                                        </v-col>
                                        <v-col cols="10">
                                             <v-btn @click="showUpload = true" v-if="imageHolder && !showUpload">
                                                  Change
                                             </v-btn>
                                             <div v-else>
                                                  <v-file-input
                                                       ref="upload"
                                                       :headers="{ 'x-csrf-token': token, 'X-Requested-With' : 'XMLHttpRequest'}"
                                                       :rules="avatarRules"
                                                       accept="image/png, image/jpeg, image/jpg"
                                                       label="Upload Avatar"
                                                       prepend-icon="mdi-camera"
                                                       small-chips
                                                       clear-icon="mdi-delete"
                                                       @change="selectFile">
                                             </v-file-input>
                                             </div>
                                        </v-col>
                                   </v-row>
                              </v-form>
                         </v-container>
                         <small>* Required field</small>
                         </v-card-text>
                         <v-card-actions>
                              <v-spacer></v-spacer>
                              <v-btn class="mr-4" @click="closeForm">
                              Close
                              </v-btn>
                              <v-btn color="primary" class="mr-4" @click="validateForm" :disabled="!isValid">
                              Save
                              </v-btn>
                         </v-card-actions>
                    </v-card>
               </v-dialog>
          </div>
          <v-simple-table class="pb-5">
               <template v-slot:default>
                    <thead>
                         <tr>
                              <th class="text-left" width="25%">
                                   Name
                              </th>
                              <th class="text-left" width="25%">
                                   Position
                              </th>
                              <th class="text-left" width="40%">
                                   Description
                              </th>
                              <th class="text-left" width="10%">
                                   Actions
                              </th>
                         </tr>
                    </thead>
                    <tbody>
                         <tr v-for="(member, i) in members" :key="i">
                              <td>
                                   <v-list-item-avatar>
                                        <img :src="member.image_path" :alt="member.name" v-if="member.image_path"  />
                                        <img src="/uploads/no_avatar.jpg" alt="avatar" v-else />
                                   </v-list-item-avatar>
                                   {{ member.name }}
                              </td>
                              <td>{{ member.position }}</td>
                              <td>{{ member.description }}</td>
                              <td>
                                   <v-btn icon color="cyan" @click="showEditForm(member, i)">
                                        <v-icon>mdi-pencil</v-icon>
                                   </v-btn>
                                   <v-btn icon color="pink" @click="showDeleteModal(member, i)">
                                        <v-icon>mdi-delete</v-icon>
                                   </v-btn>
                              </td>
                         </tr>
                    </tbody>
               </template>
          </v-simple-table>
          <!-- Snackbar -->
          <v-snackbar v-model="snackbar.display" :multi-line="snackbar.multiLine" :timeout="2000" top :color="snackbar.color">
               {{ snackbar.text }}
               <template v-slot:action="{ attrs }">
                    <v-btn text color="white" v-bind="attrs" @click="snackbar.display = false">Close</v-btn>
               </template>
          </v-snackbar>
          <!-- Delete Modal -->
          <v-dialog v-model="deleteModal" persistent max-width="290">
               <v-card>
                    <v-card-title class="headline"> Delete confirmation </v-card-title>
                    <v-card-text>Are you sure you want to delete this item?</v-card-text>
                    <v-card-actions>
                         <v-spacer></v-spacer>
                         <v-btn color="green darken-1" text @click="closeModal">
                              Cancel
                         </v-btn>
                         <v-btn color="green darken-1" text :loading="isDeleting" :disabled="isDeleting" @click="deleteItem" >
                              {{ isDeleting ? "Deleting..." : "Delete" }}
                         </v-btn>
                    </v-card-actions>
               </v-card>
          </v-dialog>
     </div>
</template>
<script>
export default {
     data() {
          return {
               members: [],
               data: {
                    name: '',
                    position: '',
                    description: '',
                    avatar: null,
               },
               nameRules: [
                    value => !!value || 'Name is required.',
                    value => (value && value.length > 5 ) || 'Name must be greater than 5 characters.',
               ],
               positionRules: [
                    value => !!value || 'Position is required.',
               ],
               avatarRules: [
                    value => !value || value.size < 2000000 || 'Avatar size should be less than 2 MB.',
                    value => (!value || (value.type == 'image/jpg' || value.type == 'image/png' || value.type == 'image/jpeg')) || 'The image format is invalid'
               ],
               edit: false,
               modalForm: false,
               isValid: true,
               snackbar: {
                    display: false,
                    color: '',
                    text: '',
                    multiLine: true,
               },
               imageHolder: null,
               showUpload: true,
               dataIndex: -1,
               deleteModal: false,
               itemToDelete: '',
               isDeleting: false,
          }
     },
     created() {
          this.showUpload = true;
          this.token = window.Laravel.csrfToken;
          this.getBoardMembers();
     },
     methods: {
          async getBoardMembers(){
               const res = await this.callApi("get", "api/board_members");
               if (res.status === 200) {
                    this.members = res.data;
               } else {
                    this.snackbar.text = "Something Went Wrong";
                    this.snackbar.color = "error";
                    this.snackbar.display = true;
               }
          },
          validateForm () {
               this.$refs.form.validate()
               if(this.$refs.form.validate()) {
                    if(!this.edit) {
                         this.addBoardMember()
                    } else {
                         this.updateBoardMember()
                    }
               }          
          },
          async addBoardMember() {
               this.token = window.Laravel.csrfToken;
               const res = await this.callApi("post", "api/board_member/create", this.data);
               if (res.status === 200) {
                    this.members.push(res.data);
                    this.data.name = '';
                    this.data.position = '';
                    this.data.description = '';
                    this.data.avatar = null;
                    this.snackbar.text = "Board member has been added.";
                    this.snackbar.color = 'success';
                    this.snackbar.display = true;
                    this.closeForm();
               } else {
                    this.snackbar.color = "error";
                    if (res.status == 422) {
                         for (let i in res.data.errors) {
                              this.snackbar.text = res.data.errors[i][0];
                              this.snackbar.display = true;
                         }
                    } else {
                         this.snackbar.text = "Something Went Wrong";
                         this.snackbar.display = true;
                    }
               }
               
          },
          showEditForm(member, index) {
               let obj = {
                    id: member.id,
                    name: member.name,
                    position: member.position,
                    description: member.description,
                    avatar: member.image_path,
               }
               this.edit = true;
               this.showUpload = false;
               this.modalForm = true;
               this.data = obj;
               this.imageHolder = member.image_path;
               this.dataIndex = index;
          },
          closeForm() {
               this.$refs.form.reset();
               this.modalForm = false;
               this.edit = false;
               this.imageHolder = null;
               this.showUpload = true;
          },
          async updateBoardMember() {
               this.token = window.Laravel.csrfToken;
               const res = await this.callApi("patch", `api/board_member/${this.data.id}`, this.data);
               if (res.status === 200) {
                    this.members[this.dataIndex].name = this.data.name;
                    this.members[this.dataIndex].position = this.data.position;
                    this.members[this.dataIndex].description = this.data.description;
                    this.members[this.dataIndex].image_path = res.data.image_path;
                    this.snackbar.text = "Board member has been updated.";
                    this.snackbar.color = "success";
                    this.snackbar.display = true;
                    this.dataIndex = -1;
                    this.data.name = '';
                    this.data.position = '';
                    this.data.description = '';
                    this.data.avatar = null;
                    this.closeForm();
               } else {
                    this.snackbar.color = "error";
                    if (res.status == 422) {
                         for (let i in res.data.errors) {
                              this.snackbar.text = res.data.errors[i][0];
                              this.snackbar.display = true;
                         }
                    } else {
                         this.snackbar.text = "Something Went Wrong";
                         this.snackbar.display = true;
                    }
               }
          },
          async selectFile(e){
               if(this.$refs.upload.validate() && e){
                    const data = new FormData();
                    data.append('file', e);
                    const res = await this.callApi("post", `api/upload`, data);
                    if(res.status == 200) {
                         this.data.avatar = res.data;
                    }
               } else {
                    if( this.edit ){
                         this.data.avatar = this.imageHolder;
                    } else {
                         this.data.avatar = null;
                    }
               }
          },
          showDeleteModal( member, i ) {
               this.deleteModal = true;
               this.dataIndex = i;
               this.itemToDelete = member.id;
          },
          closeModal() {
               this.deleteModal = false;
          },
          async deleteItem(){
               this.token = window.Laravel.csrfToken;
               this.isDeleting = true
               const res = await this.callApi("delete", `api/board_member/${this.itemToDelete}`)
               if( res.status === 200 ) {
                    this.members.splice(this.dataIndex, 1);
                    this.snackbar.text = "Board member has been deleted"
                    this.snackbar.color = "success";
                    this.dataIndex = -1;
                    this.itemToDelete = "";
                    this.deleteModal = false;
               } else {
                    this.snackbar.text = "Something Went Wrong";
                    this.snackbar.color = "error";
               }
               this.snackbar.display = true
               this.isDeleting = false
          },
     },
}
</script>