<template>
     <div class="delete-modal-container">
          <v-row justify="center">
               <v-dialog v-model="showDeleteModal" persistent max-width="290">
                    <v-card>
                         <v-card-title class="headline"> Delete confirmation </v-card-title>
                         <v-card-text>Are you sure you want to delete this item?</v-card-text>
                         <v-card-actions>
                              <v-spacer></v-spacer>
                              <v-btn color="green darken-1" text @click="closeModal">
                                   Cancel
                              </v-btn>
                              <v-btn color="green darken-1" text @click="deleteItem">
                                   Delete
                              </v-btn>
                         </v-card-actions>
                    </v-card>
               </v-dialog>
          </v-row>
          <v-snackbar v-model="snackbar" :multi-line="multiLine" :timeout="2000" top>
               {{ snackbarText }}
               <template v-slot:action="{ attrs }">
                    <v-btn text color="white" v-bind="attrs" @click="snackbar = false">Close</v-btn>
               </template>
          </v-snackbar>
     </div>
</template>

<script>
import { mapGetters } from 'vuex'
export default {
     data() {
          return {
               showDeleteModal: false,
               isDeleting: false,
               snackbar: false,
               multiLine: true,
               snackbarText: '',
          };
     },
     methods: {
          async deleteItem(){
               this.isDeleting = true
               const res = await this.callApi("delete", this.getDeleteModalObj.deleteUrl, this.getDeleteModalObj.data)
               if(res.status === 200){
                    this.snackbarText = "Item has been deleted"
                    this.$store.commit("deleteModal/setDeleteModal", true)
               } else {
                    this.snackbarText = "Something Went Wrong";
                    this.$store.commit("deleteModal/setDeleteModal", false)
               }
               this.snackbar = true
               this.isDeleting = false
          },
          closeModal(){
               this.$store.commit("deleteModal/setDeleteModal", false)
          }
     },
     computed: {
          ...mapGetters(["deleteModal/getDeleteModalObj"])
     },
};
</script>