<template>
     <div class="education-container component-container p-lg-5">
          <div class="page-header mb-10">
               <h2 class="text-h5 font-weight-bold">Education</h2>
               <v-dialog v-model="modalForm" transition="dialog-top-transition" persistent max-width="600px">
                    <template v-slot:activator="{ on, attrs }">           
                         <v-btn v-bind="attrs" v-on="on" outlined color="#6a994e"><v-icon class="pr-1">mdi-plus</v-icon> Add lesson</v-btn>
                    </template>
                    <v-card class="pb-5">
                         <v-toolbar color="primary" dark>Lesson Form</v-toolbar>
                         <v-card-text>
                         <v-container>
                              <v-form ref="form" v-model="isValid" lazy-validation>
                                   <v-row>
                                        <v-col cols="12">
                                             <v-text-field v-model="data.title" label="* Enter Title" :rules="titleRules" required></v-text-field>
                                        </v-col>
                                        <v-col cols="12">
                                             <v-textarea v-model="data.description" auto-grow label="* Enter Description" :rules="descRules" rows="1" required></v-textarea>
                                        </v-col>                                        
                                        <v-col cols="2" class="p-1" v-if="edit && imageHolder">
                                             <img :src="imageHolder" :alt="data.title" class="img-fluid"/>
                                        </v-col>
                                        <v-col cols="10">
                                             <v-btn @click="showUpload = true" v-if="imageHolder && !showUpload">
                                                  Change
                                             </v-btn>
                                             <div v-else>
                                                  <v-file-input
                                                       ref="upload"
                                                       :headers="{ 'x-csrf-token': token, 'X-Requested-With' : 'XMLHttpRequest'}"
                                                       :rules="featuredRules"
                                                       accept="image/png, image/jpeg, image/jpg"
                                                       label="Upload Featured Image"
                                                       prepend-icon="mdi-camera"
                                                       small-chips
                                                       clear-icon="mdi-delete"                                                       
                                                       @change="selectFile">
                                                  </v-file-input>
                                             </div>
                                        </v-col>
                                        <v-col cols="12">
                                             <v-radio-group
                                                  v-model="data.file_type"
                                                  mandatory
                                                  row>
                                                  <v-radio
                                                       label="PDF File"
                                                       value="pdf"
                                                  ></v-radio>
                                                  <v-radio
                                                       label="Video"
                                                       value="video"
                                                  ></v-radio>
                                             </v-radio-group>
                                        </v-col>

                                        <v-col cols="12" class="p-1" v-if="edit && fileHolder">
                                             <div v-text="fileHolder"></div>
                                        </v-col>
                                        <v-col cols="10">
                                             <v-btn @click="showFile = false" v-if="edit && showFile">
                                                  Change
                                             </v-btn>
                                             <div v-else>
                                                  <v-file-input
                                                       ref="fileUpload"
                                                       :headers="{ 'x-csrf-token': token, 'X-Requested-With' : 'XMLHttpRequest'}"
                                                       :rules="fileRules"
                                                       accept=".pdf, video/mp4, video/3gpp, video/quicktime, video/x-msvideo, video/x-ms-wmv"
                                                       label="Upload File"
                                                       prepend-icon="mdi-paperclip"
                                                       small-chips
                                                       clear-icon="mdi-delete"                                                       
                                                       @change="selectVideoFile">
                                             </v-file-input>
                                             </div>
                                        </v-col>                                        
                                   </v-row>
                              </v-form>
                         </v-container>
                         <small>* Required field</small>
                         </v-card-text>
                         <v-card-actions>
                              <v-spacer></v-spacer>
                              <v-btn class="mr-4" @click="closeForm">
                              Close
                              </v-btn>
                              <v-btn color="primary" class="mr-4" @click="validateForm" :disabled="!isValid">
                              Save
                              </v-btn>
                         </v-card-actions>
                    </v-card>
               </v-dialog>
          </div>
          <!-- Lessons -->
          <v-simple-table class="pb-5">
               <template v-slot:default>
                    <thead>
                         <tr>
                              <th class="text-left">Featured Image</th>
                              <th class="text-left">Title</th>
                              <th class="text-left">Description</th>
                              <th class="text-left">File Type</th>
                              <th class="text-left">File Name</th>
                              <th class="text-left">Actions</th>
                         </tr>
                    </thead>                         
                    <tbody>
                         <tr v-for="(lesson, i) in lessons" :key="i">
                              <td>
                                   <v-img max-height="80" max-width="80" :src="lesson.featured_image" :alt="lesson.title" v-if="lesson.featured_image"></v-img>
                                   <v-img max-height="80" max-width="80" src="/uploads/no_image.jpg" alt="no image" v-else></v-img>
                              </td>
                              <td>{{ lesson.title }}</td>
                              <td>{{ lesson.description }}</td>
                              <td>{{ lesson.file_type }}</td>
                              <td>{{ lesson.file }}</td>
                              <td>
                                   <div class="d-flex">
                                   <v-btn icon color="cyan" @click="showEditForm( lesson )">
                                        <v-icon>mdi-pencil</v-icon>
                                   </v-btn>
                                   <v-btn icon color="pink" @click="showDeleteModal( lesson )">
                                        <v-icon>mdi-delete</v-icon>
                                   </v-btn>

                                   </div>
                              </td>
                         </tr>
                    </tbody>
               </template>
          </v-simple-table>


          <paginate store="lesson" collection="lessons" class="mt-5 pt-5"/>
          <!-- Snackbar -->
          <v-snackbar v-model="snackbar.display" :multi-line="snackbar.multiLine" :timeout="2000" top :color="snackbar.color">
               {{ snackbar.text }}
               <template v-slot:action="{ attrs }">
                    <v-btn text color="white" v-bind="attrs" @click="snackbar.display = false">Close</v-btn>
               </template>
          </v-snackbar>
          <!-- Delete Modal -->
          <v-dialog v-model="deleteModal" persistent max-width="290">
               <v-card>
                    <v-card-title class="headline"> Delete confirmation </v-card-title>
                    <v-card-text>Are you sure you want to delete this item?</v-card-text>
                    <v-card-actions>
                         <v-spacer></v-spacer>
                         <v-btn color="green darken-1" text @click="closeModal">
                              Cancel
                         </v-btn>
                         <v-btn color="green darken-1" text :loading="isDeleting" :disabled="isDeleting" @click="deleteItem" >
                              {{ isDeleting ? "Deleting..." : "Delete" }}
                         </v-btn>
                    </v-card-actions>
               </v-card>
          </v-dialog>
     </div>
</template>
<script>
import paginate from "../components/Paginate";
export default {
     components: {
          paginate
     },
     data() {
          return {
               data: {
                    title: '',
                    description: '',
                    featured_image: null,     
                    file_type: '',
                    file: null, 
               },
               defaultData: {
                    title: '',
                    description: '',
                    featured_image: null,     
                    file_type: '',
                    file: null,
               },
               titleRules: [
                    value => !!value || 'Title is required.',
                    value => (value && value.length > 5 ) || 'Title must be greater than 5 characters.',
               ],
               descRules: [
                    value => !!value || 'Description is required.',
                    value => !value || value.length <= 3000 || 'Description must be less than 3000 characters.',
               ],
               featuredRules: [
                    value => !!value || 'Featured image is required.',
                    value => !value || value.size < 2000000 || 'Image size should be less than 2 MB.',
                    value => (!value || (value.type == 'image/jpg' || value.type == 'image/png' || value.type == 'image/jpeg')) || 'The image format is invalid.'
               ],
               fileRules: [
                    value => !!value || 'Video/Pdf file is required.',
                    value => !value || value.size < 20000000 || 'File size should be less than 20 MB.',
                    value => (!value || (value.type == 'application/pdf' || value.type == 'video/mp4' || value.type == 'video/3gpp' || value.type == 'video/quicktime' || value.type == 'video/x-msvideo' || value.type == 'video/x-ms-wmv' )) || 'The file format is invalid.'
               ],
               edit: false,
               modalForm: false,
               isValid: true,
               snackbar: {
                    display: false,
                    color: '',
                    text: '',
                    multiLine: true,
               },
               imageHolder: null,
               fileHolder: null,
               showUpload: true,
               showFile: false,
               dataIndex: -1,
               deleteModal: false,
               itemToDelete: '',
               isDeleting: false,
               imageName: null,
               fileName: null,
          }
     },
     created() {
          this.token = window.Laravel.csrfToken;
          this.$store.dispatch('lesson/getList', 1);
     },
     computed: {
          lessons: {
               get() {
                    return this.$store.state.lesson.lessons.data;
               }
          }
     },
     methods: {
          closeForm() {
               this.data = Object.assign( {}, this.defaultData );
               this.$refs.form.reset();
               this.$refs.upload = '';
               this.$refs.fileUpload = '';
               this.modalForm = false;
               this.edit = false;
               this.imageHolder = null;
               this.fileHolder = null;
               this.showUpload = true;
               this.showFile = false;
          },          
          closeModal() {
               this.deleteModal = false;
          },
          async selectFile(e){
               if(this.$refs.upload.validate() && e){
                    const data = new FormData();
                    data.append('file', e);
                    const res = await this.callApi("post", `api/upload`, data);
                    if(res.status == 200) {
                         this.data.featured_image = res.data;
                    }
               } else {
                    if( this.edit ){
                         this.data.featured_image = this.imageHolder;
                    } else {
                         this.data.featured_image = null;
                    }
               }
          },
          async selectVideoFile(e){
               if(this.$refs.fileUpload.validate() && e){
                    const data = new FormData();
                    data.append('file', e);
                    const res = await this.callApi("post", `api/upload_file`, data);
                    if(res.status == 200) {
                         this.data.file = res.data;
                    }
               } else {
                    if( this.edit ){
                         this.data.file = this.fileHolder;
                    } else {
                         this.data.file = null;
                    }
               }
          },
          validateForm() {
               const valid = this.$refs.form.validate()
               if( valid ) {
                    if( !this.edit ) {
                         this.addLesson()
                    } else {
                         this.updateLesson()
                    }
               }   
          },
          async addLesson() {
               this.token = window.Laravel.csrfToken;
               const res = await this.callApi("post", "api/lesson/create", this.data);
               if (res.status === 200) {
                    this.data = Object.assign( {}, this.defaultData );
                    this.snackbar.text = "Lesson has been added.";
                    this.snackbar.color = '#6a994e';
                    this.snackbar.display = true;
                    this.closeForm();
                    this.$store.dispatch('lesson/getList', 1);
               } else {
                    this.snackbar.color = "error";
                    if (res.status == 422) {
                         if ( res.data.errors ) {
                              for (let i in res.data.errors) {
                                   this.snackbar.text = res.data.errors[i][0];
                                   this.snackbar.display = true;
                              }
                         }
                         if (res.data.error) {
                              this.snackbar.text = res.data.error;
                              this.snackbar.display = true;
                         }
                    } else {
                         this.snackbar.text = "Something Went Wrong";
                         this.snackbar.display = true;
                    }
               }
          },
          showEditForm( lesson ) {
               this.data = Object.assign( {}, lesson );
               this.edit = true;
               this.showUpload = false;
               this.showFile = true;
               this.modalForm = true;
               this.imageHolder = lesson.featured_image;
               this.fileHolder = lesson.file;
               this.dataIndex = this.lessons.indexOf( lesson );
          },
          async updateLesson() {
               this.token = window.Laravel.csrfToken;
               const res = await this.callApi("patch", `api/lesson/${this.data.id}`, this.data);
               if (res.status === 200) {
                    this.data = Object.assign( {}, this.defaultData );
                    this.snackbar.text = "Lesson has been updated.";
                    this.snackbar.color = "#6a994e";
                    this.snackbar.display = true;
                    this.dataIndex = -1;
                    this.closeForm();
                    this.$store.dispatch('lesson/getList', 1);
               } else {
                    this.snackbar.color = "error";
                    if (res.status == 422) {
                         if( res.data.errors ) {
                              for (let i in res.data.errors) {
                                   this.snackbar.text = res.data.errors[i][0];
                                   this.snackbar.display = true;
                              }
                         }
                         if ( res.data.error ) {
                              this.snackbar.text = res.data.error;
                              this.snackbar.display = true;
                         }
                    } else {
                         this.snackbar.text = "Something went wrong.";
                         this.snackbar.display = true;
                    }
               }
          },
          showDeleteModal( lesson ) {
               this.deleteModal = true;
               this.itemToDelete = lesson.id;
               this.imageName = lesson.featured_image;       
               this.fileName = lesson.file;       
          },
          async deleteItem(){
               this.token = window.Laravel.csrfToken;
               this.isDeleting = true
               const res = await this.callApi("delete", `api/lesson/${this.itemToDelete}`)
               if( res.status === 200 ) {
                    this.snackbar.text = "Lesson has been deleted."
                    this.snackbar.color = "#6a994e";
                    this.dataIndex = -1;
                    this.itemToDelete = "";
                    this.deleteModal = false;
                    if( this.imageName ) {
                         this.removeImageFromServer( this.imageName );
                    }
                    if( this.fileName ) {
                         this.removeImageFromServer( this.fileName );
                    }
                    this.imageName = null;
                    this.fileName = null;
                    this.$store.dispatch('lesson/getList', 1);
               } else {
                    this.snackbar.text = "Something went wrong.";
                    this.snackbar.color = "error";
               }
               this.snackbar.display = true
               this.isDeleting = false
          },
          async removeImageFromServer( image ) {
               const res = await this.callApi("post", "api/remove_upload", { imageName: image });
               if (res.status != 200) {
                    this.imageName = image;
                    this.snackbar.text = "Something went wrong.";
                    this.snackbar.color = "error";
                    this.snackbar.display = true
               }
          },

     }

     
}
</script>