<template>
     <div class="gallery-container component-container p-5">
          <div class="page-header mb-10">
               <h2 class="text-h5 font-weight-bold">Album: {{ albumName }}</h2>
               <v-dialog v-model="modalForm" transition="dialog-top-transition" persistent max-width="600px">
                    <template v-slot:activator="{ on, attrs }">           
                         <v-btn v-bind="attrs" v-on="on" outlined color="#6a994e"><v-icon class="pr-1">mdi-plus</v-icon>Upload</v-btn>
                    </template>
                    <v-card class="pb-5">
                         <v-toolbar color="primary" dark>Gallery Images Form</v-toolbar>
                         <v-card-text>
                         <v-container>
                              <v-form ref="form" v-model="isValid" lazy-validation>
                                   <v-file-input accept="image/png, image/jpeg, image/jpg"
                                        :headers="{ 'x-csrf-token': token, 'X-Requested-With' : 'XMLHttpRequest'}"
                                        ref="upload"                                   
                                        prepend-icon="mdi-camera"
                                        multiple
                                        chips
                                        v-model="files"
                                        :rules="imageRules"
                                        label="Upload Images"
                                        @change="addFiles">
                                   </v-file-input>
                                   <v-row class="mt-2">
                                        <v-col sm="2" v-for="(file,f) in files" :key="f" class="p-1">
                                             <img :ref="'file'" src="//placehold.it/400/99cc77" class="img-fluid" :title="'file' + f" />
                                        </v-col>
                                   </v-row>
                              </v-form>
                         </v-container>
                         </v-card-text>
                         <v-card-actions>
                              <v-spacer></v-spacer>
                              <v-btn class="mr-4" @click="closeForm">
                              Close
                              </v-btn>
                              <v-btn color="primary" class="mr-4" @click="validateForm" :disabled="!isValid">
                              Save
                              </v-btn>
                         </v-card-actions>
                    </v-card>
               </v-dialog>
          </div>

          <!-- Images -->
          <v-row>
               <v-col cols="6" sm="4" md="3" xl="2" v-for="(image, i) in images.gallery_images" :key="i">
                    <v-card>
                         <v-img
                              height="220px"
                              :src="image.image_path"
                              alt="image"
                         >
                              <v-app-bar flat color="rgba(0, 0, 0, 0.2)">
                                   <!-- <v-toolbar-title class="title white--text pl-0">
                                        {{ album.name }}
                                   </v-toolbar-title> -->
                                   <v-spacer></v-spacer>
                                   <v-speed-dial
                                        direction="bottom"
                                        :open-on-hover="hover"
                                        transition="slide-y-transition"
                                   >
                                        <template v-slot:activator>
                                             <v-btn
                                                  color="white"
                                                  icon
                                                  small
                                             >                                             
                                                  <v-icon>mdi-dots-vertical</v-icon>
                                             </v-btn>
                                        </template>
                                        <v-btn fab dark x-small color="#6a994e" @click="showDeleteModal( image )">
                                             <v-icon>mdi-delete</v-icon>
                                        </v-btn>
                                   </v-speed-dial>
                              </v-app-bar>
                    </v-img>
                    </v-card>
               </v-col>
          </v-row>
          
          <!-- Snackbar -->
          <v-snackbar v-model="snackbar.display" :multi-line="snackbar.multiLine" :timeout="2000" top :color="snackbar.color">
               {{ snackbar.text }}
               <template v-slot:action="{ attrs }">
                    <v-btn text color="white" v-bind="attrs" @click="snackbar.display = false">Close</v-btn>
               </template>
          </v-snackbar>
          <!-- Delete Modal -->
          <v-dialog v-model="deleteModal" persistent max-width="290">
               <v-card>
                    <v-card-title class="headline"> Delete confirmation </v-card-title>
                    <v-card-text>Are you sure you want to delete this item?</v-card-text>
                    <v-card-actions>
                         <v-spacer></v-spacer>
                         <v-btn color="green darken-1" text @click="closeModal">
                              Cancel
                         </v-btn>
                         <v-btn color="green darken-1" text :loading="isDeleting" :disabled="isDeleting" @click="deleteItem" >
                              {{ isDeleting ? "Deleting..." : "Delete" }}
                         </v-btn>
                    </v-card-actions>
               </v-card>
          </v-dialog>

          

     </div>
</template>
<script>
export default {
     data() {
          return {
               albumId: this.$route.params.id,
               albumName: this.$route.params.name,
               files: [],
               readers: [],
               images: [],
               data: {
                    id: this.$route.params.id,
                    images: [],
               },
               defaultData: {
                    id: this.$route.params.id,
                    images: [],
               },
               imageRules: [
                    files => !files || !files.some(file => file.size > 2_097_152) || 'Image size should be less than 2 MB.'
               ],
               sortRules: [
                    value => !value || (!isNaN(parseFloat(value)) && value >= 0 && value <= 999)  || 'Sort order has to be between 0 and 999.'
               ],
               modalForm: false,
               isValid: true,
               snackbar: {
                    display: false,
                    color: '',
                    text: '',
                    multiLine: true,
               },
               edit: false,
               imageHolder: null,
               dataIndex: -1,
               deleteModal: false,
               itemToDelete: '',
               isDeleting: false,
               hover: true,
               fab: false,
               imageName: '',
          }
     },
     created() {
          this.token = window.Laravel.csrfToken;
          !!this.albumId ? this.getGalleryImages() : this.goToGalleryAlbum();
     },
     methods: {
          async getGalleryImages() {
               const res = await this.callApi("get", `api/gallery/album/${this.albumId}`);
                    if( res.status === 200 ) {
                         this.images = res.data
                    } else {
                         this.snackbar.text = "Something went wrong.";
                         this.snackbar.color = "error";
                         this.snackbar.display = true;
                    }
          },
          goToGalleryAlbum() {
               this.$router.push({
                    name: "admin.album",
               });
          },
          addFiles(){
               const valid = this.$refs.upload.validate()
               if( valid ) {
                    this.files.forEach((file, f) => {
                         this.readers[f] = new FileReader();
                         this.readers[f].onloadend = (e) => {
                              let fileData = this.readers[f].result
                              let imgRef = this.$refs.file[f]
                              imgRef.src = fileData
                              // send to server here...
                              this.uploadFile( file );
                         }
                         this.readers[f].readAsDataURL(this.files[f]);
                    });
               }
          },
          async uploadFile( file ) {
               const data = new FormData()
               data.append('file', file)
               const res = await this.callApi("post", "api/upload_many", data)
               if( res.status == 200 ) {
                    this.data.images.unshift(res.data)
               } else {
                    this.snackbar.color = "error"
                    this.isValid = false
                    if (res.status == 422) {
                         for (let i in res.data.errors) {
                              this.snackbar.text = res.data.errors[i][0]
                              this.snackbar.display = true
                         }
                    } else {
                         this.snackbar.text = "Something went wrong."
                         this.snackbar.display = true
                    }
               }
          },
          validateForm () {
               const valid = this.$refs.form.validate()
               if( valid ) {
                    if( !this.edit ) {
                         this.addGalleryImages()
                    } else {
                         this.updateGalleryImages()
                    }
               }         
          },
          async addGalleryImages() {
               this.token = window.Laravel.csrfToken;
               const res = await this.callApi("post", "api/gallery/image", this.data);
               if (res.status === 200) {
                    this.data = Object.assign( {}, this.defaultData );
                    this.snackbar.text = "Gallery image has been added.";
                    this.snackbar.color = '#6a994e';
                    this.snackbar.display = true;   
                    this.getGalleryImages();               
                    this.closeForm();
               } else {
                    this.snackbar.color = "error";
                    if (res.status == 422) {
                         for (let i in res.data.errors) {
                              this.snackbar.text = res.data.errors[i][0];
                              this.snackbar.display = true;
                         }
                    } else {
                         this.snackbar.text = "Something went wrong.";
                         this.snackbar.display = true;
                    }
               }
          },
          showDeleteModal( image ) {
               this.deleteModal = true;
               this.dataIndex = this.images.gallery_images.indexOf( image );
               this.itemToDelete = image.id;
               this.imageName = image.image_path;
          },
          async deleteItem(){
               this.token = window.Laravel.csrfToken;
               this.isDeleting = true
               const res = await this.callApi("delete", `api/gallery/image/${this.itemToDelete}`)
               if( res.status === 200 ) {
                    this.images.gallery_images.splice(this.dataIndex, 1);
                    this.snackbar.text = "Gallery image has been deleted"
                    this.snackbar.color = "#6a994e";
                    this.dataIndex = -1;
                    this.itemToDelete = "";
                    this.deleteModal = false;
                    this.removeImageFromServer( this.imageName );
               } else {
                    this.snackbar.text = "Something went wrong.";
                    this.snackbar.color = "error";
               }
               this.snackbar.display = true
               this.isDeleting = false
          },
          async removeImageFromServer( image ) {
               const res = await this.callApi("post", "api/remove_upload", { imageName: image });
               if (res.status != 200) {
                    this.imageName = image;
                    this.snackbar.text = "Something went wrong.";
                    this.snackbar.color = "error";
                    this.snackbar.display = true
               }
          },
          closeForm() {
               this.data = Object.assign( {}, this.defaultData );
               this.$refs.form.reset();
               this.modalForm = false;
               this.edit = false;
               this.imageHolder = null;
               this.showUpload = true;
          },
          closeModal() {
               this.deleteModal = false;
          },

    },
}
</script>