<template>
     <div class="gallery-album-container component-container p-5">
          <div class="page-header mb-10">
               <h2 class="text-h5 font-weight-bold">Gallery Albums</h2>
               <v-dialog v-model="modalForm" transition="dialog-top-transition" persistent max-width="600px">
                    <template v-slot:activator="{ on, attrs }">           
                         <v-btn v-bind="attrs" v-on="on" outlined color="#6a994e"><v-icon class="pr-1">mdi-plus</v-icon> Add album</v-btn>
                    </template>
                    <v-card class="pb-5">
                         <v-toolbar color="primary" dark>User Account Form</v-toolbar>
                         <v-card-text>
                         <v-container>
                              <v-form ref="form" v-model="isValid" lazy-validation>
                                   <v-row>
                                        <v-col cols="12">
                                             <v-text-field v-model="data.name" label="Album Name" :rules="nameRules" required></v-text-field>
                                        </v-col>
                                        <v-col cols="12">
                                             <v-textarea v-model="data.description" auto-grow label="Description (optional)" :rules="descRules" rows="1"></v-textarea>
                                        </v-col>

                                        <v-col cols="2" v-if="edit && imageHolder">
                                             <img :src="imageHolder" :alt="data.name" class="img-fluid"/>
                                        </v-col>
                                        <v-col cols="10">
                                             <v-btn @click="showUpload = true" v-if="imageHolder && !showUpload">
                                                  Change
                                             </v-btn>
                                             <div v-else>
                                                  <v-file-input
                                                       ref="upload"
                                                       :headers="{ 'x-csrf-token': token, 'X-Requested-With' : 'XMLHttpRequest'}"
                                                       :rules="imageRules"
                                                       accept="image/png, image/jpeg, image/jpg"
                                                       label="Upload Album Image"
                                                       prepend-icon="mdi-camera"
                                                       small-chips
                                                       clear-icon="mdi-delete"
                                                       @change="selectFile">
                                                  </v-file-input>
                                             </div>
                                        </v-col>
                                   </v-row>
                              </v-form>
                         </v-container>
                         <!-- <small>* fields are required.</small> -->
                         </v-card-text>
                         <v-card-actions>
                              <v-spacer></v-spacer>
                              <v-btn class="mr-4" @click="closeForm">
                              Close
                              </v-btn>
                              <v-btn color="primary" class="mr-4" @click="validateForm" :disabled="!isValid">
                              Save
                              </v-btn>
                         </v-card-actions>
                    </v-card>
               </v-dialog>
          </div>


          <v-row>
               <v-col cols="6" sm="4" md="3" v-for="album in albums" :key="album.id">
                    <v-card>
                         <v-img
                              height="220px"
                              :src="album.image_path"
                              :alt="album.name"
                         >
                              <v-app-bar flat color="rgba(0, 0, 0, 0.2)">
                                   <v-toolbar-title class="title white--text pl-0">
                                        {{ album.name }}
                                   </v-toolbar-title>
                                   <v-spacer></v-spacer>
                                   <v-speed-dial
                                        direction="bottom"
                                        :open-on-hover="hover"
                                        transition="slide-y-transition"
                                   >
                                        <template v-slot:activator>
                                             <v-btn
                                                  color="white"
                                                  icon
                                                  small
                                             >                                             
                                                  <v-icon>mdi-dots-vertical</v-icon>
                                             </v-btn>
                                        </template>
                                        <v-btn fab dark x-small color="#6a994e" @click="goToImage( album )">
                                             <v-icon>mdi-magnify</v-icon>
                                        </v-btn>
                                        <v-btn fab dark x-small color="#6a994e" @click="showEditForm( album )">
                                             <v-icon>mdi-pencil</v-icon>
                                        </v-btn>
                                        <v-btn fab dark x-small color="#6a994e" @click="showDeleteModal( album )">
                                             <v-icon>mdi-delete</v-icon>
                                        </v-btn>
                                   </v-speed-dial>
                              </v-app-bar>
                              
                         </v-img>
                    </v-card>
               </v-col>
          </v-row>


          <!-- Snackbar -->
          <v-snackbar v-model="snackbar.display" :multi-line="snackbar.multiLine" :timeout="2000" top :color="snackbar.color">
               {{ snackbar.text }}
               <template v-slot:action="{ attrs }">
                    <v-btn text color="white" v-bind="attrs" @click="snackbar.display = false">Close</v-btn>
               </template>
          </v-snackbar>
          <!-- Delete Modal -->
          <v-dialog v-model="deleteModal" persistent max-width="290">
               <v-card>
                    <v-card-title class="headline"> Delete confirmation </v-card-title>
                    <v-card-text>Are you sure you want to delete {{ to_delete }}?</v-card-text>
                    <v-card-actions>
                         <v-spacer></v-spacer>
                         <v-btn color="green darken-1" text @click="closeModal">
                              Cancel
                         </v-btn>
                         <v-btn color="green darken-1" text :loading="isDeleting" :disabled="isDeleting" @click="deleteItem" >
                              {{ isDeleting ? "Deleting..." : "Delete" }}
                         </v-btn>
                    </v-card-actions>
               </v-card>
          </v-dialog>
     </div>
</template>
<script>
export default {
     data() {
          return {
               albums: {},
               data: {
                    name: '',
                    description: '',
                    image_path: null,
               },
               defaultData: {
                    name: '',
                    description: '',
                    image_path: null,
               },
               nameRules: [
                    value => !!value || 'Name is required.',
                    value => (value && value.length > 5 ) || 'Name must be greater than 5 characters.',
               ],
               descRules: [
                    value => !value || value.length <= 3000 || 'Description must be less than 3000 characters.',
               ],
               imageRules: [
                    value => !value || value.size < 2000000 || 'The image size should be less than 2 MB.',
                    value => (!value || (value.type == 'image/jpg' || value.type == 'image/png' || value.type == 'image/jpeg')) || 'The image format is invalid.'
               ],
               edit: false,
               modalForm: false,
               isValid: true,
               snackbar: {
                    display: false,
                    color: '',
                    text: '',
                    multiLine: true,
               },
               imageHolder: null,
               showUpload: true,
               dataIndex: -1,
               deleteModal: false,
               itemToDelete: '',
               isDeleting: false,
               hover: true,
               fab: false,
               to_delete: '',
          }
     },
     created() {
          this.showUpload = true;
          this.token = window.Laravel.csrfToken;
          this.getGalleryAlbums();
     },
     methods: {
          async getGalleryAlbums(){
               const res = await this.callApi("get", "api/gallery/albums");
               if (res.status === 200) {
                    this.albums = res.data;
               } else {
                    this.snackbar.text = "Something went wrong.";
                    this.snackbar.color = "error";
                    this.snackbar.display = true;
               }
          },
          validateForm () {
               const valid = this.$refs.form.validate()
               if( valid ) {
                    if( !this.edit ) {
                         this.addGalleryAlbum()
                    } else {
                         this.updateGalleryAlbum()
                    }
               }         
          },
          async addGalleryAlbum() {
               this.token = window.Laravel.csrfToken;
               const res = await this.callApi("post", "api/gallery/album", this.data);
               if (res.status === 200) {
                    this.albums.unshift(res.data);
                    this.data = Object.assign( {}, this.defaultData );
                    this.snackbar.text = "Gallery album has been added.";
                    this.snackbar.color = '#6a994e';
                    this.snackbar.display = true;                  
                    this.closeForm();
               } else {
                    this.snackbar.color = "error";
                    if (res.status == 422) {
                         for (let i in res.data.errors) {
                              this.snackbar.text = res.data.errors[i][0];
                              this.snackbar.display = true;
                         }
                    } else {
                         this.snackbar.text = "Something went wrong.";
                         this.snackbar.display = true;
                    }
               }
               
          },
          showEditForm( album ) {
               this.data = Object.assign( {}, album );
               this.edit = true;
               this.showUpload = false;
               this.modalForm = true;
               this.imageHolder = album.image_path;
               this.dataIndex = this.albums.indexOf( album );
          },
          closeForm() {
               this.$refs.form.reset();
               this.modalForm = false;
               this.edit = false;
               this.imageHolder = null;
               this.showUpload = true;
          },
          async updateGalleryAlbum() {
               this.token = window.Laravel.csrfToken;
               const res = await this.callApi("patch", `api/gallery/album/${this.data.id}`, this.data);
               if (res.status === 200) {
                    this.albums[this.dataIndex].name = res.data.name;
                    this.albums[this.dataIndex].description = res.data.description;
                    this.albums[this.dataIndex].image_path = res.data.image_path;
                    this.data = Object.assign( {}, this.defaultData );
                    this.snackbar.text = "Gallery album has been updated.";
                    this.snackbar.color = "#6a994e";
                    this.snackbar.display = true;
                    this.dataIndex = -1;
                    this.closeForm();
               } else {
                    this.snackbar.color = "error";
                    if (res.status == 422) {
                         for (let i in res.data.errors) {
                              this.snackbar.text = res.data.errors[i][0];
                              this.snackbar.display = true;
                         }
                    } else {
                         this.snackbar.text = "Something went wrong.";
                         this.snackbar.display = true;
                    }
               }
          },
          async selectFile(e){
               if(this.$refs.upload.validate() && e){
                    const data = new FormData();
                    data.append('file', e);
                    const res = await this.callApi("post", `api/upload`, data);
                    if(res.status == 200) {
                         this.data.image_path = res.data;
                    }
               } else {
                    if( this.edit ){
                         this.data.image_path = this.imageHolder;
                    } else {
                         this.data.image_path = null;
                    }
               }
          },
          showDeleteModal( album ) {
               this.deleteModal = true;
               this.dataIndex = this.albums.indexOf( album );
               this.itemToDelete = album.id;
               this.to_delete = album.name;
          },
          closeModal() {
               this.deleteModal = false;
          },
          async deleteItem(){
               this.token = window.Laravel.csrfToken;
               this.isDeleting = true
               const res = await this.callApi("delete", `api/gallery/album/${this.itemToDelete}`)
               if( res.status === 200 ) {
                    this.albums.splice(this.dataIndex, 1);
                    this.snackbar.text = "Gallery album has been deleted"
                    this.snackbar.color = "#6a994e";
                    this.dataIndex = -1;
                    this.itemToDelete = "";
                    this.deleteModal = false;
               } else {
                    this.snackbar.text = "Something went wrong.";
                    this.snackbar.color = "error";
               }
               this.snackbar.display = true
               this.isDeleting = false
          },
          goToImage( album )  {
               this.$router.push({
                    name: "admin.gallery",
                    params: {
                         id: album.id,
                         name: album.name,
                    },
               });
               
          }
     }
}
</script>