<template>
     <div class="profile-container component-container p-lg-5">
          <div class="page-header mb-10">
               <h2 class="text-h5 font-weight-bold">My Profile</h2>        
               <v-btn outlined color="#6a994e" @click="showEditForm( user )"><v-icon class="pr-1">mdi-pencil</v-icon> Edit profile</v-btn> 
          </div>
          <v-card
               elevation="0"
          >
               <v-row>
                    <v-col cols="12" sm="3">
                         <v-img
                              :src="user.avatar ? user.avatar : `uploads/no_image.jpg`"
                              max-height="200px"
                              aspect-ratio="1"
                              class="grey lighten-2"
                              contain
                         >
                              <template v-slot:placeholder>
                                   <v-row
                                        class="fill-height ma-0"
                                        align="center"
                                        justify="center"
                                   >
                                        <v-progress-circular
                                        indeterminate
                                        color="grey lighten-5"
                                        ></v-progress-circular>
                                   </v-row>
                              </template>
                         </v-img>
                    </v-col>
                    <v-col cols="12" sm="9">
                         <v-list-item>
                              <v-list-item-content>
                                   <v-list-item-title><h3 v-text="user.first+' '+user.last"></h3></v-list-item-title>
                                   <div class="mb-2">Role: {{ user.is_admin ? 'Admin' : 'User' }}</div>
                                   <div class="mb-2">Email: {{ user.email }}</div>
                                   <div class="my-5">
                                        <v-btn
                                             outlined
                                             text
                                             @click="showResetPasswordFrom( user )"
                                        >
                                             Reset Password
                                        </v-btn>

                                   </div>
                              </v-list-item-content>
                         </v-list-item>
                    </v-col>
                    <v-col></v-col>
               </v-row>

          </v-card>
          <!-- Edit Profile Form -->
          <v-dialog v-model="modalForm" transition="dialog-top-transition" persistent max-width="600px">
               <v-card class="pb-5">
                    <v-toolbar color="primary" dark>Profile Form</v-toolbar>
                    <v-card-text>
                    <v-container>
                         <v-form ref="form" v-model="isValid" lazy-validation>
                              <v-row>
                                   <v-col cols="12" sm="6" v-if="!resetPassword">
                                        <v-text-field v-model="data.first" label="First name" :rules="firstRules" required></v-text-field>
                                   </v-col>
                                   <v-col cols="12" sm="6" v-if="!resetPassword">
                                        <v-text-field v-model="data.last" label="Last name" :rules="lastRules" required></v-text-field>
                                   </v-col>

                                   <v-col cols="12" v-if="edit && resetPassword">
                                        <v-text-field v-model="data.old_password" label="Old password" type="password" :rules="passwordRules" required></v-text-field>
                                   </v-col>
                                   <v-col cols="12" v-if="edit && resetPassword">
                                        <v-text-field v-model="data.password" label="New password" type="password" :rules="passwordRules" required></v-text-field>
                                   </v-col>
                                   <v-col cols="12" v-if="edit && resetPassword">
                                        <v-text-field v-model="data.password_confirmation" label="Confirm password" type="password" :rules="confirmRules" required></v-text-field>
                                   </v-col>

                                   <v-col cols="2" v-if="edit && imageHolder && !resetPassword">
                                        <img :src="imageHolder" :alt="data.last" class="img-fluid"/>
                                   </v-col>
                                   <v-col cols="10" v-if="!resetPassword">
                                        <v-btn @click="showUpload = true" v-if="imageHolder && !showUpload">
                                             Change
                                        </v-btn>
                                        <div v-else>
                                             <v-file-input
                                                  ref="upload"
                                                  :headers="{ 'x-csrf-token': token, 'X-Requested-With' : 'XMLHttpRequest'}"
                                                  :rules="avatarRules"
                                                  accept="image/png, image/jpeg, image/jpg"
                                                  label="Upload Avatar"
                                                  prepend-icon="mdi-camera"
                                                  small-chips
                                                  clear-icon="mdi-delete"
                                                  @change="selectFile">
                                        </v-file-input>
                                        </div>
                                   </v-col>
                              </v-row>
                         </v-form>
                    </v-container>
                    <small>All fields are required.</small>
                    </v-card-text>
                    <v-card-actions>
                         <v-spacer></v-spacer>
                         <v-btn class="mr-4" @click="closeForm">
                         Close
                         </v-btn>
                         <v-btn color="primary" class="mr-4" @click="validateForm" :disabled="!isValid">
                         Save
                         </v-btn>
                    </v-card-actions>
               </v-card>
          </v-dialog>
          <!-- Snackbar -->
          <v-snackbar v-model="snackbar.display" :multi-line="snackbar.multiLine" :timeout="2000" top :color="snackbar.color">
               {{ snackbar.text }}
               <template v-slot:action="{ attrs }">
                    <v-btn text color="white" v-bind="attrs" @click="snackbar.display = false">Close</v-btn>
               </template>
          </v-snackbar>
     </div>     
</template>
<script>
export default {
     data() {
          return {
               data: {
                    first: '',
                    last: '',
                    email: '',
                    old_password: '',
                    password: '',
                    password_confirmation: '',
                    avatar: '',
               },
               defaultData: {
                    first: '',
                    last: '',
                    email: '',
                    old_password: '',
                    password: '',
                    password_confirmation: '',
                    avatar: '',
               },
               badChars: /^[a-zA-Z0-9-.,! ]+$/,
               firstRules: [
                    value => !!value || 'First name is required.',
                    value => (value && value.length <= 255 ) || 'First name must be less than 255 characters.',
                    value => this.badChars.test(value) || 'Special characters are not supported.',
               ],
               lastRules: [
                    value => !!value || 'Last name is required.',
                    value => (value && value.length <= 255 ) || 'Last name must be less than 255 characters.',
                    value => this.badChars.test(value) || 'Special characters are not supported.',
               ],
               passwordRules: [
                    value => !!value || 'Please type password.',
                    value => (value && value.length >= 8 ) || 'Password must be atleast 8 characters long.',
               ],
               confirmRules: [
                    value => !!value || 'Please confirm password.',
                    (value) => (value) === this.data.password || 'Password confirmation does not match.'
               ],
               avatarRules: [
                    value => !value || value.size < 2000000 || 'Avatar size should be less than 2 MB.',
                    value => (!value || (value.type == 'image/jpg' || value.type == 'image/png' || value.type == 'image/jpeg')) || 'The image format is invalid'
               ],
               snackbar: {
                    display: false,
                    color: '',
                    text: '',
                    multiLine: true,
               },
               edit: false,
               modalForm: false,
               isValid: true,
               resetPassword: false,
               imageHolder: null,
               showUpload: true,
          }
     },
     created() {
          this.token = window.Laravel.csrfToken;
          this.$store.dispatch( 'currentUser/getUser' );
     },
     computed: {
          user: {
               get() {
                    return this.$store.state.currentUser.user;
               }
          }
     },
     methods: {
          closeForm() {
               // this.data = Object.assign( {}, this.defaultData );
               this.$refs.form.reset();
               this.modalForm = false;
               this.edit = false;
               this.imageHolder = null;
               this.showUpload = true;
               this.resetPassword = false;
          },
          validateForm() {           
               if(this.resetPassword) {
                    if (this.data.password != this.data.password_confirmation) {
                         this.snackbar.text = "The password confirmation does not match";
                         this.snackbar.color = "error";
                         this.snackbar.display = true;
                         // return;
                    }
               }
               const valid = this.$refs.form.validate()
               if( valid ) {
                    if( this.resetPassword ){
                         this.updatePassword();
                    } else {
                         this.updateProfile();
                    }
               } else {
                    console.log('error');
               }
          },
          showEditForm( user ) {
               this.data = Object.assign( {}, user );
               this.edit = true;
               this.showUpload = false;
               this.modalForm = true;
               this.imageHolder = user.avatar;
          },
          showResetPasswordFrom( user ) {
               this.data.email = user.email;
               this.data.id = user.id;
               this.edit = true;
               this.modalForm = true;
               this.resetPassword = true;
          },
          async updateProfile() {
               this.token = window.Laravel.csrfToken;
               const res = await this.callApi("patch", `api/profile/${this.data.id}`, this.data);
               if (res.status === 200) {
                    this.$store.dispatch('currentUser/getUser');
                    this.data = Object.assign( {}, this.defaultData );
                    this.snackbar.text = "Your profile has been updated.";
                    this.snackbar.color = "success";
                    this.snackbar.display = true;
                    this.dataIndex = -1;
                    this.closeForm();
               } else {
                    this.snackbar.color = "error";
                    if (res.status == 422) {
                         for (let i in res.data.errors) {
                              this.snackbar.text = res.data.errors[i][0];
                              this.snackbar.display = true;
                         }
                    } else {
                         this.snackbar.text = "Something Went Wrong";
                         this.snackbar.display = true;
                    }
               }
          },
          async updatePassword() {
               const res = await this.callApi("patch", `api/profile/reset_password/${this.data.id}`, this.data);
               if (res.status === 200) {
                    this.$store.dispatch('currentUser/getUser');
                    this.snackbar.text = res.data.msg;
                    this.snackbar.color = "success";
                    this.snackbar.display = true;
                    this.dataIndex = -1;
                    this.closeForm();
               } else {
                    this.snackbar.color = "error";
                    if (res.status == 422) {
                         for (let i in res.data.errors) {
                              this.snackbar.text = res.data.errors[i][0];
                              this.snackbar.display = true;
                         }
                    } else if (res.status == 401){
                         this.snackbar.text = res.data.msg;
                         this.snackbar.display = true;
                    } else {
                         this.snackbar.text = "Something Went Wrong";
                         this.snackbar.display = true;
                    }
               }

          },
          async selectFile(e){
               if(this.$refs.upload.validate() && e){
                    const data = new FormData();
                    data.append('file', e);
                    const res = await this.callApi("post", `api/upload`, data);
                    if(res.status == 200) {
                         this.data.avatar = res.data;
                    }
               } else {
                    if( this.edit ){
                         this.data.avatar = this.imageHolder;
                    } else {
                         this.data.avatar = null;
                    }
               }
          },
     }
}
</script>
