<template>
     <div class="setting-social-container component-container p-5">
          <div class="page-header">
               <h2 class="text-h5 font-weight-bold">Settings - Social Media</h2>
                    <v-dialog v-model="modalForm" transition="dialog-top-transition" persistent max-width="600px">
                         <template v-slot:activator="{ on, attrs }">           
                              <v-btn v-bind="attrs" v-on="on" outlined color="#6a994e"><v-icon class="pr-1">mdi-plus</v-icon> Add social media</v-btn>
                         </template>
                         <v-card class="pb-5">
                              <v-toolbar color="primary" dark>Social Media Form</v-toolbar>
                              <v-card-text>
                              <v-container>
                                   <v-form ref="form" v-model="isValid" lazy-validation>
                                        <v-row>
                                             <!-- Name -->
                                             <v-col cols="12">
                                                  <v-text-field v-model="data.name" label="* Enter Name" :rules="nameRules" required></v-text-field>
                                             </v-col>
                                             <!-- Link -->
                                             <v-col cols="12">
                                                  <v-text-field v-model="data.link" label="* Enter Link" :rules="linkRules" required></v-text-field>
                                             </v-col>
                                             <!-- Icon Image -->
                                             <v-col cols="2" v-if="edit && imageHolder">
                                                  <img :src="imageHolder" :alt="data.name" class="img-fluid"/>
                                             </v-col>
                                             <v-col cols="10">
                                                  <v-btn @click="showUpload = true" v-if="imageHolder && !showUpload">
                                                       Change
                                                  </v-btn>
                                                  <div v-else>
                                                       <v-file-input
                                                            ref="upload"
                                                            :headers="{ 'x-csrf-token': token, 'X-Requested-With' : 'XMLHttpRequest'}"
                                                            :rules="imageRules"
                                                            accept="image/png, image/jpeg, image/jpg"
                                                            label="* Upload Icon Image"
                                                            prepend-icon="mdi-camera"
                                                            small-chips
                                                            clear-icon="mdi-delete"
                                                            @change="selectFile">
                                                       </v-file-input>
                                                  </div>
                                             </v-col>
                                        </v-row>
                                   </v-form>
                              </v-container>
                              <strong>* Required field</strong>
                              </v-card-text>
                              <v-card-actions>
                                   <v-spacer></v-spacer>
                                   <v-btn class="mr-4" @click="closeForm">
                                   Close
                                   </v-btn>
                                   <v-btn color="primary" class="mr-4" @click="validateForm" :disabled="!isValid">
                                   Save
                                   </v-btn>
                              </v-card-actions>
                         </v-card>
               </v-dialog>
          </div>
          <!-- Social Media List -->
          <v-simple-table class="pb-5">
               <template v-slot:default>
                    <thead>
                         <tr>
                              <th class="text-left">Icon</th>
                              <th class="text-left">Name</th>
                              <th class="text-left">Link</th>
                              <th class="text-left">Actions</th>
                         </tr>
                    </thead>                         
                    <tbody>
                         <tr v-for="(social, i) in socials" :key="i">
                              <td>
                                   <v-img max-height="30" max-width="30" :src="social.image_path" :alt="social.name" v-if="social.image_path"></v-img>
                                   <v-img max-height="30" max-width="30" src="/uploads/no_image.jpg" alt="no image" v-else></v-img>
                              </td>
                              <td>{{ social.name }}</td>
                              <td>{{ social.link }}</td>
                              <td>
                                   <v-btn icon color="cyan" @click="showEditForm(social, i)">
                                        <v-icon>mdi-pencil</v-icon>
                                   </v-btn>
                                   <v-btn icon color="pink" @click="showDeleteModal(social, i)">
                                        <v-icon>mdi-delete</v-icon>
                                   </v-btn>
                              </td>
                         </tr>
                    </tbody>
               </template>
          </v-simple-table>
          <h4 class="text-center" v-show="!socials.length"> Nothing to display </h4>

          <!-- Snackbar -->
          <v-snackbar v-model="snackbar.display" :multi-line="snackbar.multiLine" :timeout="2000" top :color="snackbar.color">
               {{ snackbar.text }}
               <template v-slot:action="{ attrs }">
                    <v-btn text color="white" v-bind="attrs" @click="snackbar.display = false">Close</v-btn>
               </template>
          </v-snackbar>
          <!-- Delete Modal -->
          <v-dialog v-model="deleteModal" persistent max-width="290">
               <v-card>
                    <v-card-title class="headline"> Delete confirmation </v-card-title>
                    <v-card-text>Are you sure you want to delete this item?</v-card-text>
                    <v-card-actions>
                         <v-spacer></v-spacer>
                         <v-btn color="green darken-1" text @click="closeModal">
                              Cancel
                         </v-btn>
                         <v-btn color="green darken-1" text :loading="isDeleting" :disabled="isDeleting" @click="deleteItem" >
                              {{ isDeleting ? "Deleting..." : "Delete" }}
                         </v-btn>
                    </v-card-actions>
               </v-card>
          </v-dialog>
     </div>
</template>
<script>
export default {
     data() {
          return {
               socials: [],
               data: {
                    name: '',
                    image_path: null,
                    link: '',
                    setting_id: 1,
               },
               nameRules: [
                    value => !!value || 'Name is required.',
               ],
               imageRules: [
                    value => !!value || 'Icon image is required',
                    value => (value && value.size < 2000000) || 'Icon image size must be less than 2 MB.',
                    value => (!value || (value.type == 'image/jpg' || value.type == 'image/png' || value.type == 'image/jpeg')) || 'The image format is invalid'
               ],
               linkRules: [
                    value => !!value || 'Link is required',
                    value => !value || value.length <= 3000 || 'Description must be less than 3000 characters.',
               ],
               edit: false,
               modalForm: false,
               isValid: true,
               snackbar: {
                    display: false,
                    color: '',
                    text: '',
                    multiLine: true,
               },
               imageHolder: null,
               showUpload: true,
               dataIndex: -1,
               deleteModal: false,
               itemToDelete: '',
               isDeleting: false,
          }
     },
     created() {
          this.showUpload = true;
          this.token = window.Laravel.csrfToken;
          this.getSocials();
     },
     methods: {
          async getSocials() {
               const res = await this.callApi("get", "api/social_medias");
               if (res.status === 200) {
                    this.socials = res.data;
               } else {
                    this.snackbar.text = "Something Went Wrong";
                    this.snackbar.color = "error";
                    this.snackbar.display = true;
               }
          },
          validateForm () {
               this.$refs.form.validate()
               if(this.$refs.form.validate()) {
                    if(!this.edit) {
                         this.addSocial()
                    } else {
                         this.updateSocial()
                    }
               }          
          },
          closeForm() {
               this.$refs.form.reset();
               this.modalForm = false;
               this.edit = false;
               this.imageHolder = null;
               this.showUpload = true;
               this.data.setting_id = 1;
          },
          async addSocial() {
               this.token = window.Laravel.csrfToken;
               const res = await this.callApi("post", "api/setting/social_media/create", this.data);
               if (res.status === 200) {
                    this.socials.unshift(res.data);
                    this.data.name = '';
                    this.data.image_path = null;
                    this.data.link = '',
                    this.snackbar.text = "Social media has been added.";
                    this.snackbar.color = 'success';
                    this.snackbar.display = true;
                    this.closeForm();
               } else {
                    this.snackbar.color = "error";
                    if (res.status == 422) {
                         for (let i in res.data.errors) {
                              this.snackbar.text = res.data.errors[i][0];
                              this.snackbar.display = true;
                         }
                    } else {
                         this.snackbar.text = "Something Went Wrong";
                         this.snackbar.display = true;
                    }
               }
          },
          showEditForm(social, index) {
               let obj = {
                    id: social.id,
                    name: social.name,
                    link: social.link,
                    image_path: social.image_path,
               }
               this.edit = true;
               this.showUpload = false;
               this.modalForm = true;
               this.data = obj;
               this.imageHolder = social.image_path;
               this.dataIndex = index;
          },
          async updateSocial() {
               this.token = window.Laravel.csrfToken;
               const res = await this.callApi("patch", `api/setting/social_media/${this.data.id}`, this.data);
               if (res.status === 200) {
                    this.snackbar.text = "Social media has been updated.";
                    this.snackbar.color = "success";
                    this.snackbar.display = true;
                    this.socials[this.dataIndex].name = res.data.name;
                    this.socials[this.dataIndex].link = res.data.link;
                    this.socials[this.dataIndex].image_path = res.data.image_path;
                    this.dataIndex = -1;
                    this.data.name = '';
                    this.data.link = '';
                    this.data.image_path = null;
                    this.closeForm();
               } else {
                    this.snackbar.color = "error";
                    if (res.status == 422) {
                         for (let i in res.data.errors) {
                              this.snackbar.text = res.data.errors[i][0];
                              this.snackbar.display = true;
                         }
                    } else {
                         this.snackbar.text = "Something Went Wrong";
                         this.snackbar.display = true;
                    }
               }
          },
          async selectFile(e){
               if(this.$refs.upload.validate() && e){
                    const data = new FormData();
                    data.append('file', e);
                    const res = await this.callApi("post", `api/upload`, data);
                    if(res.status == 200) {
                         this.data.image_path = res.data;
                    }
               } else {
                    if( this.edit ){
                         this.data.image_path = this.imageHolder;
                    } else {
                         this.data.image_path = null;
                    }
               }
          },
          showDeleteModal( social, i ) {
               this.deleteModal = true;
               this.dataIndex = i;
               this.itemToDelete = social.id;
          },
          closeModal() {
               this.deleteModal = false;
          },
          async deleteItem(){
               this.token = window.Laravel.csrfToken;
               this.isDeleting = true
               const res = await this.callApi("delete", `api/setting/social_media/${this.itemToDelete}`)
               if( res.status === 200 ) {
                    this.socials.splice(this.dataIndex, 1);
                    this.snackbar.text = "Social media has been deleted"
                    this.snackbar.color = "success";
                    this.dataIndex = -1;
                    this.itemToDelete = "";
                    this.deleteModal = false;
               } else {
                    this.snackbar.text = "Something Went Wrong";
                    this.snackbar.color = "error";
               }
               this.snackbar.display = true
               this.isDeleting = false
          },
     }
     
}
</script>