<template>
     <div class="user-container component-container p-5">
          <div class="page-header">
               <h2 class="text-h5 font-weight-bold">User Accounts</h2>
               <v-dialog v-model="modalForm" transition="dialog-top-transition" persistent max-width="600px">
                    <template v-slot:activator="{ on, attrs }">           
                         <v-btn v-bind="attrs" v-on="on" outlined color="#6a994e"><v-icon class="pr-1">mdi-plus</v-icon> Add user</v-btn>
                    </template>
                    <v-card class="pb-5">
                         <v-toolbar color="primary" dark>User Account Form</v-toolbar>
                         <v-card-text>
                         <v-container>
                              <v-form ref="form" v-model="isValid" lazy-validation>
                                   <v-row>
                                        <v-col cols="12" sm="6">
                                             <v-text-field v-model="data.first" label="First name" :rules="firstRules" required></v-text-field>
                                        </v-col>
                                        <v-col cols="12" sm="6">
                                             <v-text-field v-model="data.last" label="Last name" :rules="lastRules" required></v-text-field>
                                        </v-col>
                                        <v-col cols="12" sm="6">
                                             <v-text-field v-model="data.email" label="Email address" type="email" :rules="emailRules" required></v-text-field>
                                        </v-col>
                                        <v-col class="d-flex" cols="12" sm="6">
                                             <v-select v-model="data.is_admin" :items="roles" label="Role" :rules="roleRules" required></v-select>
                                        </v-col>
                                        <v-col cols="12" sm="6" v-if="!edit">
                                             <v-text-field v-model="data.password" label="Password" type="password" :rules="passwordRules" required></v-text-field>
                                        </v-col>
                                        <v-col cols="12" sm="6" v-if="!edit">
                                             <v-text-field v-model="data.password_confirmation" label="Confirm password" type="password" :rules="confirmRules" required></v-text-field>
                                        </v-col>

                                        <!-- <v-col cols="2" v-if="edit && imageHolder">
                                             <img :src="imageHolder" :alt="data.last" class="img-fluid"/>
                                        </v-col>
                                        <v-col cols="10">
                                             <v-btn @click="showUpload = true" v-if="imageHolder && !showUpload">
                                                  Change
                                             </v-btn>
                                             <div v-else>
                                                  <v-file-input
                                                       ref="upload"
                                                       :headers="{ 'x-csrf-token': token, 'X-Requested-With' : 'XMLHttpRequest'}"
                                                       :rules="avatarRules"
                                                       accept="image/png, image/jpeg, image/jpg"
                                                       label="Upload Avatar"
                                                       prepend-icon="mdi-camera"
                                                       small-chips
                                                       clear-icon="mdi-delete"
                                                       @change="selectFile">
                                             </v-file-input>
                                             </div>
                                        </v-col> -->
                                   </v-row>
                              </v-form>
                         </v-container>
                         <small>All fields are required.</small>
                         </v-card-text>
                         <v-card-actions>
                              <v-spacer></v-spacer>
                              <v-btn class="mr-4" @click="closeForm">
                              Close
                              </v-btn>
                              <v-btn color="primary" class="mr-4" @click="validateForm" :disabled="!isValid">
                              Save
                              </v-btn>
                         </v-card-actions>
                    </v-card>
               </v-dialog>
          </div>

          <v-data-table
               expand-icon
               :headers="headers"
               :items="users"
               hide-default-footer
               class="elevation-0"
          >
               <template slot="no-data">
                    No users found.
               </template>

               <template v-slot:[`item.image`]="{item}">
                    <v-list-item-avatar>
                         <img :src="item.avatar" :alt="item.last" v-if="item.avatar"  />
                         <img src="/uploads/no_avatar.jpg" alt="avatar" v-else />
                    </v-list-item-avatar>
               </template>
               <template v-slot:[`item.name`]="{item}">{{ item.first }} {{ item.last }}</template>
               <template v-slot:[`item.role`]="{item}">{{ item.is_admin ? 'Admin' : 'User' }}</template>
               <template v-slot:[`item.actions`]="{ item }">
                    <v-icon class="mr-2" color="cyan" @click="showEditForm( item )">mdi-pencil</v-icon>
                    <v-icon color="pink" @click="showDeleteModal( item )">mdi-delete</v-icon>
               </template>
          </v-data-table>

          <paginate store="user" collection="users" class="mt-5 pt-5"/>

          <!-- Snackbar -->
          <v-snackbar v-model="snackbar.display" :multi-line="snackbar.multiLine" :timeout="2000" top :color="snackbar.color">
               {{ snackbar.text }}
               <template v-slot:action="{ attrs }">
                    <v-btn text color="white" v-bind="attrs" @click="snackbar.display = false">Close</v-btn>
               </template>
          </v-snackbar>
          <!-- Delete Modal -->
          <v-dialog v-model="deleteModal" persistent max-width="290">
               <v-card>
                    <v-card-title class="headline"> Delete confirmation </v-card-title>
                    <v-card-text>Are you sure you want to delete this item?</v-card-text>
                    <v-card-actions>
                         <v-spacer></v-spacer>
                         <v-btn color="green darken-1" text @click="closeModal">
                              Cancel
                         </v-btn>
                         <v-btn color="green darken-1" text :loading="isDeleting" :disabled="isDeleting" @click="deleteItem" >
                              {{ isDeleting ? "Deleting..." : "Delete" }}
                         </v-btn>
                    </v-card-actions>
               </v-card>
          </v-dialog>
     </div>
</template>
<script>
import paginate from "../components/Paginate";
export default {
     components: {
          paginate
     },
     data() {
          return {
               data: {
                    first: '',
                    last: '',
                    email: '',
                    password: '',
                    password_confirmation: '',
                    avatar: '',
                    is_admin: 0,
               },
               defaultData: {
                    first: '',
                    last: '',
                    email: '',
                    password: '',
                    password_confirmation: '',
                    avatar: null,
                    is_admin: 0,
               },
               headers: [
                    { text: 'Avatar', value: 'image', sortable: false},
                    { text: 'Name', value: 'name', sortable: false},
                    { text: 'Email', value: 'email' },
                    { text: 'Role', value: 'role', sortable: false},
                    { text: 'Actions', value: 'actions', sortable: false},
               ],
               re: /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/,
               badChars: /^[a-zA-Z0-9-.,! ]+$/,
               firstRules: [
                    value => !!value || 'First name is required.',
                    value => (value && value.length <= 255 ) || 'First name must be less than 255 characters.',
                    value => this.badChars.test(value) || 'Special characters are not supported.',
               ],
               lastRules: [
                    value => !!value || 'Last name is required.',
                    value => (value && value.length <= 255 ) || 'Last name must be less than 255 characters.',
                    value => this.badChars.test(value) || 'Special characters are not supported.',
               ],
               emailRules: [
                    value => !!value || 'Email is required.',
                    value => this.re.test(value) || 'Email must be valid.',
               ],
               roleRules: [
                    value => !!value || 'Role is required.',
               ],
               passwordRules: [
                    value => !!value || 'Please type password.',
                    value => (value && value.length >= 8 ) || 'Password must be atleast 8 characters long.',
               ],
               confirmRules: [
                    value => !!value || 'Please confirm password.',
                    (value) => (value) === this.data.password_confirmation || 'Password confirmation does not match.'
               ],
               roles: [
                    {
                         text: 'Admin',
                         value: '1'
                    },
                    {
                         text: 'User',
                         value: '0'
                    },
               ],
               // avatarRules: [
               //      value => !value || value.size < 2000000 || 'Avatar size should be less than 2 MB.',
               //      value => (!value || (value.type == 'image/jpg' || value.type == 'image/png' || value.type == 'image/jpeg')) || 'The image format is invalid'
               // ],
               edit: false,
               modalForm: false,
               isValid: true,
               snackbar: {
                    display: false,
                    color: '',
                    text: '',
                    multiLine: true,
               },
               imageHolder: null,
               showUpload: true,
               dataIndex: -1,
               deleteModal: false,
               itemToDelete: '',
               isDeleting: false,
          }
     },
     created() {
          this.token = window.Laravel.csrfToken;
          this.$store.dispatch('user/getList', 1);
     },
     computed: {
          users: {
               get() {
                    return this.$store.state.user.users.data;
               }
          }
     },
     methods: {
          closeForm() {
               this.$refs.form.reset();
               this.modalForm = false;
               this.edit = false;
               this.imageHolder = null;
               this.showUpload = true;
          },
          validateForm() {
               if(!this.edit) {
                    if (this.data.password != this.data.password_confirmation) {
                         this.snackbar.text = "The password confirmation does not match";
                         this.snackbar.color = "error";
                         this.snackbar.display = true;
                         return;
                    }
               }
               const valid = this.$refs.form.validate()
               if( valid ) {
                    if(!this.edit) {
                         this.addUser()
                    } else {
                         this.updateUser()
                    }
               }
          },
          async addUser() {
               this.token = window.Laravel.csrfToken;
               const res = await this.callApi("post", "api/register", this.data);
               if (res.status === 200) {
                    this.data = Object.assign( {}, this.defaultData );
                    this.snackbar.text = "User account has been added.";
                    this.snackbar.color = 'success';
                    this.snackbar.display = true;
                    this.$store.dispatch('user/getList', 1);                    
                    this.closeForm();
               } else {
                    this.snackbar.color = "error";
                    if (res.status == 422) {
                         for (let i in res.data.errors) {
                              this.snackbar.text = res.data.errors[i][0];
                              this.snackbar.display = true;
                         }
                    } else {
                         this.snackbar.text = "Something Went Wrong";
                         this.snackbar.display = true;
                    }
               }
          },
          showEditForm( user ) {
               this.data = Object.assign( {}, user );
               this.edit = true;
               this.showUpload = false;
               this.modalForm = true;
               this.imageHolder = user.avatar;
               this.dataIndex = this.users.indexOf(user);
          },
          async updateUser() {
               this.token = window.Laravel.csrfToken;
               const res = await this.callApi("patch", `api/user/${this.data.id}`, this.data);
               if (res.status === 200) {
                    this.$store.dispatch('user/getList', 1);
                    this.data = Object.assign( {}, this.defaultData );
                    this.snackbar.text = "User account has been updated.";
                    this.snackbar.color = "success";
                    this.snackbar.display = true;
                    this.dataIndex = -1;
                    this.closeForm();
               } else {
                    this.snackbar.color = "error";
                    if (res.status == 422) {
                         for (let i in res.data.errors) {
                              this.snackbar.text = res.data.errors[i][0];
                              this.snackbar.display = true;
                         }
                    } else {
                         this.snackbar.text = "Something Went Wrong";
                         this.snackbar.display = true;
                    }
               }
          },
          showDeleteModal( user ) {
               this.deleteModal = true;
               this.itemToDelete = user.id;
          },
          closeModal() {
               this.deleteModal = false;
          },
          async deleteItem(){
               this.token = window.Laravel.csrfToken;
               this.isDeleting = true
               const res = await this.callApi("delete", `api/user/${this.itemToDelete}`)
               if( res.status === 200 ) {
                    this.snackbar.text = "User account has been deleted"
                    this.snackbar.color = "success";
                    this.dataIndex = -1;
                    this.itemToDelete = "";
                    this.deleteModal = false;
                    this.$store.dispatch('user/getList', 1);  
               } else {
                    this.snackbar.text = "Something Went Wrong";
                    this.snackbar.color = "error";
               }
               this.snackbar.display = true
               this.isDeleting = false
          },
     }
}
</script>