/* Slider */
.slick-slider
{
    position: relative;

    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
    margin-left: auto;
    margin-right: auto;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}

@charset 'UTF-8';
/* Slider */
.slick-loading .slick-list
{
    background: #fff url('./ajax-loader.gif') center center no-repeat;
}

/* Icons */
@font-face
{
    font-family: 'slick';
    font-weight: normal;
    font-style: normal;

    src: url('./fonts/slick.eot');
    src: url('./fonts/slick.eot?#iefix') format('embedded-opentype'), url('./fonts/slick.woff') format('woff'), url('./fonts/slick.ttf') format('truetype'), url('./fonts/slick.svg#slick') format('svg');
}
/* Arrows */
.slick-prev,
.slick-next
{
    font-size: 0;
    line-height: 0;

    position: absolute;
    top: 50%;

    display: block;

    width: 20px;
    height: 20px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);

    cursor: pointer;

    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus
{
    color: transparent;
    outline: none;
    background: transparent;
}
.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before
{
    opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before
{
    opacity: .25;
}

.slick-prev:before,
.slick-next:before
{
    font-family: 'slick';
    font-size: 20px;
    line-height: 1;

    opacity: .75;
    color: white;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-prev
{
    left: -25px;
}
[dir='rtl'] .slick-prev
{
    right: -25px;
    left: auto;
}
.slick-prev:before
{
    content: '←';
}
[dir='rtl'] .slick-prev:before
{
    content: '→';
}

.slick-next
{
    right: -25px;
}
[dir='rtl'] .slick-next
{
    right: auto;
    left: -25px;
}
.slick-next:before
{
    content: '→';
}
[dir='rtl'] .slick-next:before
{
    content: '←';
}

/* Dots */
.slick-dotted.slick-slider
{
    margin-bottom: 30px;
}

.slick-dots
{
    position: absolute;
    bottom: -25px;

    display: block;

    width: 100%;
    padding: 0;
    margin: 0;

    list-style: none;

    text-align: center;
}
.slick-dots li
{
    position: relative;

    display: inline-block;

    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;

    cursor: pointer;
}
.slick-dots li button
{
    font-size: 0;
    line-height: 0;

    display: block;

    width: 20px;
    height: 20px;
    padding: 5px;

    cursor: pointer;

    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}
.slick-dots li button:hover,
.slick-dots li button:focus
{
    outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before
{
    opacity: 1;
}
.slick-dots li button:before
{
    font-family: 'slick';
    font-size: 6px;
    line-height: 20px;

    position: absolute;
    top: 0;
    left: 0;

    width: 20px;
    height: 20px;

    content: '•';
    text-align: center;

    opacity: .25;
    color: black;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before
{
    opacity: .75;
    color: black;
}

/* Magnific Popup CSS */
.mfp-bg {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1042;
  overflow: hidden;
  position: fixed;
  background: #0b0b0b;
  opacity: 0.8; }

.mfp-wrap {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1043;
  position: fixed;
  outline: none !important;
  -webkit-backface-visibility: hidden; }

.mfp-container {
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  padding: 0 8px;
  box-sizing: border-box; }

.mfp-container:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle; }

.mfp-align-top .mfp-container:before {
  display: none; }

.mfp-content {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 0 auto;
  text-align: left;
  z-index: 1045; }

.mfp-inline-holder .mfp-content,
.mfp-ajax-holder .mfp-content {
  width: 100%;
  cursor: auto; }

.mfp-ajax-cur {
  cursor: progress; }

.mfp-zoom-out-cur, .mfp-zoom-out-cur .mfp-image-holder .mfp-close {
  cursor: -moz-zoom-out;
  cursor: -webkit-zoom-out;
  cursor: zoom-out; }

.mfp-zoom {
  cursor: pointer;
  cursor: -webkit-zoom-in;
  cursor: -moz-zoom-in;
  cursor: zoom-in; }

.mfp-auto-cursor .mfp-content {
  cursor: auto; }

.mfp-close,
.mfp-arrow,
.mfp-preloader,
.mfp-counter {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none; }

.mfp-loading.mfp-figure {
  display: none; }

.mfp-hide {
  display: none !important; }

.mfp-preloader {
  color: #CCC;
  position: absolute;
  top: 50%;
  width: auto;
  text-align: center;
  margin-top: -0.8em;
  left: 8px;
  right: 8px;
  z-index: 1044; }
  .mfp-preloader a {
    color: #CCC; }
    .mfp-preloader a:hover {
      color: #FFF; }

.mfp-s-ready .mfp-preloader {
  display: none; }

.mfp-s-error .mfp-content {
  display: none; }

button.mfp-close,
button.mfp-arrow {
  overflow: visible;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
  display: block;
  outline: none;
  padding: 0;
  z-index: 1046;
  box-shadow: none;
  touch-action: manipulation; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

.mfp-close {
  width: 44px;
  height: 44px;
  line-height: 44px;
  position: absolute;
  right: 0;
  top: 0;
  text-decoration: none;
  text-align: center;
  opacity: 0.65;
  padding: 0 0 18px 10px;
  color: #FFF;
  font-style: normal;
  font-size: 28px;
  font-family: Arial, Baskerville, monospace; }
  .mfp-close:hover,
  .mfp-close:focus {
    opacity: 1; }
  .mfp-close:active {
    top: 1px; }

.mfp-close-btn-in .mfp-close {
  color: #333; }

.mfp-image-holder .mfp-close,
.mfp-iframe-holder .mfp-close {
  color: #FFF;
  right: -6px;
  text-align: right;
  padding-right: 6px;
  width: 100%; }

.mfp-counter {
  position: absolute;
  top: 0;
  right: 0;
  color: #CCC;
  font-size: 12px;
  line-height: 18px;
  white-space: nowrap; }

.mfp-arrow {
  position: absolute;
  opacity: 0.65;
  margin: 0;
  top: 50%;
  margin-top: -55px;
  padding: 0;
  width: 90px;
  height: 110px;
  -webkit-tap-highlight-color: transparent; }
  .mfp-arrow:active {
    margin-top: -54px; }
  .mfp-arrow:hover,
  .mfp-arrow:focus {
    opacity: 1; }
  .mfp-arrow:before,
  .mfp-arrow:after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    left: 0;
    top: 0;
    margin-top: 35px;
    margin-left: 35px;
    border: medium inset transparent; }
  .mfp-arrow:after {
    border-top-width: 13px;
    border-bottom-width: 13px;
    top: 8px; }
  .mfp-arrow:before {
    border-top-width: 21px;
    border-bottom-width: 21px;
    opacity: 0.7; }

.mfp-arrow-left {
  left: 0; }
  .mfp-arrow-left:after {
    border-right: 17px solid #FFF;
    margin-left: 31px; }
  .mfp-arrow-left:before {
    margin-left: 25px;
    border-right: 27px solid #3F3F3F; }

.mfp-arrow-right {
  right: 0; }
  .mfp-arrow-right:after {
    border-left: 17px solid #FFF;
    margin-left: 39px; }
  .mfp-arrow-right:before {
    border-left: 27px solid #3F3F3F; }

.mfp-iframe-holder {
  padding-top: 40px;
  padding-bottom: 40px; }
  .mfp-iframe-holder .mfp-content {
    line-height: 0;
    width: 100%;
    max-width: 900px; }
  .mfp-iframe-holder .mfp-close {
    top: -40px; }

.mfp-iframe-scaler {
  width: 100%;
  height: 0;
  overflow: hidden;
  padding-top: 56.25%; }
  .mfp-iframe-scaler iframe {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
    background: #000; }

/* Main image in popup */
img.mfp-img {
  width: auto;
  max-width: 100%;
  height: auto;
  display: block;
  line-height: 0;
  box-sizing: border-box;
  padding: 40px 0 40px;
  margin: 0 auto; }

/* The shadow behind the image */
.mfp-figure {
  line-height: 0; }
  .mfp-figure:after {
    content: '';
    position: absolute;
    left: 0;
    top: 40px;
    bottom: 40px;
    display: block;
    right: 0;
    width: auto;
    height: auto;
    z-index: -1;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
    background: #444; }
  .mfp-figure small {
    color: #BDBDBD;
    display: block;
    font-size: 12px;
    line-height: 14px; }
  .mfp-figure figure {
    margin: 0; }

.mfp-bottom-bar {
  margin-top: -36px;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  cursor: auto; }

.mfp-title {
  text-align: left;
  line-height: 18px;
  color: #F3F3F3;
  word-wrap: break-word;
  padding-right: 36px; }

.mfp-image-holder .mfp-content {
  max-width: 100%; }

.mfp-gallery .mfp-image-holder .mfp-figure {
  cursor: pointer; }

@media screen and (max-width: 800px) and (orientation: landscape), screen and (max-height: 300px) {
  /**
       * Remove all paddings around the image on small screen
       */
  .mfp-img-mobile .mfp-image-holder {
    padding-left: 0;
    padding-right: 0; }
  .mfp-img-mobile img.mfp-img {
    padding: 0; }
  .mfp-img-mobile .mfp-figure:after {
    top: 0;
    bottom: 0; }
  .mfp-img-mobile .mfp-figure small {
    display: inline;
    margin-left: 5px; }
  .mfp-img-mobile .mfp-bottom-bar {
    background: rgba(0, 0, 0, 0.6);
    bottom: 0;
    margin: 0;
    top: auto;
    padding: 3px 5px;
    position: fixed;
    box-sizing: border-box; }
    .mfp-img-mobile .mfp-bottom-bar:empty {
      padding: 0; }
  .mfp-img-mobile .mfp-counter {
    right: 5px;
    top: 3px; }
  .mfp-img-mobile .mfp-close {
    top: 0;
    right: 0;
    width: 35px;
    height: 35px;
    line-height: 35px;
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    text-align: center;
    padding: 0; } }

@media all and (max-width: 900px) {
  .mfp-arrow {
    -webkit-transform: scale(0.75);
    transform: scale(0.75); }
  .mfp-arrow-left {
    -webkit-transform-origin: 0;
    transform-origin: 0; }
  .mfp-arrow-right {
    -webkit-transform-origin: 100%;
    transform-origin: 100%; }
  .mfp-container {
    padding-left: 6px;
    padding-right: 6px; } }
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif !important;
  font-size: 1rem;
}

h1, h2, h3, h4, h5 {
  font-weight: 700;
}

.loader {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 999;
  background: url("../images/PSGG-logo-big.png") 50% 50%/auto 10rem no-repeat white;
}

.section-space {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.section-title {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 2rem;
}

.highlight1 {
  color: #386641;
}

.highlight2 {
  color: #a7c957;
}

.highlight3 {
  color: #6a994e;
}

.max-offset {
  max-width: 100%;
  position: relative;
  left: 50%;
  width: 100vw;
  transform: translateX(-50%);
}

.icon-container {
  background-color: #2a2a2a;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
}
.icon-container .fas {
  color: #a7c957;
}

.btn-view {
  font-weight: 700;
  color: #2a2a2a !important;
  background-color: #a7c957;
  border: 1px solid #a7c957;
}
.btn-view:hover {
  background-color: transparent;
  color: #6a994e !important;
  border-color: #a7c957;
}

.btn {
  padding: 10px 12px;
}

.navbar {
  background-color: #f6f2e9;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.navbar .navbar-brand {
  padding: 0;
}
.navbar .navbar-brand img {
  width: 60px !important;
}
.navbar .navbar-toggler {
  border: none;
  outline: 0;
}
.navbar .navbar-nav .nav-item {
  padding: 0 20px;
}
.navbar .navbar-nav .nav-item.active .nav-link {
  color: #6a994e !important;
}
.navbar .navbar-nav .nav-item:hover .nav-link {
  color: #6a994e;
  transition: 0.3s;
}
.navbar .navbar-nav .nav-item .nav-link {
  font-size: 1.2rem;
  font-weight: 700;
  color: #2a2a2a;
}
.navbar .navbar-nav.navbar-top {
  justify-content: flex-end;
}
.navbar .navbar-nav.navbar-top .nav-item .nav-link {
  font-size: 0.9rem;
}
.navbar .admin-nav .fa-user-circle:before {
  font-size: 1.5rem;
  color: #a7c957;
}
.navbar .admin-nav .admin-name {
  font-weight: 700;
}
.navbar .admin-nav .dropdown-menu .dropdown-item {
  transition: 0.3s;
}
.navbar .admin-nav .dropdown-menu .dropdown-item:hover {
  background-color: #a7c957;
}

.gallery-page .album-container {
  padding-bottom: 1rem;
}
.gallery-page .album-container .album-image {
  background-color: #6a994e;
}
.gallery-page .album-container .album-image a img {
  transition: 0.3s;
}
.gallery-page .album-container .album-image a:hover img {
  opacity: 0.5;
}
.gallery-page .album-container .album-image a:hover .text-view {
  opacity: 1;
}
.gallery-page .album-container .album-image a .text-view {
  font-weight: 700;
  top: 50%;
  left: 50%;
  bottom: auto;
  right: auto;
  transform: translate(-50%, -50%);
  color: #f6f2e9;
  transition: 0.3s;
  opacity: 0;
}
.gallery-page .album-container .album-title {
  padding-top: 0.5rem;
}
.gallery-page .album-container .album-title a {
  color: #2a2a2a;
}
.gallery-page .album-container .album-title a:hover {
  color: #6a994e;
  text-decoration: none;
}

.gallery-inner-page .album-images {
  padding-bottom: 1rem;
}
.gallery-inner-page .album-images .album-image {
  cursor: pointer;
}

.mfp-gallery .mfp-content .mfp-figure .mfp-close {
  width: auto;
  background-color: transparent;
}

.activity-page .card {
  border-color: transparent;
  transition: 0.3s;
}
.activity-page .card:hover {
  border-color: #a7c957;
  box-shadow: 0 0 0.5rem #edeeee;
}

.admin-page .v-main__wrap {
  padding: 0.5rem;
}
.admin-page .component-container {
  padding: 1rem;
}
.admin-page .component-container .page-header {
  display: flex;
  align-content: center;
  justify-content: space-between;
}

.album-image-block img {
  height: 200px;
  object-fit: cover;
}
.album-image-block .card-footer {
  background-color: rgba(0, 0, 0, 0.03);
}

.album {
  cursor: pointer;
}
.album .card-body {
  padding: 0;
}
.album .card-body img {
  height: 200px;
  object-fit: cover;
}
.album .card-footer {
  padding: 5px 5px 5px 15px;
}
.album .card-footer .card-title {
  margin-bottom: 0;
}

.album-image .ivu-card-body {
  padding: 0;
  height: 150px;
  background-color: #F5F7F9;
}
.album-image .ivu-card-body img {
  object-fit: contain;
}
.album-image .del-image-icon {
  transition: 0.3s;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  transform: translate(-50%, -50%);
  z-index: 1;
  opacity: 0;
}
.album-image .del-image-icon .action-buttons {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  transform: translate(-50%, -50%);
  font-size: 30px;
  color: #f6f2e9;
  cursor: pointer;
}
.album-image .del-image-icon:hover {
  opacity: 1;
}

.activity-container .card, .about-section-container .card {
  transition: 0.3s;
}
.activity-container .card:hover, .about-section-container .card:hover {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.role-container .table-block {
  border: 1px solid green;
  padding: 0 20px;
}

.user-container .table-block {
  border: 1px solid green;
  padding: 0 20px;
}
.user-container .table-block .user-avatar {
  margin-right: 10px;
}

.about-section-container .card .ivu-dropdown .ivu-icon {
  padding: 20px 3px;
}

.gallery-album-container .card .ivu-dropdown .ivu-dropdown-menu .ivu-dropdown-item, .about-section-container .card .ivu-dropdown .ivu-dropdown-menu .ivu-dropdown-item, .about-panel-container .card .ivu-dropdown .ivu-dropdown-menu .ivu-dropdown-item {
  padding: 0;
}
.gallery-album-container .card .ivu-dropdown .ivu-dropdown-menu .ivu-dropdown-item a, .about-section-container .card .ivu-dropdown .ivu-dropdown-menu .ivu-dropdown-item a, .about-panel-container .card .ivu-dropdown .ivu-dropdown-menu .ivu-dropdown-item a {
  transition: 0.3s;
  padding: 7px 15px;
  color: #386641;
}
.gallery-album-container .card .ivu-dropdown .ivu-dropdown-menu .ivu-dropdown-item:hover a, .about-section-container .card .ivu-dropdown .ivu-dropdown-menu .ivu-dropdown-item:hover a, .about-panel-container .card .ivu-dropdown .ivu-dropdown-menu .ivu-dropdown-item:hover a {
  background-color: #a7c957;
  color: #f6f2e9 !important;
}

.role-form-container, .user-form-container {
  padding: 40px 20px 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.table_image img {
  width: 40px;
}

.truncate-overflow {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.truncate-overflow-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.bg-grn3 {
  background-color: #a7c957;
}

.bg-grn2 {
  background-color: #6a994e;
}

.bg-wht1 {
  background-color: #f6f2e9 !important;
}

.v-card .v-card__title {
  word-break: normal;
}

.v-pagination li .v-pagination__item, .v-pagination li .v-pagination__navigation {
  border: none;
  font-weight: 700;
}
.v-pagination li .v-pagination__item:hover, .v-pagination li .v-pagination__item.v-pagination__item--active, .v-pagination li .v-pagination__navigation:hover, .v-pagination li .v-pagination__navigation.v-pagination__item--active {
  background-color: #a7c957;
  color: #f6f2e9 !important;
}
.v-pagination li .v-pagination__item.v-pagination__item--active, .v-pagination li .v-pagination__navigation.v-pagination__item--active {
  background-color: #a7c957 !important;
}

.catalog-page {
  background-color: #ffffff;
}
.catalog-page .content-block {
  min-height: calc(100vh - 555px);
  padding-top: 80px;
}
.catalog-page .home-page .v-carousel .v-window__container .v-window-item .v-responsive__sizer {
  flex: 0;
}
.catalog-page .home-page .v-carousel .v-window__container .v-window-item .v-responsive__content {
  height: calc(100vh - 80px);
}
.catalog-page .home-page .v-carousel .v-window__container .v-window-item .v-responsive__content .banner-caption {
  position: absolute;
  width: 100%;
}
.catalog-page .home-page .v-carousel .v-window__container .v-window-item .v-responsive__content .banner-caption .banner-caption-wrapper {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}
.catalog-page .home-page .v-carousel .v-window__container .v-window-item .v-responsive__content .banner-caption.Top, .catalog-page .home-page .v-carousel .v-window__container .v-window-item .v-responsive__content .banner-caption.Bottom {
  width: 100%;
  height: auto;
  left: 0;
  right: auto;
}
.catalog-page .home-page .v-carousel .v-window__container .v-window-item .v-responsive__content .banner-caption.Top {
  top: 0;
  bottom: auto;
}
.catalog-page .home-page .v-carousel .v-window__container .v-window-item .v-responsive__content .banner-caption.Bottom {
  top: auto;
  bottom: 0;
  padding-bottom: 2.5rem !important;
}
.catalog-page .home-page .v-carousel .v-window__container .v-window-item .v-responsive__content .banner-caption.Left, .catalog-page .home-page .v-carousel .v-window__container .v-window-item .v-responsive__content .banner-caption.Right {
  width: 25%;
  height: 100%;
  top: 0;
  bottom: auto;
}
.catalog-page .home-page .v-carousel .v-window__container .v-window-item .v-responsive__content .banner-caption.Left {
  left: 0;
  right: auto;
}
.catalog-page .home-page .v-carousel .v-window__container .v-window-item .v-responsive__content .banner-caption.Right {
  left: auto;
  right: 0;
}
.catalog-page .home-page .v-carousel .v-window__container .v-window-item .v-responsive__content .banner-caption.Dark {
  background-color: rgba(255, 255, 255, 0.5);
}
.catalog-page .home-page .v-carousel .v-window__container .v-window-item .v-responsive__content .banner-caption.Dark .banner-title {
  color: #a7c957;
  text-shadow: 0 0 5px #2a2a2a;
}
.catalog-page .home-page .v-carousel .v-window__container .v-window-item .v-responsive__content .banner-caption.Dark .banner-description {
  color: #2a2a2a;
}
.catalog-page .home-page .v-carousel .v-window__container .v-window-item .v-responsive__content .banner-caption.Light {
  background-color: rgba(0, 0, 0, 0.5);
}
.catalog-page .home-page .v-carousel .v-window__container .v-window-item .v-responsive__content .banner-caption.Light .banner-title {
  color: #a7c957;
}
.catalog-page .home-page .v-carousel .v-window__container .v-window-item .v-responsive__content .banner-caption.Light .banner-description {
  color: #f6f2e9;
}
.catalog-page .home-page .v-carousel .v-window__container .v-window__prev .v-btn, .catalog-page .home-page .v-carousel .v-window__container .v-window__next .v-btn {
  color: #a7c957;
}
.catalog-page .home-page .v-carousel .v-window__container .v-window__prev {
  left: 0;
  right: auto;
}
.catalog-page .home-page .v-carousel .v-window__container .v-window__next {
  left: auto;
  right: 0;
}
.catalog-page .home-page .v-carousel .v-carousel__controls .v-carousel__controls__item {
  margin: 0 2px !important;
}
.catalog-page .home-page .v-carousel .v-carousel__controls .v-carousel__controls__item.v-btn--active {
  color: #a7c957;
}
.catalog-page .home-page .v-carousel .v-carousel__controls .v-icon {
  opacity: 1 !important;
}
.catalog-page .home-page .home-announcement {
  padding-bottom: 4rem;
}
.catalog-page .home-page .home-announcement .featured-activities .v-card {
  border: 2px solid transparent;
  transition: 0.3s;
  margin: 1rem auto;
}
.catalog-page .home-page .home-announcement .featured-activities .v-card:hover {
  border-color: #a7c957;
}
.catalog-page .home-page .home-announcement .slick-slider .slick-nav {
  top: auto;
  bottom: -1rem;
  width: 100%;
}
.catalog-page .home-page .home-announcement .slick-slider .slick-nav .icon-container {
  left: auto;
  cursor: pointer;
}
.catalog-page .home-page .home-announcement .slick-slider .slick-nav.prev .icon-container {
  right: 5rem;
}
.catalog-page .home-page .home-announcement .slick-slider .slick-nav.next .icon-container {
  right: 2rem;
}
.catalog-page .about-page h3 {
  color: #6a994e;
}
.catalog-page .about-page .v-tabs .v-slide-group__content .v-tabs-slider-wrapper {
  color: #6a994e;
}
.catalog-page .about-page .v-tabs .v-slide-group__content .v-tab {
  font-size: 1rem;
  color: #2a2a2a !important;
  margin-left: 0 !important;
}
.catalog-page .about-page .v-tabs .v-slide-group__content .v-tab.v-tab--active {
  color: #6a994e !important;
}
.catalog-page .about-page .panel-block .panel-section-block .v-card .v-card__title, .catalog-page .about-page .mobile-panel .panel-section-block .v-card .v-card__title {
  font-size: 1.5rem;
  font-weight: 700;
}
.catalog-page .about-page .panel-block .panel-section-block .v-card .v-card__text, .catalog-page .about-page .mobile-panel .panel-section-block .v-card .v-card__text {
  font-size: 1rem;
  color: #2a2a2a;
}
.catalog-page .about-page .panel-block .panel-section-block:nth-child(odd) .v-card .v-card__title, .catalog-page .about-page .mobile-panel .panel-section-block:nth-child(odd) .v-card .v-card__title {
  color: #386641;
}
.catalog-page .about-page .panel-block .panel-section-block:nth-child(even) .v-card .v-card__title, .catalog-page .about-page .mobile-panel .panel-section-block:nth-child(even) .v-card .v-card__title {
  color: #a7c957;
}
.catalog-page .about-page .mobile-panel .v-expansion-panel .v-expansion-panel-header {
  font-size: 1.2rem;
  font-weight: 700;
  color: #2a2a2a;
}
.catalog-page .about-page .mobile-panel .v-expansion-panel .v-expansion-panel-header.v-expansion-panel-header--active {
  background-color: #6a994e;
  color: #ffffff;
}
.catalog-page .about-page .mobile-panel .v-expansion-panel .v-expansion-panel-header.v-expansion-panel-header--active .v-icon {
  color: #ffffff;
}
.catalog-page .board-member-page .member-block .v-card .v-card__title {
  font-weight: 700;
  font-size: 1.3rem;
}
.catalog-page .board-member-page .member-block .v-card .v-card__subtitle {
  font-size: 1rem;
  font-weight: 700;
  color: #6a994e;
  letter-spacing: 0.5px;
}
.catalog-page .education-page .v-card {
  border-radius: 10px;
  overflow: hidden;
  transition: 0.3s;
}
.catalog-page .education-page .v-card .lesson-image-block {
  width: 150px;
}
.catalog-page .education-page .v-card .lesson-details-block .v-card__title {
  padding-bottom: 5px;
}
.catalog-page .education-page .v-card:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
.catalog-page .activity-page .v-card {
  border: 2px solid transparent;
  transition: 0.3s;
  margin: 1rem auto;
}
.catalog-page .activity-page .v-card:hover {
  border-color: #a7c957;
}
.catalog-page .activity-inner-page .v-window .v-window__container .v-window-item .v-image.grey.darken-4 {
  background-color: #212121;
}
.catalog-page .activity-inner-page .v-window .v-window__container .v-window__prev .v-btn, .catalog-page .activity-inner-page .v-window .v-window__container .v-window__next .v-btn {
  background-color: #a7c957;
  color: #2a2a2a;
}
.catalog-page .activity-inner-page .v-window .v-window__container .v-window__prev {
  left: 0;
}
.catalog-page .activity-inner-page .v-window .v-window__container .v-window__next {
  right: 0;
}
.catalog-page .gallery-page .v-card {
  border: none;
}
.catalog-page .gallery-page .v-card .v-card__title {
  cursor: pointer;
}
.catalog-page .gallery-page .v-card .v-card--reveal {
  align-items: center;
  bottom: 0;
  left: 0;
  justify-content: center;
  opacity: 1;
  position: absolute;
  width: 100%;
  background-color: rgba(106, 153, 78, 0.5);
}
.catalog-page .gallery-inner-page .album-block span {
  cursor: pointer;
}
.catalog-page .contact-page .contact-container .top-details-container {
  padding-bottom: 2.5rem;
}
.catalog-page .contact-page .contact-container .top-details-container .info-container {
  margin-bottom: 1rem;
}
.catalog-page .contact-page .contact-container .top-details-container .info-container .details-container a {
  color: #2a2a2a;
  transition: 0.3s;
}
.catalog-page .contact-page .contact-container .top-details-container .info-container .details-container a:hover {
  color: #6a994e;
  text-decoration: none;
}
.catalog-page .contact-page .contact-container .top-details-container .image-container {
  padding-right: 2rem;
}
.catalog-page .contact-page .contact-container .bottom-details-container .social-links {
  padding-top: 1rem;
}
.catalog-page .contact-page .contact-container .bottom-details-container .social-links a {
  margin-right: 0.8rem;
  margin-top: 5px;
  transition: 0.3s;
}
.catalog-page .contact-page .contact-container .bottom-details-container .social-links a:hover {
  margin-top: 0;
}
.catalog-page .contact-page .contact-container .map-container iframe {
  width: calc(100% - 30px);
}
.catalog-page .catalog-main-container .catalog-navbar {
  position: fixed;
  width: 100vw;
  top: 0;
  z-index: 8;
}
.catalog-page .catalog-main-container .catalog-navbar .v-toolbar__content .v-tabs .v-tabs-bar {
  margin-left: auto;
}
.catalog-page .catalog-main-container .catalog-navbar .v-toolbar__content .v-tabs .v-tabs-bar .v-slide-group__wrapper .v-tabs-bar__content .v-tabs-slider-wrapper {
  color: #6a994e;
}
.catalog-page .catalog-main-container .catalog-navbar .v-toolbar__content .v-tabs .v-tabs-bar .v-slide-group__wrapper .v-tabs-bar__content a {
  font-weight: 700;
  color: #2a2a2a;
}
.catalog-page .catalog-main-container .catalog-navbar .v-toolbar__content .v-tabs .v-tabs-bar .v-slide-group__wrapper .v-tabs-bar__content a.v-tab--active {
  color: #6a994e;
}
.catalog-page .catalog-main-container .catalog-navbar .v-toolbar__content .v-tabs .v-tabs-bar .v-slide-group__wrapper .v-tabs-bar__content a:hover {
  text-decoration: none;
  color: #6a994e;
}
.catalog-page .catalog-main-container .catalog-navbar .v-toolbar__content .v-btn .v-icon {
  color: #2a2a2a;
}
.catalog-page .catalog-main-container .v-navigation-drawer {
  z-index: 9;
}
.catalog-page .catalog-main-container .v-menu__content .v-list .v-list-item.v-list-item--active, .catalog-page .catalog-main-container .v-menu__content .v-list .v-list-item:hover {
  background-color: #6a994e;
  color: #ffffff !important;
  text-decoration: none;
}
.catalog-page .v-footer {
  margin-top: 4rem;
}
.catalog-page .v-footer .footer-menu .footer-menu-btn {
  font-size: 1.2rem;
  font-weight: 700;
  color: #2a2a2a;
  transition: 0.3s;
  text-transform: capitalize;
  letter-spacing: 1px;
}
.catalog-page .v-footer .footer-menu .footer-menu-btn.v-btn--active {
  color: #6a994e;
}
.catalog-page .v-footer .footer-menu .footer-menu-btn.v-btn--active::before {
  background-color: transparent;
}
.catalog-page .v-footer .footer-menu .footer-menu-btn:hover {
  text-decoration: none;
  color: #6a994e;
}
.catalog-page .v-footer .footer-menu .footer-menu-btn:hover::before {
  background-color: transparent;
  opacity: 0;
}
.catalog-page .v-footer .footer-title, .catalog-page .v-footer .f-details, .catalog-page .v-footer .v-icon {
  color: #2a2a2a;
}
.catalog-page .v-footer .footer-content a {
  color: #2a2a2a;
  transition: 0.3s;
}
.catalog-page .v-footer .footer-content a:hover {
  text-decoration: none;
  color: #a7c957;
}
.catalog-page .v-footer .v-card .footer-lower-content .lower-content-block {
  color: #2a2a2a;
}
.catalog-page .v-footer .v-card .footer-lower-content .lower-content-block .designer .name a {
  color: #2a2a2a;
  transition: 0.3s;
}
.catalog-page .v-footer .v-card .footer-lower-content .lower-content-block .designer .name a:hover {
  text-decoration: none;
  color: #386641;
}

.admin-page .admin-main-container .v-navigation-drawer {
  background-color: #edeeee;
}
.admin-page .admin-main-container .v-navigation-drawer .user-info .user-name {
  font-weight: 700;
  color: #2a2a2a;
  transition: 0.3s;
}
.admin-page .admin-main-container .v-navigation-drawer .user-info .user-name:hover {
  text-decoration: none;
  color: #386641;
}
.admin-page .admin-main-container .v-navigation-drawer .user-info .v-list-item__subtitle {
  color: #6a994e;
}

@media only screen and (min-width: 0px) and (max-width: 599px) {
  .section-space {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .section-title {
    font-size: 1.8rem;
  }

  .catalog-page .v-card .v-card__title {
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 1.5rem;
  }
  .catalog-page .v-footer .v-card {
    padding-top: 2.5rem;
  }
  .catalog-page .v-footer .v-card .footer-details-block {
    flex-wrap: wrap;
    justify-content: center;
  }
  .catalog-page .v-footer .v-card .footer-details-block .img-container {
    margin-right: 0 !important;
    margin-bottom: 1.5rem;
  }
  .catalog-page .v-footer .v-card .footer-details-block .footer-content .footer-title {
    text-align: center;
  }
  .catalog-page .v-footer .v-card .footer-details-block .footer-content .f-details {
    width: 65%;
    margin: auto;
  }
  .catalog-page .v-footer .v-card .footer-lower-content .lower-content-block {
    text-align: center;
    justify-content: center;
  }
  .catalog-page .v-footer .v-card .footer-lower-content .lower-content-block .copyright {
    padding-bottom: 0.5rem;
  }
  .catalog-page .about-page .section-title {
    text-align: center !important;
  }
  .catalog-page .about-page .mobile-panel .v-expansion-panel .v-expansion-panel-content .v-expansion-panel-content__wrap {
    padding: 0 5px 16px;
  }
  .catalog-page .about-page .mobile-panel .v-expansion-panel .v-expansion-panel-content .v-expansion-panel-content__wrap .panel-section-block {
    padding-top: 1rem;
  }
  .catalog-page .about-page .mobile-panel .v-expansion-panel .v-expansion-panel-content .v-expansion-panel-content__wrap .panel-section-block .v-card .v-card__title {
    font-size: 2rem !important;
    line-height: 2rem;
  }
  .catalog-page .board-member-page .member-block .v-card .member-details-top .v-avatar {
    margin: 0 !important;
  }
  .catalog-page .board-member-page .member-block .v-card .member-details-top .member-title {
    width: 100%;
  }
  .catalog-page .board-member-page .member-block .v-card .member-details-top .member-title .v-card__title {
    font-size: 1.1rem;
    justify-content: center;
  }
  .catalog-page .activity-inner-page .v-carousel {
    height: 250px !important;
  }
  .catalog-page .activity-inner-page .v-carousel .v-window__container .v-window-item .v-image .v-responsive__content {
    height: 250px;
  }
  .catalog-page .contact-page .contact-container .map-container iframe {
    width: 100%;
  }
  .catalog-page .contact-page .contact-container .section-title {
    text-align: center !important;
  }
  .catalog-page .contact-page .contact-container .bottom-details-container {
    text-align: center;
  }
  .catalog-page .contact-page .contact-container .bottom-details-container .social-links {
    justify-content: center;
  }
}
@media only screen and (min-width: 600px) and (max-width: 959px) {
  .catalog-page .home-page .v-carousel .v-window__container .v-window-item .v-responsive__content .banner-caption.Left, .catalog-page .home-page .v-carousel .v-window__container .v-window-item .v-responsive__content .banner-caption.Right {
    width: 40%;
  }
  .catalog-page .home-page .v-carousel .v-window__container .v-window__prev .v-btn, .catalog-page .home-page .v-carousel .v-window__container .v-window__next .v-btn {
    color: #a7c957;
  }
  .catalog-page .home-page .v-carousel .v-window__container .v-window__prev {
    left: 0;
    right: auto;
  }
  .catalog-page .home-page .v-carousel .v-window__container .v-window__next {
    left: auto;
    right: 0;
  }
  .catalog-page .home-page .v-carousel .v-carousel__controls .v-carousel__controls__item {
    margin: 0 2px !important;
  }
  .catalog-page .home-page .v-carousel .v-carousel__controls .v-carousel__controls__item.v-btn--active {
    color: #a7c957;
  }
  .catalog-page .home-page .v-carousel .v-carousel__controls .v-icon {
    opacity: 1 !important;
  }
  .catalog-page .about-page .mobile-panel .v-expansion-panel .v-expansion-panel-content .v-expansion-panel-content__wrap .panel-section-block {
    padding-top: 1rem;
  }
  .catalog-page .activity-inner-page .v-carousel .v-window__container .v-window-item .v-image .v-responsive__content {
    height: 400px;
  }
}
@media only screen and (min-width: 960px) and (max-width: 1263px) {
  .catalog-page .home-page .v-carousel .v-window__container .v-window-item .v-responsive__content .banner-caption.Left, .catalog-page .home-page .v-carousel .v-window__container .v-window-item .v-responsive__content .banner-caption.Right {
    width: 30%;
  }
}

/*# sourceMappingURL=style.css.map */
