$i: !important
$trans: transparent
$font: 'Roboto', sans-serif

// Colors
$grn1: #386641
$grn2: #6a994e
$grn3: #a7c957
$grn05: rgba(106,153,78,0.5)
$blk0: rgba(0,0,0,0.5)
$blk01: rgba(0,0,0,0.1)
$blk: #2a2a2a
$wht05: rgba(255,255,255,0.5)
$wht08: rgba(255,255,255,0.8)
$wht1: #f6f2e9
$wht2: #edeeee
$wht: #ffffff
$gray1: #F5F7F9

html
    scroll-behavior: smooth

body
    font-family: $font $i
    font-size: 1rem

// general
h1, h2, h3, h4, h5
    font-weight: 700

.loader
    position: fixed
    left: 0px
    top: 0px
    width: 100%
    height: 100%
    z-index: 999
    background: url('../images/PSGG-logo-big.png') 50% 50% / auto 10rem no-repeat rgb(255,255,255)

.section-space
    padding-top: 4rem
    padding-bottom: 4rem

.section-title
    font-size: 2.5rem
    font-weight: 700
    margin-bottom: 2rem

.highlight1
    color: $grn1

.highlight2
    color: $grn3

.highlight3
    color: $grn2

.max-offset
    max-width: 100%
    position: relative
    left: 50%
    width: 100vw
    transform: translateX(-50%)

.icon-container
    background-color: #2a2a2a
    width: 35px
    height: 35px
    border-radius: 50%
    display: flex
    align-items: center
    justify-content: center
    transition: 0.3s

    .fas
        color: $grn3

.btn-view
    font-weight: 700
    color: $blk $i
    background-color: $grn3
    border: 1px solid $grn3

    &:hover
        background-color: $trans
        color: $grn2 $i
        border-color: $grn3

.btn
    padding: 10px 12px



// menu
.navbar
    background-color: $wht1
    border-bottom: 1px solid rgba(0,0,0,0.1)

    .navbar-brand
        padding: 0

        img
            width: 60px $i

    .navbar-toggler
        border: none
        outline: 0

    .navbar-nav
        .nav-item
            padding: 0 20px

            &.active
                .nav-link
                    color: $grn2 $i

            &:hover
                .nav-link
                    color: $grn2
                    transition: .3s

            .nav-link
                font-size: 1.2rem
                font-weight: 700
                color: $blk

        &.navbar-top
            justify-content: flex-end

            .nav-item
                .nav-link
                    font-size: .9rem

    .admin-nav
        .fa-user-circle
            &:before
                font-size: 1.5rem
                color: $grn3

        .admin-name
            font-weight: 700

        .dropdown-menu
            .dropdown-item
                transition: .3s

                &:hover
                    background-color: $grn3





// Gallery Page
.gallery-page
    .album-container
        padding-bottom: 1rem

        .album-image
            background-color: $grn2

            a
                img
                    transition: 0.3s
                &:hover
                    img
                        opacity: 0.5

                    .text-view
                        opacity: 1

                .text-view
                    font-weight: 700
                    top: 50%
                    left: 50%
                    bottom: auto
                    right: auto
                    transform: translate(-50%, -50%)
                    color: $wht1
                    transition: 0.3s
                    opacity: 0

        .album-title
            padding-top: 0.5rem

            a
                color: $blk

                &:hover
                    color: $grn2
                    text-decoration: none

// Gallery Inner Page
.gallery-inner-page
    .album-images
        padding-bottom: 1rem

        .album-image
            cursor: pointer

// Gallery Popup
.mfp-gallery
    .mfp-content
        .mfp-figure
            .mfp-close
                width: auto
                background-color: $trans

// Activity Page
.activity-page
    .card
        border-color: $trans
        transition: .3s

        &:hover
            border-color: $grn3
            box-shadow: 0 0 .5rem $wht2



// ADMIN PAGES
.admin-page
    .v-main__wrap
        padding: 0.5rem

    .component-container
        padding: 1rem

        .page-header
            display: flex
            align-content: center
            justify-content: space-between
                    
// Album Images Page
.album-image-block
    img
        height: 200px
        object-fit: cover

    .card-footer
        background-color: rgba(0,0,0,0.03)

.album
    cursor: pointer

    .card-body
        padding: 0

        img
            height: 200px
            object-fit: cover

    .card-footer
        padding: 5px 5px 5px 15px

        .card-title
            margin-bottom: 0

.album-image
    .ivu-card-body
        padding: 0
        height: 150px
        background-color: $gray1

        img
            object-fit: contain

    .del-image-icon
        transition: .3s
        height: 100%
        background-color: $blk0
        width: 100%
        position: absolute
        top: 50%
        left: 50%
        right: auto
        bottom: auto
        transform: translate(-50%, -50%)
        z-index: 1
        opacity: 0

        .action-buttons
            display: flex
            position: absolute
            top: 50%
            left: 50%
            right: auto
            bottom: auto
            transform: translate(-50%, -50%)
            font-size: 30px
            color: $wht1
            cursor: pointer

        &:hover
            opacity: 1

// Activities Page
.activity-container, .about-section-container
    .card
        transition: .3s

        &:hover
            box-shadow: 0 0 5px rgba(0,0,0,0.2)

// Role Page
.role-container
    .table-block
        border: 1px solid green
        padding: 0 20px

// User Page
.user-container
    .table-block
        border: 1px solid green
        padding: 0 20px

        .user-avatar
            margin-right: 10px

.about-section-container
    .card
        .ivu-dropdown
            .ivu-icon
                padding: 20px 3px

// General
.gallery-album-container, .about-section-container, .about-panel-container
    .card
        .ivu-dropdown
            .ivu-dropdown-menu
                .ivu-dropdown-item
                    padding: 0

                    a
                        transition: .3s
                        padding: 7px 15px
                        color: $grn1

                    &:hover
                        a
                            background-color: $grn3
                            color: $wht1 $i

.role-form-container, .user-form-container
    padding: 40px 20px 20px
    box-shadow: 0 0 10px rgba(0,0,0,0.2)

.table_image img
    width: 40px


////////////////////////////////////////////////////////////////////////////////////////////////////////
//  NEW CSS
// General
.truncate-overflow
    display: -webkit-box
    -webkit-line-clamp: 3
    -webkit-box-orient: vertical 
    overflow: hidden

.truncate-overflow-2
    display: -webkit-box
    -webkit-line-clamp: 2
    -webkit-box-orient: vertical 
    overflow: hidden

.bg-grn3
    background-color: $grn3

.bg-grn2
    background-color: $grn2

.bg-wht1
    background-color: $wht1 $i

// Card
.v-card
    .v-card__title
        word-break: normal

// Pagination
.v-pagination
    li
        .v-pagination__item, .v-pagination__navigation
            border: none
            font-weight: 700

            &:hover, &.v-pagination__item--active
                background-color: $grn3
                color: $wht1 $i

            &.v-pagination__item--active
                background-color: $grn3 $i

// Catalog Page
.catalog-page
    background-color: $wht

    // All pages
    .content-block
        min-height: calc(100vh - 555px)
        padding-top: 80px

    // Home page
    .home-page

        // home banner
        .v-carousel
            .v-window__container
                .v-window-item
                    .v-responsive__sizer
                        flex: 0

                    .v-responsive__content
                        height: calc(100vh - 80px)

                        .banner-caption
                            position: absolute
                            width: 100%

                            .banner-caption-wrapper
                                height: 100%
                                display: flex
                                flex-wrap: wrap
                                align-content: center
                                justify-content: center

                            &.Top, &.Bottom
                                width: 100%
                                height: auto
                                left: 0
                                right: auto

                            &.Top
                                top: 0
                                bottom: auto

                            &.Bottom
                                top: auto
                                bottom: 0
                                padding-bottom: 2.5rem $i

                            &.Left, &.Right
                                width: 25%
                                height: 100%
                                top: 0
                                bottom: auto

                            &.Left
                                left: 0
                                right: auto
                            
                            &.Right
                                left: auto
                                right: 0

                            &.Dark
                                background-color: $wht05
                                
                                .banner-title
                                    color: $grn3
                                    text-shadow: 0 0 5px $blk
                                
                                .banner-description
                                    color: $blk

                            &.Light
                                background-color: $blk0

                                .banner-title
                                    color: $grn3
                                
                                .banner-description
                                    color: $wht1
                                
                .v-window__prev, .v-window__next
                    .v-btn
                        color: $grn3

                .v-window__prev
                    left: 0
                    right: auto

                .v-window__next
                    left: auto
                    right: 0

            .v-carousel__controls
                .v-carousel__controls__item
                    margin: 0 2px $i

                    &.v-btn--active
                        color: $grn3

                .v-icon
                    opacity: 1 $i

        // home announcement
        .home-announcement
            padding-bottom: 4rem

            .featured-activities
                .v-card
                    border: 2px solid $trans
                    transition: .3s
                    margin: 1rem auto

                    &:hover
                        border-color: $grn3

                    

            .slick-slider
                .slick-nav
                    top: auto
                    bottom: -1rem
                    width: 100%

                    .icon-container
                        left: auto
                        cursor: pointer

                    &.prev
                        .icon-container
                            right: 5rem

                    &.next
                        .icon-container
                            right: 2rem

    // About page
    .about-page
        h3
            color: $grn2

        .v-tabs
            .v-slide-group__content
                .v-tabs-slider-wrapper
                    color: $grn2

                .v-tab
                    font-size: 1rem
                    color: $blk $i
                    margin-left: 0 $i

                    &.v-tab--active
                        color: $grn2 $i

        .panel-block, .mobile-panel
            .panel-section-block
                .v-card
                    .v-card__title
                        font-size: 1.5rem
                        font-weight: 700
                
                    .v-card__text
                        font-size: 1rem
                        color: $blk

                &:nth-child(odd)
                    .v-card
                        .v-card__title
                            color: $grn1
                &:nth-child(even)
                    .v-card
                        .v-card__title
                            color: $grn3

        .mobile-panel
            .v-expansion-panel
                .v-expansion-panel-header
                    font-size: 1.2rem
                    font-weight: 700
                    color: $blk

                    &.v-expansion-panel-header--active
                        background-color: $grn2
                        color: $wht

                        .v-icon
                            color: $wht
                    
    // Board member page
    .board-member-page
        .member-block
            .v-card
                .v-card__title
                    font-weight: 700
                    font-size: 1.3rem

                .v-card__subtitle
                    font-size: 1rem
                    font-weight: 700
                    color: $grn2
                    letter-spacing: 0.5px

    // Education page
    .education-page
        .v-card
            border-radius: 10px
            overflow: hidden
            transition: 0.3s

            .lesson-image-block
                width: 150px
            
            .lesson-details-block
                .v-card__title
                    padding-bottom: 5px

            &:hover
                background-color: $blk01

    // Activities page
    .activity-page
        .v-card
            border: 2px solid $trans
            transition: .3s
            margin: 1rem auto

            &:hover
                border-color: $grn3
    
    // Activity inner page
    .activity-inner-page
        .v-window
            .v-window__container
                .v-window-item
                    .v-image
                        &.grey.darken-4
                            background-color: #212121

                .v-window__prev, .v-window__next
                    .v-btn
                        background-color: $grn3
                        color: $blk

                .v-window__prev
                    left: 0

                .v-window__next
                    right: 0

    // Gallery page
    .gallery-page
        .v-card
            border: none

            .v-card__title
                cursor: pointer

            .v-card--reveal 
                align-items: center
                bottom: 0
                left: 0
                justify-content: center
                opacity: 1
                position: absolute
                width: 100%
                background-color: $grn05

    // Gallery inner page
    .gallery-inner-page
        .album-block
            span
                cursor: pointer

    // Contact page
    .contact-page
        .contact-container
            .top-details-container
                padding-bottom: 2.5rem

                .info-container
                    margin-bottom: 1rem
                
                    .details-container
                        a
                            color: $blk
                            transition: 0.3s

                            &:hover
                                color: $grn2
                                text-decoration: none

                .image-container
                    padding-right: 2rem

            .bottom-details-container
                .social-links
                    padding-top: 1rem

                    a
                        margin-right: 0.8rem
                        margin-top: 5px
                        transition: 0.3s

                        &:hover
                            margin-top: 0

            .map-container
                iframe
                    width: calc(100% - 30px)



    // Navbar
    .catalog-main-container
        .catalog-navbar
            position: fixed
            width: 100vw
            top: 0
            z-index: 8

            .v-toolbar__content
                .v-tabs
                    .v-tabs-bar
                        margin-left: auto

                        .v-slide-group__wrapper
                            .v-tabs-bar__content
                                .v-tabs-slider-wrapper
                                    color: $grn2

                                a
                                    font-weight: 700
                                    color: $blk
                                    &.v-tab--active
                                        color: $grn2

                                    &:hover
                                        text-decoration: none
                                        color: $grn2
                .v-btn
                    .v-icon
                        color: $blk

        .v-navigation-drawer
            z-index: 9
        .v-menu__content
            .v-list
                .v-list-item
                    &.v-list-item--active,
                    &:hover
                        background-color: $grn2
                        color: $wht $i
                        text-decoration: none

    
    // Footer
    .v-footer
        margin-top: 4rem

        .footer-menu
            .footer-menu-btn
                font-size: 1.2rem
                font-weight: 700
                color: $blk
                transition: .3s
                text-transform: capitalize
                letter-spacing: 1px

                &.v-btn--active
                    color: $grn2

                    &::before
                        background-color: $trans

                &:hover
                    text-decoration: none
                    color: $grn2

                    &::before
                        background-color: $trans
                        opacity: 0

        .footer-title, .f-details, .v-icon
            color: $blk

        .footer-content
            a
                color: $blk
                transition: 0.3s

                &:hover
                    text-decoration: none
                    color: $grn3

        .v-card
            .footer-lower-content
                .lower-content-block
                    color: $blk

                    .designer
                        .name
                            a
                                color: $blk
                                transition: 0.3s

                                &:hover
                                    text-decoration: none
                                    color: $grn1
            
// Admin Page
.admin-page
    .admin-main-container
        .v-navigation-drawer
            background-color: $wht2
            .user-info
                .user-name
                    font-weight: 700
                    color: $blk
                    transition: 0.3s

                    &:hover
                        text-decoration: none
                        color: $grn1

                .v-list-item__subtitle
                    color: $grn2



// XS - Small to large phone
@media only screen and (min-width: 0px) and (max-width: 599px)
    .section-space
        padding-top: 2rem
        padding-bottom: 2rem

    .section-title
        font-size: 1.8rem

    .catalog-page
        .v-card
            .v-card__title
                font-size: 1.2rem
                font-weight: 700
                line-height: 1.5rem

        .v-footer
            .v-card
                padding-top: 2.5rem

                .footer-details-block
                    flex-wrap: wrap
                    justify-content: center

                    .img-container
                        margin-right: 0 $i
                        margin-bottom: 1.5rem
                
                    .footer-content
                        .footer-title
                            text-align: center
                        
                        .f-details
                            width: 65%
                            margin: auto

                .footer-lower-content
                    .lower-content-block
                        text-align: center
                        justify-content: center

                        .copyright
                            padding-bottom: 0.5rem

        .about-page
            .section-title
                text-align: center $i

            .mobile-panel
                .v-expansion-panel
                    .v-expansion-panel-content
                        .v-expansion-panel-content__wrap
                            padding: 0 5px 16px

                            .panel-section-block
                                padding-top: 1rem

                                .v-card
                                    .v-card__title
                                        font-size: 2rem $i
                                        line-height: 2rem

        .board-member-page
            .member-block
                .v-card
                    .member-details-top
                        .v-avatar
                            margin: 0 $i

                        .member-title
                            width: 100%

                            .v-card__title
                                font-size: 1.1rem
                                justify-content: center
        
        .activity-inner-page
            .v-carousel
                height: 250px $i

                .v-window__container
                    .v-window-item
                        .v-image
                            .v-responsive__content
                                height: 250px

        .contact-page
            .contact-container
                .map-container
                    iframe
                        width: 100%

                .section-title
                    text-align: center $i

                .bottom-details-container
                    text-align: center

                    .social-links
                        justify-content: center

    
// SM - Small to medium tablet
@media only screen and (min-width: 600px) and (max-width: 959px)
    .catalog-page
        .home-page
            .v-carousel
                .v-window__container
                    .v-window-item
                        .v-responsive__content
                            .banner-caption
                                &.Left, &.Right
                                    width: 40%
                                    
                    .v-window__prev, .v-window__next
                        .v-btn
                            color: $grn3

                    .v-window__prev
                        left: 0
                        right: auto

                    .v-window__next
                        left: auto
                        right: 0

                .v-carousel__controls
                    .v-carousel__controls__item
                        margin: 0 2px $i

                        &.v-btn--active
                            color: $grn3

                    .v-icon
                        opacity: 1 $i

        .about-page
            .mobile-panel
                .v-expansion-panel
                    .v-expansion-panel-content
                        .v-expansion-panel-content__wrap
                            .panel-section-block
                                padding-top: 1rem
        
        .activity-inner-page
            .v-carousel
                .v-window__container
                    .v-window-item
                        .v-image
                            .v-responsive__content
                                height: 400px

// MD - Large tablet to laptop
@media only screen and (min-width: 960px) and (max-width: 1263px)
    .catalog-page
        .home-page
            .v-carousel
                .v-window__container
                    .v-window-item
                        .v-responsive__content
                            .banner-caption
                                &.Left, &.Right
                                    width: 30%

// LG - Desktop
@media only screen and (min-width: 1264px) and (max-width: 1903px)

// XL - 4k and ultra-wide
@media only screen and (min-width: 1904px)
