<template>
     <v-app id="inspire" class="catalog-main-container">
          <navbar-component />
          <footer-component />
     </v-app>
</template>
<script>
import navbarComponent from './catalog/NavbarComponent'
import footerComponent from './catalog/FooterComponent'
export default {
     components: { navbarComponent, footerComponent }
}
</script>