<template>
  <v-app id="inspire" class="admin-main-container">
    <v-navigation-drawer v-model="drawer" app>
      <template v-slot:prepend>
        <v-list-item two-line class="user-info">
          <v-list-item-avatar>
            <v-img :src="currentUser.avatar" :alt="currentUser.last" v-if="currentUser.avatar"></v-img>
            <v-img src="/uploads/no_avatar.jpg" alt="avatar" v-else></v-img>
          </v-list-item-avatar>

          <v-list-item-content>
            <v-list-item-title>
              <router-link :to="{ name: 'admin.profile' }" class="user-name">{{ currentUser.first + " " + currentUser.last }}</router-link>
              </v-list-item-title>
            <v-list-item-subtitle>{{
              currentUser.is_admin ? "Admin" : "User"
            }}</v-list-item-subtitle>
          </v-list-item-content>
        </v-list-item>
      </template>

      <v-divider></v-divider>

      <v-list>
        <v-list-item-group v-model="selectedItem" color="#6a994e">
          <div v-for="( menu, i ) in menus" :key="i">
            <v-list-item v-if="menu.link" :to="{ name: menu.link }" class="text-decoration-none">
              <v-list-item-icon>
                <v-icon v-text="menu.icon"></v-icon>
              </v-list-item-icon>
              <v-list-item-title v-text="menu.text"></v-list-item-title>
            </v-list-item>

            <v-list-group v-else :prepend-icon="menu.icon" color="#6a994e">
              <template v-slot:activator>
                <v-list-item-title v-text="menu.text"></v-list-item-title>
              </template>
              <v-list-item link v-for="(sub, i) in menu.submenu" :key="i" :to="{ name: sub.link }" class="text-decoration-none">
                <v-list-item-icon></v-list-item-icon>
                <v-list-item-title v-text="sub.text"></v-list-item-title>
              </v-list-item>
            </v-list-group>
          </div>
        </v-list-item-group>
      </v-list>
      
      <template v-slot:append>
        <div class="pa-2">
          <v-btn color="secondary" block tile @click="logout">
            <v-icon left>mdi-power</v-icon>
            Logout
          </v-btn>
        </div>
      </template>
    </v-navigation-drawer>

    <v-app-bar app>
      <v-app-bar-nav-icon @click="drawer = !drawer"></v-app-bar-nav-icon>

      <v-toolbar-title
        >Philippine Society of Geriatrics and Gerontology</v-toolbar-title
      >
    </v-app-bar>

    <v-main>
      <div class="container-fluid my-3">
      <v-card class="pb-5 px-3">
        <router-view />
      </v-card>
      </div>

    </v-main>
  </v-app>
</template>

<script>
export default {
  data() {
    return {
      drawer: null,
      selectedItem: 0,
      menus: [
        {
          icon: "mdi-view-dashboard",
          text: "Dashboard",
          link: "admin.dashboard",
        },
        {
          icon: "mdi-image-multiple",
          text: "Home Banners",
          link: "admin.banner",
        },
        {
          icon: "mdi-information",
          text: "About",
          link: null,
          submenu: [
            {
              text: "Sections",
              link: "admin.section"
            },        
            {
              text: "Panels",
              link: "admin.panel"
            },        
          ]
        },
        {
          icon: "mdi-account-group",
          text: "Board Members",
          link: "admin.bmember",
        },
        {
          icon: "mdi-book-open-page-variant",
          text: "Education",
          link: "admin.education",
        },
        {
          icon: "mdi-calendar-edit",
          text: "Activities",
          link: "admin.activity",
        },
        {
          icon: "mdi-folder-multiple-image",
          text: "Galleries",
          link: "admin.album",
        },
        {
          icon: "mdi-account-multiple",
          text: "User Accounts",
          link: "admin.user",
        },
        {
          icon: "mdi-settings",
          text: "Settings",
          link: null,
          submenu: [
            {
              text: "General",
              link: "admin.general"
            },        
            {
              text: "Social Media",
              link: "admin.social"
            }, 
            {
              text: "Partners",
              link: "admin.partner"
            },       
          ]
        },
      ],
    };
  },
  computed: {
    loggedIn: {
      get() {
        return this.$store.state.currentUser.loggedIn;
      },
    },
    currentUser: {
      get() {
        return this.$store.state.currentUser.user;
      },
    },
  },
  methods: {
    logout() {
      this.$store.dispatch("currentUser/logoutUser");
    },
  },
  created() {
    if (localStorage.hasOwnProperty("app_token")) {
      axios.defaults.headers.common["Authorization"] =
        "Bearer " + localStorage.getItem("app_token");
      this.$store.dispatch("currentUser/getUser");
    } else {
      window.location.replace("/home");
    }
  },
};
</script>