<template>
     <div class="about-page content-block">
          <v-container>
               <!-- About Sections -->
               <div v-for="(section, i) in sections" :key="i">
                    <section class="section-space pb-0" v-if="!(i % 2)">
                         <div class="row">
                              <div class="col-md-6">
                                   <v-img
                                        width="100%"
                                        contain
                                        :src="section.image_path"
                                        :alt="section.title"
                                   ></v-img>
                              </div>
                              <div class="col-md-6">
                                   <h2 class="section-title text-left" v-if="i == 0">
                                        <span class="highlight1">About</span>
                                        <span class="highlight2">Us</span>
                                   </h2>
                                   <h3>{{ section.title }}</h3>
                                   <div class="about-content" v-html="section.description"></div>
                              </div>
                         </div>
                    </section>
                    <section class="section-space pb-0" v-else >
                         <div class="row">
                              <div class="col-md-6">
                                   <h3>{{ section.title }}</h3>
                                   <div class="about-content" v-html="section.description"></div>
                              </div>
                              <div class="col-md-6">
                                   <v-img
                                        width="100%"
                                        contain
                                        :src="section.image_path"
                                        :alt="section.title"
                                   ></v-img>
                              </div>
                         </div>
                    </section>
               </div>
          </v-container>

          <v-container class="d-none d-md-block pt-5">
               <!-- About Panel -->
               <v-tabs
                    v-model="tab"
                    align-with-title
                    class="panel-menu mb-3"
               >

                    <v-tab
                         v-for="(panel, i) in panels"
                         :key="i"
                    >
                         {{ panel.title }}
                    </v-tab>
               </v-tabs>

               <v-tabs-items v-model="tab" class="panel-block">
                    <v-tab-item
                         v-for="(panel, i) in panels"
                         :key="i"
                    >
                         <div v-for="(section, a) in panel.about_panel_sections" :key="a" class="panel-section-block">
                              <v-row class="d-flex flex-nowrap align-items-center">
                                   <v-col cols="4" v-if="section.image_path">
                                        <v-img
                                             width="100%"
                                             contain
                                             :src="section.image_path"
                                             :alt="section.title"
                                        ></v-img>
                                   </v-col>
                                   <v-col :cols="section.image_path ? '8':'12'">
                                        <v-card flat>
                                             <v-card-title class="text-h4" v-text="section.title"></v-card-title>
                                             <v-card-text v-html="section.description"></v-card-text>
                                        </v-card>
                                   </v-col>
                              </v-row>
                         </div>
                    </v-tab-item>
               </v-tabs-items>
               
          </v-container>

          <v-container fluid class="d-block d-md-none pt-5">
               <template>
                    <v-expansion-panels class="mobile-panel">
                         <v-expansion-panel
                              v-for="(panel,i) in panels"
                              :key="i"
                         >
                              <v-expansion-panel-header>{{ panel.title }} <v-spacer></v-spacer>                       
                              </v-expansion-panel-header>
                              <v-expansion-panel-content>
                                   <div v-for="(section, a) in panel.about_panel_sections" :key="a" class="panel-section-block">
                                        <v-row class="d-flex align-items-center">
                                             <v-col cols="12" sm="5" v-if="section.image_path">
                                                  <v-img
                                                       width="100%"
                                                       contain
                                                       :src="section.image_path"
                                                       :alt="section.title"
                                                  ></v-img>
                                             </v-col>
                                             <v-col  cols="12" :sm="section.image_path ? '7':'12'">
                                                  <v-card flat>
                                                       <v-card-title class="text-h4" v-text="section.title"></v-card-title>
                                                       <v-card-text v-html="section.description"></v-card-text>
                                                  </v-card>
                                             </v-col>
                                        </v-row>
                                   </div>
                              </v-expansion-panel-content>
                         </v-expansion-panel>
                    </v-expansion-panels>
               </template>
          </v-container>
          
     </div>
</template>
<script>
export default {
     data(){
          return {
               tab: null,
               sections: [],
               panels: [],
               hidePanelContent: false,
          }
     },
     created() {
          this.getSections();
          this.getPanels();
     },
     methods: {
          async getSections() {
               const res = await this.callApi("get", "api/about/cat_sections");
               if (res.status === 200) {
                    this.sections = res.data;
               } else {
                    console.log("Something went wrong.");
               }
          },
          async getPanels() {
               const res = await this.callApi("get", "api/about/cat_panels");
               if (res.status === 200) {
                    this.panels = res.data;
               } else {
                    console.log("Something went wrong.");
               }
          }
     }
}
</script>