<template>
     <div class="activity-page content-block">
          <v-container>
               <!-- Activities -->
               <section class="section-space">
				<h2 class="section-title text-center">
					<span class="highlight1">Our</span>
					<span class="highlight2">Activities</span>
				</h2>
                    <v-row dense>
                         <v-col cols="6" sm="4" md="3" xl="2" v-for="(activity, i) in activities" :key="i" class="px-2">
                              <v-card
                                   class="mx-auto"
                                   width="100%"
                                   outlined
                                   >
                                   <v-img
                                        :src="activity.featured_image ? activity.featured_image : activity.latest_image.image_path"
                                        height="200px"
                                        :alt="activity.title"
                                   ></v-img>

                                   <v-card-title v-text="activity.title"></v-card-title>
                                   <v-card-text v-text="activity.description" class="truncate-overflow pb-0 mb-2"></v-card-text>

                                   <v-card-actions class="mb-4">
                                   <v-btn
                                   color="#a7c957"
                                   elevation="0"                              
                                   @click="goToActivity( activity )"
                                   >
                                   Read more
                                   </v-btn>

                                   <v-spacer></v-spacer>
                                   </v-card-actions>

                              </v-card>
                         </v-col>
                    </v-row>
                    <paginate store="activity" collection="activities" class="mt-5 pt-5" />
               </section>
          </v-container>
     </div>
</template>
<script>
import paginate from "../components/Paginate";
export default {
     components: {
          paginate
     },
     created() {
          this.$store.dispatch( 'activity/catalogGetList', 1 );
     },
     computed: {
          activities: {
               get() {
                    return this.$store.state.activity.activities.data;
               }
          },
     },
     methods: {
          goToActivity( activity ) {
               this.$router.push({
                    name: "activity.inner",
                    params: {
                         id: activity.id,
                    },
               });
          }
     }
}
</script>