<template>
     <div class="activity-inner-page content-block">
          <v-container>
               <section class="section-space">
                    <h2 class="section-title text-center">
					<span class="highlight1">Our</span>
					<span class="highlight2">Activity</span>
				</h2>
                    <div class="activity-block">
                         <v-carousel cycle hide-delimiters height="400" show-arrows-on-hover>
                              <v-carousel-item v-if="activity.featured_image != ''">
                                   <v-img
                                        :src="activity.featured_image"
                                        max-height="400px"
                                        contain
                                        class="grey darken-4"
                                        >
                                   </v-img>
                              </v-carousel-item>
                              <v-carousel-item v-for="image in activity.activity_images" :key="image.id">
                                   <v-img
                                        :src="image.image_path"
                                        max-height="400px"
                                        contain
                                        class="grey darken-4"
                                        >
                                   </v-img>
                              </v-carousel-item>
                         </v-carousel>
                         <h3 v-text="activity.title" class="text-center my-4"></h3>
                         <div class="activity-desc pb-5" v-text="activity.description"></div>
                         <div class="activity-button d-block text-center">
                              <v-btn
                                   elevation="0"
                                   color="#a7c957"
                                   @click="goBack()"
                              >
                                   Back
                              </v-btn>
                         </div>
                    </div>     

               </section>

          </v-container>
     </div>
</template>
<script>
export default {
     data() {
          return {
               id: this.$route.params.id,
          }
     },
     created() {
          this.$store.dispatch( 'activity/getActivity', this.id );
     },
     computed: {
          activity: {
               get() {
                    return this.$store.state.activity.activity;
               }
          }
     },
     methods: {
          goBack() {
               window.history.back();
          },
     }
     
}
</script>