<template>
     <div class="board-member-page content-block">
          <v-container>
               <section class="section-space">
                    <h2 class="section-title text-center">
					<span class="highlight1">Board</span>
					<span class="highlight2">Members</span>
				</h2>
                    <div class="member-block">
                         <v-row>
                              <v-col cols="12" md="6" v-for="(member, i) in members" :key="i">
                                   <v-card
                                        color="#fff"
                                        flat
                                        class="member"
                                   >
                                        <div class="d-flex flex-wrap flex-sm-nowrap justify-center justify-sm-start member-details-top">
                                             <v-avatar
                                                  class="ma-3"
                                                  size="100"
                                             >
                                                  <v-img :src="member.image_path ? member.image_path : '/uploads/no_avatar.jpg'"></v-img>
                                             </v-avatar>
                                             <div class="member-title">
                                                  <v-card-title v-text="member.name"></v-card-title>
                                                  <v-card-subtitle class="text-center text-sm-left" v-text="member.position"></v-card-subtitle>
                                                  <v-card-text class="member-description" v-text="member.description"></v-card-text>
                                             </div>
                                        </div>
                                   </v-card>
                              </v-col>
                         </v-row>
                    </div>
               </section>
          </v-container>
     </div>
     
</template>
<script>
export default {
     data() {
          return {
               members: {}
          }
     },
     created() {
          this.getMembers()
     },
     methods: {
          async getMembers(){
               const res = await this.callApi("get", 'api/cat_bmembers');
               if (res.status === 200) {
                    this.members = res.data;          
               } else {
                    console.log(res.errors);
               }
          }
     }
}
</script>