<template>
     <div class="contact-page content-block">
          <div class="container pb-5">
               <section class="contact-container section-space">
                    <v-row>
                         <v-col cols="12" sm="7">
                              <div class="map-container">
                              <div v-html="settings.google_map"></div>
                              </div>
                         </v-col>
                         <v-col cols="12" sm="5">
                              <h2 class="section-title text-left">
                                   <span class="highlight1">Contact</span>
                                   <span class="highlight2">Us</span>
                              </h2>
                              <div class="top-details-container">
                                   <div class="info-container address-container d-flex">
                                        <div class="image-container">
                                             <v-img src="/uploads/add-icon2.png" width="45" alt="Address"></v-img>
                                        </div>
                                        <div class="details-container">
                                             <h3 class="highlight3">Address</h3>
                                             <p v-html="settings.address"></p>
                                        </div>
                                   </div>

                                   <div class="info-container email-container d-flex">
                                        <div class="image-container">
                                             <v-img src="/uploads/email-icon2.png" width="45" alt="Email"></v-img>
                                        </div>
                                        <div class="details-container">
                                             <h3 class="highlight3">Email</h3>                                             
                                             <p><a :href="'mailto:'+settings.email" v-text="settings.email"></a></p>
                                        </div>
                                   </div>

                                   <div class="info-container phone-container d-flex">
                                        <div class="image-container">
                                             <v-img src="/uploads/tel-icon2.png" width="45" alt="Phone"></v-img>
                                        </div>
                                        <div class="details-container">
                                             <h3 class="highlight3">Phone</h3>
                                             <p><a :href="'tel:'+settings.contact_number" v-text="settings.contact_number"></a></p>
                                        </div>
                                   </div>
                              </div>

                              <div class="bottom-details-container">
                                   <h3>
                                        <span class="highlight1">SEND A</span>
                                        <span class="highlight2">MESSAGE</span>
                                   </h3>
                                   <div class="social-links d-flex">
                                   <a :href="social.link" v-for="(social, i) in settings.social_media" :key="i" target="_blank">
                                        <v-img :src="social.image_path" width="45" :alt="social.name"></v-img>
                                   </a>
                                   </div>
                              </div>
                         </v-col>
                    </v-row>
               </section>
          </div>
     </div>
</template>
<script>
export default {
     data() {
          return {
               settings: [],
          }
     },
     created() {
          this.getSetting();
     },
     methods: {
          async getSetting(){
               const res = await this.callApi("get", 'api/cat_setting');
               if (res.status === 200) {
                    this.settings = res.data;               
               } else {
                    console.log(res.errors);
               }
          }
     }
}
</script>