<template>
     <div class="education-inner-page content-block">
          <v-container>
               <section class="section-space">
                    <div class="lesson-block">
                         <video
                              id="my-video"
                              class="video-js"
                              controls
                              preload="auto"
                              width="640"
                              height="264"
                              poster="MY_VIDEO_POSTER.jpg"
                              data-setup="{}"
                              >
                              <source src="MY_VIDEO.mp4" type="video/mp4" />
                              <source src="MY_VIDEO.webm" type="video/webm" />
                              <p class="vjs-no-js">
                                   To view this video please enable JavaScript, and consider upgrading to a
                                   web browser that
                                   <a href="https://videojs.com/html5-video-support/" target="_blank"
                                   >supports HTML5 video</a
                                   >
                              </p>
                              </video>
                         <h3 v-text="lesson.title" class="text-center my-4"></h3>
                         <div class="lesson-desc pb-5" v-text="lesson.description"></div>
                         <div class="lesson-button d-block text-center">
                              <v-btn
                                   elevation="0"
                                   color="#a7c957"
                                   @click="goBack()"
                              >
                                   Back
                              </v-btn>
                         </div>
                    </div>     

               </section>

          </v-container>
     </div>
</template>
<script>
import videojs from 'video.js';
export default {
     data() {
          return {
               id: this.$route.params.id,
          }
     },
     created() {
          this.$store.dispatch( 'lesson/getLesson', this.id );
     },
     computed: {
          lesson: {
               get() {
                    console.log(this.$store.state.lesson.lesson)
                    return this.$store.state.lesson.lesson;
               }
          }
     },
     methods: {
          goBack() {
               window.history.back();
          },
     }
     
}
</script>