<template>
     <div class="education-page content-block">
          <v-container>
               <!-- Lessons -->
               <section class="section-space">
				<h2 class="section-title text-center">
					<span class="highlight1">Courses</span>
					<span class="highlight2">List</span>
				</h2>
                    <v-row dense class="justify-center">
                         <v-col cols="10" xs="12" sm="10" md="8" v-for="(lesson, i) in lessons" :key="i" class="px-2">
                              <v-card
                                   class="mx-auto d-flex flex-nowrap lesson-block pa-3"
                                   width="100%"
                                   outlined
                                   >
                                   <div class="lesson-image-block">
                                        <v-img
                                             :src="lesson.featured_image"
                                             height="150px"
                                             :alt="lesson.title"
                                        ></v-img>
                                   </div>
                                   <div class="lesson-details-block ml-5">
                                        <v-card-title v-text="lesson.title"></v-card-title>
                                        <v-card-text v-text="lesson.description" class="truncate-overflow-2 pb-0 mb-2"></v-card-text>

                                        <v-card-actions class="mb-4">
                                             <v-btn
                                             color="#a7c957"
                                             elevation="0"                              
                                             @click="goToLesson( lesson )"
                                             >
                                             Learn more
                                             </v-btn>

                                             <v-spacer></v-spacer>
                                        </v-card-actions>

                                   </div>


                              </v-card>
                         </v-col>
                    </v-row>
                    <paginate store="lesson" collection="lessons" class="mt-5 pt-5" />
               </section>
          </v-container>
     </div>
</template>
<script>
import paginate from "../components/Paginate";
export default {
     components: {
          paginate
     },
     data() {
          return {
               
          }
     },
     created() {
          this.$store.dispatch( 'lesson/catalogGetList', 1 );
     },
     computed: {
          lessons: {
               get() {
                    return this.$store.state.lesson.lessons.data;
               }
          },
     },
     methods: {
          goToLesson( lesson ) {
               this.$router.push({
                    name: "education.inner",
                    params: {
                         id: lesson.id,
                    },
               });
          }
     },
     
}
</script>
