<template>
     <v-footer
          padless
     >
          <v-card
               class="flex bg-wht1"
               flat
               tile
          >
               <!-- Footer menu -->
               <!-- <v-row
                    no-gutters
                    class="footer-menu d-none d-sm-block w-100 text-center mt-4"
               >
                    <v-btn
                         v-for="(menu,i) in menus"
                         :key="i"
                         text
                         rounded
                         class="footer-menu-btn m-2"
                         v-text="menu.text"
                         :to="{ name: menu.link }"
                         >
                         
                    </v-btn>
               </v-row> -->
               <v-card-text class="d-flex justify-content-center flex-wrap mb-4">
                    <h4 class="footer-title d-block w-100 text-center mb-3">Partners</h4>
                    <a :href="partner.link" target="_blank" v-for="(partner,i) in settings.partners" :key="i" class="mx-3 my-2 d-flex align-center">
                         <v-img :src="partner.image_path" width="50" :alt="partner.name"></v-img>
                    </a>
               </v-card-text>
               <v-divider class="d-none d-sm-block"></v-divider>
               <!-- Company details -->
               <v-card-text class="footer-details d-flex justify-content-center">
                    <div class="d-flex footer-details-block">
                         <div class="img-container mr-4">
                              <v-img :src="settings.logo" :alt="settings.name" width="110"></v-img>
                         </div>
                         <div class="footer-content">
                              <h4 class="footer-title" v-text="settings.name"></h4>
                              <div class="f-details">
                                   <div class="f-address d-flex align-items-start mb-1">
                                        <v-icon>mdi-map-marker</v-icon>
                                        <div class="add pl-2" v-text="settings.address"></div>
                                   </div>
                                   <div class="f-telephone d-flex align-items-start mb-1">
                                        <v-icon>mdi-phone</v-icon>
                                        <div class="tel pl-2" v-html="settings.contact_number">
                                        </div>
                                   </div>
                                   <div class="f-email d-flex align-items-start mb-1">
                                        <v-icon>mdi-email</v-icon>
                                        <div class="email pl-2">
                                             <a :href="'mailto:'+settings.email" v-text="settings.email" target="_blank"></a>
                                        </div>
                                   </div>
                                   
                              </div>
                         </div>
                    </div>
               </v-card-text>
               <!-- Social media links -->
               <v-card-text class="d-flex justify-content-center flex-wrap mb-4">
                    <h4 class="footer-title d-block w-100 text-center mb-3">Follow Us</h4>
                    <a :href="social.link" target="_blank" v-for="(social,i) in settings.social_media" :key="i" class="mx-3">
                         <v-img :src="social.image_path" width="30" :alt="social.name"></v-img>
                    </a>
               </v-card-text>
               <!-- Copyrights -->
               <v-card-text class="bg-grn3 footer-lower-content">
                    <v-row class="p-2 space-between lower-content-block">
                         <div class="copyright">
                              &copy; {{ new Date().getFullYear() }} <strong>{{ settings.name }}</strong>. All Rights Reserved.
                         </div>
                         <v-spacer class="d-none d-sm-block"></v-spacer>
                         <div class="designer">
                              <span class="des">Designed by</span>
                              <strong class="name">
                                   <a :href="dev1" target="_blank">M</a>&<a :href="dev2" target="_blank">P</a>
                              </strong>
                         </div>
                    </v-row>
               </v-card-text>
          </v-card>
     </v-footer>
</template>
<script>
export default {
     data() {
          return {
               settings: {},
               // menus: [
               //      {
               //           text: "Home",
               //           link: "home",
               //      },
               //      {
               //           text: "About Us",
               //           link: "about",
               //      },
               //      {
               //           text: "Board Members",
               //           link: "bmember",
               //      },
               //      {
               //           text: "Activities",
               //           link: "activity",
               //      },
               //      {
               //           text: "Gallery",
               //           link: "gallery",
               //      },
               //      {
               //           text: "Contact Us",
               //           link: "contact",
               //      },
               // ],
               dev1: "#",
               dev2: "https://silvanopaul.gitlab.io/portfolio/"
          }
     },
     created() {
          this.getSetting();
     },
     methods: {
          async getSetting(){
               const res = await this.callApi("get", 'api/cat_setting');
               if (res.status === 200) {
                    this.settings = res.data;            
               } else {
                    console.log(res.errors);
               }
          }
     }
}
</script>