<template>
     <div class="gallery-inner-page content-block">
          <v-container>
               <section class="section-space">
                    <h2 class="section-title text-center">
					<span class="highlight1">Our</span>
					<span class="highlight2">Gallery</span>
				</h2>
                    <div class="album-block">
                         <v-row>
                              <v-col cols="6" sm="4" md="3" xl="2" v-for="(image, i) in album.gallery_images" :key="i" class="d-flex child-flex">
                                   <span :href="image.image_path">
                                        <v-img
                                             :src="image.image_path"
                                             aspect-ratio="1.5"
                                             class="bg-white"
                                             >
                                             <template v-slot:placeholder>
                                                  <v-row
                                                       class="d-flex m-auto justify-content-center align-items-center h-100"
                                                       align="center"
                                                       justify="center"
                                                  >
                                                       <v-progress-circular
                                                            indeterminate
                                                            color="#386641"
                                                       >
                                                       </v-progress-circular>
                                                  </v-row>
                                             </template>
                                        </v-img>
                                   </span>
                              </v-col>
                         </v-row>
                    </div>
               </section>
          </v-container>
     </div>
</template>
<script>
export default {
     data() {
          return {
               id: this.$route.params.id,
          }
     },
     created() {
          this.$store.dispatch( 'gallery/getAlbum', this.id );
          this.loadMagnificScript();
     },
     computed: {
          album: {
               get() {
                    return this.$store.state.gallery.album;
               }
          }
     },
     methods: {
          goBack() {
               window.history.back();
          },
          loadMagnificScript() {               
               // Magnific Popup
               var $j = jQuery.noConflict();
               $j(document).ready(function() {
                    $('.album-block').magnificPopup({
                         delegate: 'span',
                         type: 'image',
                         tLoading: 'Loading image #%curr%...',
                         mainClass: 'mfp-img-mobile',
                         gallery: {
                              enabled: true,
                              navigateByImgClick: true,
                              preload: [0,1] // Will preload 0 - before current, and 1 after the current image
                         },
                         image: {
                         tError: '<a href="%url%">The image #%curr%</a> could not be loaded.',
                         }
                    });
                    
               });
          }
     }
     
}
</script>