<template>
     <div class="gallery-page content-block">
          <v-container>
               <section class="section-space">
                    <h2 class="section-title text-center">
					<span class="highlight1">Our</span>
					<span class="highlight2">Gallery</span>
				</h2>
                    <div class="gallery-block">
                         <v-row dense>
                              <v-col cols="6" sm="4" md="3" xl="2" v-for="(album, i) in albums" :key="i" class="px-2">
                                   <v-hover v-slot="{ hover }">
                                        <v-card
                                             class="mx-auto"
                                             width="100%"
                                             outlined
                                             >
                                             <v-img
                                                  :src="album.image_path"
                                                  height="200px"
                                                  :alt="album.name"
                                             >
                                                  <v-expand-transition>
                                                       <div
                                                            v-if="hover"
                                                            class="d-flex transition-fast-in-fast-out v-card--reveal img-hover-block"
                                                            style="height: 100%;"
                                                            >
                                                            <v-btn
                                                                 text
                                                                 color="#fff"
                                                                 elevation="0"                              
                                                                 @click="goToAlbum( album )"
                                                                 >
                                                                 View more
                                                            </v-btn>
                                                       </div>
                                                  </v-expand-transition>                                   
                                             </v-img>

                                             <v-card-title v-text="album.name" @click="goToAlbum( album )"></v-card-title>

                                        </v-card>
                                   </v-hover>
                              </v-col>
                         </v-row>
                         <paginate store="gallery" collection="albums" class="mt-5 pt-5" v-if="pageCount > 1" />
                    </div>
               </section>
          </v-container>
     </div>
</template>
<script>
import paginate from "../components/Paginate";
export default {
     components: {
          paginate
     }, 
     created() {
          this.$store.dispatch( 'gallery/getList', 1 );
     },
     computed: {
          albums: {
               get() {
                    return this.$store.state.gallery.albums.data;
               }
          },
          pageCount: {
               get() {
                    return this.$store.state.gallery.albums.last_page;
               }
          }
     },
     methods: {
          goToAlbum( album ) {
               this.$router.push({
                    name: "gallery.inner",
                    params: {
                         id: album.id,
                    },
               });
          }
     }
}
</script>