<template>
     <div class="home-page content-block">
          <v-carousel cycle height="100%" hide-delimiter-background>
               <v-carousel-item v-for="(banner, i) in banners" :key="i">
                    <v-img
                         :src="banner.image_path"
                         :alt="banner.title"
                         max-height="100%"
                         cover
                         class="grey darken-4"
                         >
                         <div class="banner-caption px-5 py-5 d-none" :class="[banner.text_position, banner.theme, banner.to_display ? 'd-sm-block':'d-none']">
                              <div class="banner-caption-wrapper">
                                   <div class="banner-caption-block">
                                        <h1 class="banner-title" v-text="banner.title"></h1>
                                        <span class="banner-description" v-text="banner.description"></span>
                                   </div>

                              </div>
                         </div>
                    </v-img>
               </v-carousel-item>
          </v-carousel>

          <v-container class="home-announcement">
               <div class="section-space">
                    <h2 class="section-title text-center">
                         <span class="highlight1">News &</span>
                         <span class="highlight2">Events</span>
                    </h2>
                    <div class="featured-activities mx-auto">
                         <v-card class="mx-3" width="500" outlined v-for="(activity, i) in activities" :key="i">
                              <v-img
                                   :src="activity.featured_image ? activity.featured_image : activity.latest_image.image_path"
                                   height="200px"
                                   :alt="activity.title"
                              ></v-img>

                              <v-card-title v-text="activity.title"></v-card-title>
                              <v-card-text v-text="activity.description" class="truncate-overflow pb-0 mb-2"></v-card-text>

                              <v-card-actions class="mb-4">
                                   <v-btn
                                   color="#a7c957"
                                   elevation="0"                              
                                   @click="goToActivity( activity )"
                                   >
                                   Read more
                                   </v-btn>
                              </v-card-actions>
                         </v-card>
                    </div>
               </div>
          </v-container>
     </div>
</template>
<script>
export default {
     data() {
          return {
               activities: {}
          }
     },
     created() {
          this.getFeaturedActivities();
          this.$store.dispatch( 'banner/getList');
     },
     computed: {
          banners: {
               get() {
                    return this.$store.state.banner.banners;
               }
          },
     },
     methods: {
          async getFeaturedActivities(){
               const res = await this.callApi("get", 'api/f_activities');
               if (res.status === 200) {
                    this.activities = res.data;               
                    this.loadSlick();
               } else {
                    console.log(res.errors);
               }
          },
          loadSlick() {
               // SLICK JS
               var $j = jQuery.noConflict();
               $j(document).ready(function() {
                    $('.featured-activities').slick({
                    slidesToShow: 4,
                    slidesToScroll: 1,
                    infinite: false,
                    arrows: true,
                    responsive: [
                         // {
                         //      breakpoint: 1199,
                         //      settings: {
                         //      slidesToShow: 3,
                         //      }
                         // },
                         {
                              breakpoint: 991,
                              settings: {
                              slidesToShow: 3,
                              }
                         },
                         {
                              breakpoint: 768,
                              settings: {
                              slidesToShow: 2,
                              }
                         },
                         {
                              breakpoint: 480,
                              settings: {
                              slidesToShow: 1,
                              }
                         }
                    ],
                    prevArrow: "<div class='slick-nav position-absolute prev'><div class='position-absolute icon-container'><i class='fas fa-chevron-left'></i></div></div>",
                    nextArrow: "<div class='slick-nav position-absolute next'><div class='position-absolute icon-container'><i class='fas fa-chevron-right'></i></div></div>",
               
                    });
               });
          },
          goToActivity( activity ) {
               this.$router.push({
                    name: "activity.inner",
                    params: {
                         id: activity.id,
                    },
               });
          },
     }
}
</script>