<template>
     <div class="login-page content-block">
          <div class="container">
               <section class="section-space">
				<div class="row">
					<div class="offset-sm-3 col-sm-6 offset-lg-4 col-lg-4 ">
					<div class="card text-center border-0">
						<h2 class="section-title">
							<span class="highlight1">Account</span>
							<span class="highlight2">Login</span>
						</h2>
						<div class="card-body">
							<form>
                                        <div class="form-group">
                                             <label for="email">Email address</label>
                                             <input v-model="user.email" type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Email Address">
                                        </div>
                                        <div class="form-group">
                                             <label for="password">Password</label>
                                             <input v-model="user.password" type="password" class="form-control" id="password" placeholder="Password">
                                        </div>
                                        <v-btn color="#a7c957" elevation="0" @click="login">Submit</v-btn>								
							</form>
						</div>
					</div>
						
					</div>
				</div>				
			</section>

          </div>
     </div>
</template>

<script>
export default {
     data() {
          return {
               user: {
                    email: "",
                    password: ""
               },
          }
     },
     methods: {
          login() {
               this.$store.dispatch( 'currentUser/loginUser', this.user )
          }
     },
};
</script>