<template>
     <div class="overflow-hidden">
          <v-toolbar
               class="bg-wht1 catalog-navbar"
               height="80"
          >
               <v-toolbar-title>                         
                    <router-link :to="{ name: 'home' }" class="navbar-brand">
                         <v-img :src="settings.logo" :alt="settings.name" width="60" max-height="60" aspect-ratio="1.0"></v-img>
                    </router-link>
               </v-toolbar-title>
               <v-spacer></v-spacer>
               <v-tabs class="d-none d-md-flex ml-auto">
                    <v-tab :to="{ name: menu.link }" v-for="(menu,i) in menus" :key="i" v-text="menu.text"></v-tab>
                    
               </v-tabs>
               
               <v-app-bar-nav-icon color="#6a994e" @click="drawer = true" class="d-block d-md-none"></v-app-bar-nav-icon>
               <v-menu
                    bottom
                    left
                    offset-y
               >
                    <template v-slot:activator="{ on, attrs }">
                         <v-btn
                         icon
                         color="#6a994e"
                         v-bind="attrs"
                         v-on="on"
                         >
                              <v-avatar v-if="logged">
                                   <v-img :src="currentUser.avatar" :alt="currentUser.last" v-if="currentUser.avatar"></v-img>
                                   <v-img src="/uploads/no_avatar.jpg" alt="avatar" v-else></v-img>
                              </v-avatar>
                              <v-icon v-else>mdi-account</v-icon>
                         </v-btn>
                    </template>

                    <!-- Logged In -->
                    <v-list v-if="logged">
                         <v-list-item
                              :to="{ name: 'admin.profile' }"
                         >
                              <v-list-item-title>{{ currentUser.first+' '+currentUser.last }}</v-list-item-title>
                         </v-list-item>
                         <v-list-item
                              @click="logout"
                         >
                              <v-list-item-title>Logout</v-list-item-title>
                         </v-list-item>
                    </v-list>

                    <!-- Guest -->
                    <v-list v-else>
                         <v-list-item
                         v-for="(item, i) in items"
                         :key="i"
                         :to="{ name: item.link }"
                    >
                              <v-list-item-title>{{ item.title }}</v-list-item-title>
                         </v-list-item>
                    </v-list>
               </v-menu>
               
          </v-toolbar>
          <v-navigation-drawer
               v-model="drawer"
               class="bg-wht1"
               absolute
               temporary
          >
               <v-list nav  dense>
                    <v-list-item-group
                         v-model="group"
                         active-class="bg-grn2 text-white"
                    >
                         <v-list-item :to="{ name: menu.link }" v-for="(menu,i) in menus" :key="i">
                              <v-list-item-title v-text="menu.text"></v-list-item-title>
                         </v-list-item>
                    </v-list-item-group>
               </v-list>
          </v-navigation-drawer>
          <router-view />
     </div>
</template>
<script>
export default {
     data() {
          return {
               logged: false,
               settings: [],
               drawer: false,
               group: null,
               items: [
                    { title: 'Login', link: 'user.login' },
                    { title: 'Register', link: 'contact' },
               ],
               menus: [
                    {
                         text: "Home",
                         link: "home",
                    },
                    {
                         text: "About Us",
                         link: "about",
                    },
                    {
                         text: "Board Members",
                         link: "bmember",
                    },
                    {
                         text: "Education",
                         link: "education",
                    },
                    {
                         text: "Activities",
                         link: "activity",
                    },
                    {
                         text: "Gallery",
                         link: "gallery",
                    },
                    {
                         text: "Contact Us",
                         link: "contact",
                    },
               ],
          }
     },
     created() {
          this.getSetting();
          if (localStorage.hasOwnProperty("mem_token")) {
               axios.defaults.headers.common["Authorization"] =
               "Bearer " + localStorage.getItem("mem_token");
               this.$store.dispatch("currentUser/getUser");
               this.logged = true;
          } else {
               this.logged = false;
          }
     },
     computed: {
          currentUser: {
               get() {
                    return this.$store.state.currentUser.user;
               },
          },
     },
     methods: {
          async getSetting(){
               const res = await this.callApi("get", 'api/cat_setting');
               if (res.status === 200) {
                    this.settings = res.data;               
               } else {
                    console.log(res.errors);
               }
          },
          logout() {
               this.$store.dispatch("currentUser/logoutUser");
          },
     }
}
</script>