<template>
  <div class="text-center" v-if="lastPage > 1">
    <v-pagination
      v-model="currentPage"
      :length="lastPage"
      :total-visible="8"
      circle
    ></v-pagination>
  </div>
</template>

<script>
export default {
     props: ['store', 'collection'],
     watch: {
          currentPage( newValue, oldValue ) {
               this.getToken( newValue, oldValue );
               // this.paginatePage( newValue );
               // this.catalogPaginatePage( newValue );
          }
     },
     computed: {
          currentPage: {
               get() {
                    return this.$store.state[this.store][this.collection].current_page;
               },
               set( value ) {
                    this.$store.commit( this.store + '/setCurrentPage', value);
               }
          },
          lastPage: {
               get() {
                    return this.$store.state[this.store][this.collection].last_page;
               }
          }
     },
     methods: {
          getToken( newValue, oldValue ) {               
               let accessToken = localStorage.getItem('app_token'); 
               if ( accessToken ) {
                    this.paginatePage( newValue );
               } else {
                    this.catalogPaginatePage( newValue );
               }
          },
          paginatePage( pageNumber ) {
               this.$store.dispatch( this.store + '/getList', pageNumber );
          },
          catalogPaginatePage( pageNumber ) {
               this.$store.dispatch( this.store + '/catalogGetList', pageNumber );
          },
     }
}
</script>